[2014-02-16 02:58] 26medias opened #2 "date_extractor's regex not replacing properly"
Hi,

in date_extractor.js, line 24 to 35, the replace regex replaces dates in the format "Feb. 14, 1969" to "February14, 1969" (no space between the month and the date), leading the parser to skip the date and only match the year.

Fixed by surrounding the replaced month names by spaces:

[code]

[2014-03-02 19:31] vmaliwal opened #3 "NPM installation throws error"
Below is the stack trace --

[code]

[2014-03-07 14:08] polomoshnov opened #4 "nlp.tag('Tony Hawk said he was very happy')[0] !== 'Tony Hawk'"
But stated otherwise at https://github.com/spencermountain/nlp_comprimise#named-entity-recognition

[2014-04-03 02:47] #2 closed, assigned to nobody

[2014-04-03 02:49] #3 closed, assigned to nobody

[2014-04-14 18:55] jacobp100 opened #5 "Real numbers, (i.e. 5) aren't recognised as cardinal numbers."
Title says it all.

[2014-05-01 04:57] kirbysayshi opened #6 "nlp.tag is not defined"
The README mentions it, but I don't see it in the exports nor does the current version published to npm have it.

[2014-05-01 14:00] #6 closed, assigned to nobody

[2014-05-23 05:53] dylanclement opened #7 "installing using `npm install nlp_compromise` gives me a `shasum check failed` error"
tried on my home and work computer, same error.

Also looks like the version on npm is still 0.0.7

[2014-05-25 02:54] dylanclement opened #8 "cannot find dates"
using this from node gives an error:
`Error: Cannot find module './dates'`

**Steps to reproduce:**
- npm install nlp_compromise
- node
- > nlp = require('nlp_compromise');

[2014-05-25 12:50] #8 closed, assigned to nobody

[2014-05-25 12:51] #7 closed, assigned to nobody

[2014-05-25 14:19] #4 closed, assigned to nobody

[2014-05-31 17:23] jacobp100 opened #9 "'Sixteen one' is two numbers, not one"
Twenty five should register as one number,
Sixteen one should not.

[2014-05-31 22:00] #5 closed, assigned to nobody

[2014-06-04 09:15] jacobp100 opened #10 "Add Fahrenheit, Celcius, and Kelvin to Inflect Uncountables"
I'm terrible with GitHub, and I'll probably screw stuff up trying to do this myself. But anyway, these need adding. Thanks!

[2014-10-16 11:33] scrivna opened #13 "date_extractor: Cannot read property '1' of null"
Hi,
I'm getting this error when trying to parse certain strings.
I've put in a hack for the function to always return null as i'm not using date extraction, but it's not a fix.

/node_modules/nlp_compromise/src/parents/value/coffeejs/date_extractor.js:224
          h[k] = arr[places[k]];
                    ^
TypeError: Cannot read property '1' of null
    at /node_modules/nlp_compromise/src/paren

[2014-11-07 19:10] #13 closed, assigned to nobody

[2014-11-14 18:46] MichaelPaulukonis opened #14 "are/were"
I'm new to nlp and am weak on my grammar, so maybe I'm barking up the wrong trees.

I'm using `nlp_compromise` to switch the verb-tense in sentences from past to present, or present to past, using `nlp.verb(vb).to_present()` or `nlp.verb(vb).to_past()` as required.

It's working great, for the most part, except for when I try to swap the tense of "They are friends" or "They were friends".

Is ther

[2014-11-15 01:00] #14 closed, assigned to nobody

[2014-12-03 23:13] #10 closed, assigned to nobody

[2015-01-06 17:14] spencermountain commented on #9
this is fixed in v0.2.3. thanks!

[2015-01-06 17:14] #9 closed

[2015-01-07 19:22] sherbondy opened #15 "January is not recognized by date_extractor?"
Heya,

This is a wonderful library. Hoping to use it to extract dates in a project, but I noticed that January consistently fails to be properly extracted in tests. I'm wondering if this is a subtle bug with indexes / accidental type coercion of 0 to false in date_extractor.coffee.

Would be happy to help you track down the issue if you have trouble.

Here is an example I just tried on master:
[co

[2015-01-07 19:25] sherbondy commented on #15
Hey, you know what, I think I figured it out:

parseInt("0") || null
returns null

Dat rough JavaScript lyfe.

[2015-01-07 19:27] sherbondy commented on #15
How about we replace || with ? and call it a day? Gonna submit a pull request in a little bit after I do some tests.

[2015-01-07 20:11] spencermountain commented on #15
Oh Ethan, you're a dear. Will merge any fix, thanks for the nice words

On Wed, 7 Jan 2015 7:27 pm Ethan Sherbondy <notifications@github.com> wrote:

[2015-01-08 00:09] sherbondy commented on #15
Well, I tried to fix things, but something went awry.
https://github.com/inboxapp/nlp_compromise

January works, but now half the time I call date(), null is returned.
There seems to be some bit of state that is persisting between calls, which is quite unfortunate.
Let me know if you get to the bottom of this, or manage to successfully cherry-pick a subset of these changes into a working fix!

[2015-01-08 12:46] spencermountain commented on #15
hey man, this is fixed in v0.3.0

[2015-01-08 12:46] #15 closed

[2015-02-21 13:19] Kroid opened #16 "Angular module"
I'm writing angularjs module for this - https://github.com/Kroid/angular-nlp-compromise, if someone need.

[2015-02-21 13:19] Kroid opened #17 "Bower"
Amazing library, thanks guy!
Please, add your lib to bower registry http://bower.io/ http://bower.io/docs/creating-packages/

[2015-02-22 14:32] spencermountain commented on #16
gorgeous!  thanks for doing this George!
i've added a link to your project and demo to the readme.
let me know if I can help at all
cheers!

[2015-02-22 14:32] #16 closed

[2015-02-22 14:57] spencermountain commented on #17
thanks george. I've added a bower package at the current version as 'nlp_compromise', but am not quite sure what i'm doing. can you check it out?
`bower info nlp_compromise`
cheers

[2015-02-22 15:17] Kroid commented on #17
I'm fixed path in bower.json - https://github.com/spencermountain/nlp_compromise/pull/19

[2015-02-22 15:17] #17 closed

[2015-02-23 21:36] Kroid opened #21 "nlp.spot not returning entity array, but rather an object"
From https://github.com/Kroid/angular-nlp-compromise/issues/1 :

[code]
![screen](https://cloud.githubusercontent.com/assets/882236/6337139/bf0845f4-bb75-11e4-8c17-e82af1e38323.png)

From docs:

[code]

I checked it from chrome console in example page http://rawgit.com/spencermountain/nlp_compromise/master/client_side/cute_demo/index.html

[2015-02-24 09:43] spencermountain commented on #21
yeah, that's just lazy documentation. i'm planning on doing a lot of work on this library in two weeks, and things will change. i'll fix this then, and let you know about any breaking changes.

[2015-02-25 21:08] lilnate22 commented on #21
so is thew example doc wrong? or the code base?

[2015-02-27 11:33] stevejay opened #22 "nlp.sentences doesn't split on '!'"
Example: nlp.sentences('How are you! That is great.') returns one sentence not two.

[2015-02-27 12:07] spencermountain commented on #22
ah, thanks steve. sounds like an encoding issue.
will fix it this weekend

[2015-03-03 04:09] spencermountain commented on #22
this is now fixed in 0.3.4
thanks!

[2015-03-03 04:09] #22 closed

[2015-03-03 13:39] kannanth opened #23 "Sentence boundary detection."
Very nice library.

When playing with some text pulled from a web article, noticed that the sentence boundary does not always work.

For example, the text below does not split sentences correctly.

The man who tried to kill former Pope John Paul II 33 years ago showed up at the Vatican on Saturday to put white roses on his tomb and said he wanted to meet Pope Francis.Mehmet Ali Agca, a Turk, left

[2015-03-03 15:29] spencermountain commented on #23
hey kannanth, thanks for the feedback.
there is no space after the periods of many of those sentences. That's expected for a proper sentence boundary, and i think it would be hard to support otherwise. Does it work to your liking if it has the space after the periods? That's a grammatical requirement, in my opinion.
cheers

[2015-03-04 04:32] kannanth commented on #23
Yes, it works fine if it has the space after the periods. I think a certain
level of normalization is required before invoking the library.

I think you can close out the issue!!.

On Tue, Mar 3, 2015 at 9:29 AM, spencer kelly <notifications@github.com>
wrote:

--
Best Regards
Kannan Thiagarajan

[2015-03-04 12:27] #23 closed

[2015-03-25 23:38] chinuy opened #24 "Sentence negate will negate everything"
for example:
[Orig]
They are based on different physical effects use to guarantee a stable grasping between a gripper and the object to be grasped.

[negate]
They are **not** based on different physical **didn't** effects use to **doesn't** guarantee a stable grasping between a gripper and the object to be grasped.

Maybe just negate the first verb would be sufficient.

[2015-03-26 15:15] spencermountain commented on #24
hey nick, I agree. this feature needs more work, though i believe it could be very cool.
the first-verb idea is a good one, do you have examples of when that idea works and when it doesn't?
what would be good is to make a huge test-set of proper negations of different types of sentences, wanna help? what's your use-case?

[2015-03-27 18:28] chinuy commented on #24
My use case is to falsify a sentence to confuse people from picking the correct one.

negating the first verb is an easy move. I think this should be done by verb priority weighting. I don't have curated testing set, but I absolutely can generate a bunch by processing articles.

I am glad to help!!

[2015-03-28 15:41] spencermountain commented on #24
very cool. I will have a crack at fixing it this weekend, and shoot it back at you this monday.
cheers!

[2015-03-30 01:58] spencermountain commented on #24
hey man, 0.3.5 has a re-write of this method, and it is much better. Passes 50 tests.
lemme know which issues you run into. I know two already, but see if you can find them ;)
-spence

[2015-04-01 04:45] chinuy commented on #24
It is excellent!! I will try more testing case and report to you if I find anything interesting.

[2015-04-01 14:55] spencermountain commented on #24
thanks

[2015-04-01 14:55] #24 closed

[2015-04-13 02:11] spencermountain commented on #21
fixed. thanks you two

[2015-04-13 02:11] #21 closed

[2015-04-16 13:24] alistairpaul opened #28 "Adding new Names for recognition using spot?"
I looked through a variety of files, but haven't found either a list or a method of where I can append known people/organization names for recognition using .spot -- does this exist and I'm just missing it?

[2015-04-16 13:55] spencermountain commented on #28
hey alistair, if you know what you're looking for, sounds like you may be interested in this library instead.
https://github.com/spencermountain/my_word
cheers

[2015-04-16 13:55] #28 closed

[2015-04-16 14:30] alistairpaul commented on #28
I *wish* I knew what I was looking for, but I'm experimenting with parsing some resumes, and want to try to do Person Name and Organization Name recognition, so the .spot feature in nlp_compromise is what I'd like to use as a concept, but it doesn't recognize even my own name, so I attempted to find some way to append custom names to a list, sort of like training the OpenNLP model.  Thanks for the

[2015-04-16 14:54] spencermountain commented on #28
yeah, sounds tricky. maybe you could try ```nlp.pos(resumes).nouns()``` then do some kind of personal filter on it, for what you'd like as an entity. If that's not getting them, it's probably a machine-learning problem.
cheers

[2015-04-17 15:01] lilnate22 commented on #21
not fixed:

![image](https://cloud.githubusercontent.com/assets/882236/7204536/154db2d8-e4f1-11e4-9695-270a16a6662d.png)

[2015-04-17 15:03] lilnate22 opened #29 "nlp.spot not returning entity array, but rather an object (still)"
![image](https://cloud.githubusercontent.com/assets/882236/7204548/30622054-e4f1-11e4-9861-58dfff1b8455.png)

lates nlp.js from master:
![image](https://cloud.githubusercontent.com/assets/882236/7204570/64acd32c-e4f1-11e4-8c63-ba7014ad6653.png)

[2015-04-17 15:13] lilnate22 commented on #29
When words are capitalized, you get an array of objects:
![image](https://cloud.githubusercontent.com/assets/882236/7204683/37a4007a-e4f2-11e4-8b06-76bd1b0186c3.png)

[2015-04-28 22:07] scottyli opened #33 "nlp.pos('constructor') is returning an error"
[code]

[code]

[2015-04-28 22:20] spencermountain commented on #33
thanks scott, i will take a look

[2015-04-28 22:30] scottyli commented on #33
Upon further investigation, it's this line https://github.com/spencermountain/nlp_compromise/blob/master/src/pos.js#L190

```contractions["constructor"]``` will return something like ```function Object() { [native code] }```

[2015-04-29 04:01] spencermountain commented on #33
ah, this is a great one. Think i found all places where I should use hasOwnProperty, thanks a bunch. crash-test it in 0.3.10.
cheers

[2015-04-29 04:01] #33 closed

[2015-04-29 09:23] redaktor opened #34 "Just FYI."
@spencermountain
Please see this demo http://expresso-app.org/tutorial ...
I made the same demo with your nice project.
More or less lazily by porting the "python metrics logic" to .js.
The advantages are : .js only and onKeyPress ... Think of a better http://www.hemingwayapp.com ;))
Will work on it later today. Also pointed the author of expresso to your project.

The method could either be contr

[2015-04-29 09:23] #34 closed

[2015-04-29 17:52] scottyli opened #35 "nlp.sentences() not returning all sentences"
[code]

I think it's because of the abbreviation regex is picking up ```ill.``` as an abbreviation, rather than the end of the sentence.

https://github.com/spencermountain/nlp_compromise/blob/master/src/methods/tokenization/sentence.js#L11

Similarly, ```nlp.sentences("It was Sunday. He attended mass.")``` only returns ```["It was Sunday."]``` too

[2015-04-29 19:22] redaktor commented on #35
@scottyli :+1: just noticed here: https://github.com/spencermountain/nlp_compromise/pull/30

now we need to add the "opposite way" ;)
If a sentence ends with a (listed) abbreviation sentences might not split.

And I would like to raise another _question_ :
For negations It seems, the ```logic_negate``` object just works in one direction.
Test : "joe never swims in the pool."

Apart from that I wou

[2015-04-29 20:17] redaktor opened #36 "feature request : phrasal verbs stemming"
In the default mode [without ```{dont_combine:true}```] it would be nice to have phrasal verbs recognized – as they can have a totally new meaning. For example

```look back``

[taken from http://www.englisch-hilfen.de/grammar/phrasal_verbs.htm]

[2015-04-29 20:40] spencermountain commented on #34
very cool stuff!
let me know if i can help with anything on this side.

[2015-04-29 20:50] spencermountain commented on #34
an on-keypress version of either tool would be very neat, there was a guy on twitter talking about making  a text-editor plugin for something similar.

one thing we could consider is some kind of caching layer, so that each keypress only re-calculates the current sentence, or whatever. it seems redundant to parse a whole novel again at each keypress.

a challenge i'd say too, is to make something

[2015-04-29 20:56] spencermountain commented on #35
hey, thanks. yes I agree about the negative -> positive method.
What would be the best api for that do you think? ```sentence.unNegate()```?

I've fixed the 'ill.' bug, but am gonna add a bunch more unit tests to make sure. @scottyli do you wanna add some more too?

consolidating a lot of the data is a good idea, as there are some redundant parts too. If we could reduce filesize noticably, a refac

[2015-04-29 21:09] spencermountain commented on #35
fwiw, here are the biggest data files:
* lexicon  - 38k
* unambiguous_suffixes (very redundant) - 20k
* verb_irregulars (very redundant) - 20k
* unicode_normalisation (kinda dumb) - 13k

there are big wins to be made here, but there should be more pos tests, before we start slashing-out data

[2015-04-29 21:11] spencermountain commented on #36
i completely agree. the actual verb is 'look back', and not 'look', like most systems do it.

lets do this.

[2015-04-29 22:06] redaktor commented on #34
@spencermountain Yep. Exactly.

I thought about a ['word', 'sentence'] flag for each metrics method to show when it needs to be recalculated off course (there are a few only measured when we have enough words but before they are simply 0) .

[2015-05-01 11:20] redaktor commented on #34
@spencermountain

I made a sneak preview in a gist:
https://gist.github.com/redaktor/e5866669e238221e7cef

The EXAMPLE.js is commented, but
• "blacklist.js" must be placed in the ./src/data folder
• "index.js" must replace the ./index.js [to include blacklist.js as well]

The metrics which are not finished yet do all require the stemming of verb groups, either "normalized" like in
[code]
or as phr

[2015-05-01 13:17] spencermountain commented on #34
oh, very cool.
are you proposing this as a secondary library or a change to this current library?
I've done some refactoring of the lexicon file, and will try to add phrasal verb support, based on the examples you have in that gist.
any ideas ie copula verb reclassification, please let me know.

I had an idea for simplifying english based on this library, which has some overlap with what you're wo

[2015-05-01 17:34] redaktor commented on #34
gist just updated with verb group rules. Still working on it.

However :

Do you mean in the browser ?

[2015-05-01 17:39] spencermountain commented on #34
yeah, if you're planning on implementing new features for nlp_compromise, let me know. Things like swear-detection may not be right for this project. I'd be really supportive if you made a dependent library for this sort of thing.
Yeah, being light-weight is critical, as this is intended for the browser, mobile etc.
cheers

[2015-05-01 18:00] redaktor commented on #34
Hm,
we are working on a huge decentralized cms. We use AMD and conditional requires allover.
That makes it lightweight (we are using http://dojotoolkit.org and their upcoming features) but I understood you want it "dependency free".
However - the metrics can be another library but see the comment
```TODO FIXME - should go to lexicon```
This should go to the main library. I am working on a german c

[2015-05-02 20:29] redaktor commented on #36
Ok, it needs to fit into the "no training environment" - so:
The best approach that  I could find after a "one day research" was the Expert Lexicon Formalism as defined in http://www.aclweb.org/anthology/P03-1065 ...

[2015-05-09 15:16] redaktor opened #38 "is_plural again"
Hm - the last commit does not work properly because

in ```pluralize_rules``` we have rules for both singular to plural AND plural to plural
while
in ```singularize_rules```it is only plural to singular

(???)

In general I am working on a factory method called "dictionary" based on the "words" and "rules" and this can be autotranslated by our database to several languages covering the ngram and m

[2015-05-09 15:23] spencermountain commented on #38
yeah, i agree. 'towns'.pluralize() should be 'towns'.
gimme a sec.

[2015-05-09 15:37] redaktor commented on #38
yeah, maybe I got it already - we are doing the same now ;)
In general it must be
[delete/rollback my commit] - I am deeply sorry.
```singularize_rules``` SHOULD cover 'plural to singular' AND 'singular to singular'.

[2015-05-09 15:39] spencermountain commented on #38
;) no problem. can you check out the current version? I've added some ```towns.pluralize()==towns``` tests and they look so-far-so-good

[2015-05-09 15:43] redaktor commented on #38
:+1: will check.
If you've got an additional minute:
This is a WIP proposal of the "dictionary" I mentioned above.
Basically this could be a helper for development.
It is not complete. Please read the TODO comments and see the generator functions at the end.
And when I would add 'rules' like 'words' logic and (language or context specific) data is fully seperated for development.
It is a simple ge

[2015-05-09 16:10] redaktor commented on #38
@spencermountain Yep. works.
I need to correct the dictionary for the nouns a bit and there are some dups. already covered by rule :
[code]
The dictionary also adds some more irregular plurals not covered by rule and compresses them by replacing the plural by singular.slice(0,-2) ...
btw: maybe also a good starting point here to do some https://theintern.github.io tests ...

[2015-05-09 16:48] redaktor commented on #38
updated dictionary,
the replace function will become short syntax, for now e. g. irregular plurals looks like
[code]

[2015-05-10 15:16] spencermountain commented on #38
oh, this idea for pulling these out into a file is good. They can go in the lexicon. Good one!

[2015-05-10 15:19] spencermountain commented on #35
hey, i'm gonna close this, the .unNegate() will take some thinking, and most of the bigger data has found its way to the lexicon. thanks!

[2015-05-10 15:19] #35 closed

[2015-05-10 16:26] redaktor commented on #38
cool. Please note that the $ replacer in the zip function must be stripped in regexes like in the zip.map function above. It might be better to use another small special character. Note to me: think before you code ;)

[2015-05-19 16:49] redaktor opened #39 "language independence ..."
Hey there,
again : this is not an issue.
The changes recently done are totally fine but let me explain why I make (made or **am planning to make**) which changes in the fork https://github.com/redaktor/nlp_compromise

As a European I would love this project to be as multilingual as possible ;)
The changes made have these goals :
• for contributing be totally explanative and readable
• for transpor

[2015-05-19 17:06] redaktor commented on #36
:+1: for did it. Closing issue now.

[2015-05-19 17:06] #36 closed

[2015-05-19 17:54] spencermountain commented on #39
hey man. Love the ideas.
I'm not ready to take the plunge into other languages yet, though kudos to the work you're doing.
amd support, etc is great, if you keep the PRs small.
The /adverbs_decline and stuff is also cool, have you added any more english data?
my guess is that any new languages will require a brand new pos.js file, conjugation logic, etc.. then it begins to feel like they should ha

[2015-05-19 18:41] redaktor commented on #39
But why should it be in other repos?
The rewritten modules in the fork load languages from the /en /de whatever folders in runtime.
It falls back to english.
But let's say nlp.noun('person', 'de').pluralize() should return 'personen' and not 'persons' ...
This can either be solved elegant in
- node.js
or
- browser / AMD
(use cached when loaded already like 'en' [or perhaps an option.defaultLang] a

[2015-05-19 19:18] spencermountain commented on #39
yeah, i understand what you're thinking. my concern here is that in most lines of code there are assumptions about english - noun.inflect() for example, doesn't make sense to korean nouns.. I'm afraid it's not been built to be very generic, so it will involve more than just swapping the lexicon.

So my recommendation would be to get data for one language, and see how it behaves before designing an

[2015-05-19 19:23] spencermountain commented on #39
or nlp_kompromiss ?

does german have similar parts of speech even? I know there's a third gender.. or gendered verbs or something. I really know nothing.
let's make a repo and have fun.

[2015-05-19 19:30] spencermountain commented on #39
...wanna? I couldn't do it without a fluent language-speaker.
I speak some french, but badly. How's yours??

[2015-05-19 19:47] spencermountain commented on #29
hey, i've updated the documentation for this. As I've added more functionality, it's become clearer that the api should return objects for everything, then they can be flattened with .text(). Sorry for the delays.

[2015-05-19 20:51] redaktor commented on #39
Yes - I am coding as fast as I can ;)
I' ll do german and we have translators for spanish and maybe one for danish/swedish.
But however. First we need to make translation easygoing, I thought.
Regarding the rules - I find multiple similar rules in german which need just to be slightly modificated, e.g. the substitution value changes...
My french is badder than yours ;)

[2015-05-19 21:30] redaktor commented on #39
just a few, like

// things that are often named after people
{ en: 'club', meta: {personBlacklist: ['en']} },
{ en: 'museum', meta: {personBlacklist: ['en']} },
{ en: 'hall', meta: {personBlacklist: ['en']} },
{ en: 'arena', meta: {personBlacklist: ['en']} },
{ en: 'stadium', meta: {personBlacklist: ['en']} },

[2015-05-20 15:12] lilnate22 commented on #29
shouldnt this still remain open?

"Joe carter loves tornto" still returns only 1 object: "joe carter"

the toronto is missing

[2015-05-21 10:27] redaktor opened #40 "Prepositions (IN)"
Hey there,

when I initially compared the data it ignored the prepositions (IN) due to a typo and our db splits in pre- and postpositions. Got that now and found some prepositions which are listed in other categories:
"before":  is also CC,
"round": is also JJ,
"apart": is also RB (but can be preposition "apart from this" OR postposition "this apart")

And we list some prepositions which are not i

[2015-05-21 15:01] redaktor commented on #40
and a question:
see handle_contractions in pos.js ...
Shouldn't the negative contractions be handled here too?
```"cannot": ["can", "not"]``` is the only one.
But how about stuff like
```"shouldn't": ["should", "not"]```

This would affect logic_negate, I assume.

[2015-05-21 15:16] spencermountain commented on #40
ah, very nice.
let me take a look..

[2015-05-21 17:12] redaktor opened #41 "Contractions"
Please note that ```he's```and ```she's``` becomes ```['he', 'is']``` and ```['she', 'is']```
but it could also be ```['he', 'has']``` and ```['she', 'has']```
[stackexchange](http://english.stackexchange.com/questions/58921/does-hes-mean-both-he-is-and-he-has)

• how about ``ìt```?

• shouldn't the negative contractions be handled here too?
"cannot": ["can", "not"] is the only one.
But how about

[2015-05-21 21:08] spencermountain commented on #41
oooh, very nice find.
i guess we could figure it out by the next verb? is it just he's/she's/it's with this ambiguity?

[2015-05-22 08:58] OS-Chris commented on #41
What about who, what, when, where, why & how ?
who is, who has....

[2015-05-25 17:23] redaktor commented on #41
just btw: added this project to the corresponding awesomeness:
https://github.com/edobashira/speech-language-processing

[2015-05-28 18:50] #40 closed

[2015-05-28 19:24] #38 closed

[2015-05-28 19:44] redaktor opened #42 "Changes in the fork and the pull request ..."
Hey,

just commited nearly the last changes to the fork
https://github.com/redaktor/nlp_compromise
before I could do a pull request.

I need to eliminate the
• 'hardcoded' dups in lexicon generation
• last 37/1360(?) tests failing

The lexicon will be at least 10% smaller then and I really think starting with this structure
language dependent contributing can become easy.
Just because I saw you we

[2015-05-28 20:16] spencermountain commented on #42
hey yeah, can you make smaller pull requests?
i'm a bit worried about some compression strategies making things less readable/maintainable.
I guess it's a trade-off, but should be discussed.
and yeah, i'm not ready for adding multiple-languages into the api yet.
looks like neat work.
-spence

[2015-05-28 22:18] spencermountain commented on #41
figured out a solution for `he's, she's, it's, who's,what's,where's,when's,why's,how's`

it is 'is' unless the next verb is negative, then it's 'has'
will keep this open until I address "n't" properly.
thanks!

[2015-05-28 22:43] spencermountain commented on #42
two things:
i've been thinking about using browserify, instead of all the node-specific export stuff
This would let us get rid of lots of that cruft.

second, i guess removing quotes off some properties would reduce filesize, I forget how 'proper' that is, and if we're supposed to do that or not. it's fine by me if it doesn't introduce any issues.

thirdly, ;)  pretty sure " and ' are both one cha

[2015-05-29 08:20] redaktor commented on #42
thirdly, ;) pretty sure " and ' are both one character, of same filesize, if that's what you're up do.

I think they are better readable. Apart from that following
https://github.com/airbnb/javascript#strings

About the compression stuff.
It would be easy to change the factory stuff so that just the minimized client-side gets
compressed by replacing.
All the characters for replacing are 1 byte. No

[2015-05-29 13:07] spencermountain commented on #42
yeah, is there a way to only do the compression like that on the client-side?
..short of a client-side gzip?

[2015-05-29 17:47] redaktor commented on #42
absolutely. I'll have a look in an hour.
It was written from scratch. It will go to grunt.
I think the replacing is different from gzip. While no code can run before unzipped (at least without AMD), the uncompressing will take place after the page is there and while a possible writer thinks about his first word.

[2015-05-31 12:02] redaktor commented on #42
• only for nlp.min.js
• only running ```grunt```

will now also build all detected languages ('possibleLanguages')...
**done**

[2015-05-31 13:18] spencermountain commented on #42
hey so i just figured out browserify, which handles 'require' nicely on the clientside. it means no more concatenation of files, which means we don't need closures and stuff. it's pretty cool.

do you have any ambitions to get some of these changes back into this project? right now, your branch is 20 ahead, and 20 behind...
is grunt doing zip when it builds? that's clever.

[2015-05-31 13:53] redaktor commented on #42
Well, theoretically it is 20 behind. Practically it is just 2 behind (your commits #40 and #41  – and I am doing them now).
Unfortunately github is not as clever as humans and can't detect when a change you made in between was merged to my "different structure".

Give me some hours and I could comment it better - unfortunately I have to drive to Hamburg now
(3 hours).

Regarding browserify:
My fri

[2015-05-31 16:29] redaktor commented on #42
... the nlp.min.js is now 12% smaller while maintaining readability in modules.

Regarding AMD this is the shortest tutorial for
• confirming my view ;)
• showing the difference
http://blog.millermedeiros.com/amd-is-better-for-the-web-than-commonjs-modules/

Regarding dojo the documentation is here
http://dojotoolkit.org/documentation/#modules

But I would provide a demo anyway.

I would suggest t

[2015-05-31 17:21] redaktor opened #43 "Question / feature request"
for normalizing the input:

How about all normalizing all typographic stuff like curly and special quotes
to well the normalized ones ?

maybe useful for e.g.
O’Reilly to O'Reilly etc.

see http://practicaltypography.com/straight-and-curly-quotes.html

and note to me :
Maybe it would be useful to write a "preprocess" test, testing if everything in .js and .min.js ("expanded") is the same.

[2015-05-31 17:55] spencermountain commented on #42
hey Sebastian, just to be clear, I'm not going to merge this pull request, if you make it.
You gotta keep them small, and re-architecting requires planning+coordination. I'm not ready to support other languages, and i'm worried about further-compressing to obfuscate the dictionaries.
i'm pretty open to collaboration, but needs planning of this scale.
Break it into smaller ones?
fwiw, EVERY file ha

[2015-05-31 17:57] spencermountain commented on #43
nice idea. will add to tokenize.js

you wanna do it?

[2015-05-31 20:05] redaktor commented on #42
Sorry,
I don't get it (?)

This would mean we can just maintain our own fork because the changes in the data part
were contributed in the issues and you merged them.

Nothing is compressed or obfuscated, only the client_side nlp.min.js (but isn't that the "goal" of this file?)

??? Have you noticed I made a new fork on 28th?
Since then these are the changes:
https://github.com/spencermountain/nlp_

[2015-05-31 20:26] redaktor commented on #42
Maybe I missed anything. But the idea was that if you add any "language" key to the dictionary (even if it is just one)
```> grunt``` would do the rest
Let us say we add to JJ
[code]
```> grunt``` would make a "de" folder with the contents it can.

(I need to add the rest of rules to dictionary_rules to make it complete ...)

A practical example what I'll do afterwards:
The University of Cologne h

[2015-06-01 01:16] spencermountain commented on #42
yeah, `80-34-17 = 29`, you gotta make it easier on me. Just break it into smaller, cleaner PRs, explaining the benefit of each one. I love your help with this project, big time. Just follow the pull request etiquette.

Alternatively, I could make a german repo, I could add you as admin, and we could blast away - prefer that?
cheers
-spence

[2015-06-01 15:10] redaktor commented on #42
just btw:
There is a nice new grunt task for babeljs.io :
https://github.com/babel/grunt-babel

I wonder if that means we can write native Javascript modules today and just grunt
I mean https://github.com/airbnb/javascript#modules which have the same effect than dojo modules but they are coming with ES6 ...

[2015-06-01 15:59] spencermountain commented on #42
yeah, totally. i don't know a lot about this stuff, but maybe we'd also get a speed-boost using the new Map objects, instead of regular {}?  definitely worth checking out, I don't know what the compiled es5 looks like, it could be really huge?
i'm not too picky about babel/browserify doing the 'require' bit. either's good.
-spence

[2015-06-01 22:33] redaktor commented on #42
yeah. However just wanted to mention that I merged the last of your changes in the 'single' commit https://github.com/redaktor/nlp_compromise/commit/5be7208cb950c840edbd923c0797c5ee9525112a (I skipped grunt, this is just to explain) - as you can see we already have the nouns.pps referenced_by used already build by '_dictionary.js'.
There is no need to list this words again here, so I basically did

[2015-06-01 23:01] redaktor opened #44 "use of var in for loops ..."
Regarding
https://github.com/spencermountain/nlp_compromise/commit/a7f1e683265b6a9d8765b21662dee602d02f4d0c ->  src/parents/noun/conjugate/inflect.js
please see e.g.
http://stackoverflow.com/questions/5717126/var-or-no-var-in-javascripts-for-in-loop

Usually it is "better practice" to use var in each for loop...
Personal opinion. Just saying.

[2015-06-02 10:18] redaktor opened #45 "referenced_by and reference_to"
Hey,
please see https://github.com/spencermountain/nlp_compromise/blob/master/src/parents/noun/index.js

```referenced_by``` uses the ```var posessives``` (typo ?). It is defined in the scope of the module and is
[code]

while ```reference_to``` uses the var ```var possessives``` defined in the scope of the function which is just
[code]

Shouldn't both be the same and maybe
[code]
?

[2015-06-03 10:04] franciscop opened #47 "Circa, or c."
Is it possible to add an exception for the following regex?

    /c\.(\ ?[0-9]+)/

Right now I'm using a small script to pre-process the text that I want to analyze with nlp_compromise. The current solution that I am using looks like this:

    raw = raw.replace(/c\.(\ ?[0-9]+)/g, 'circa $1');

Basically, any `c. YEAR` will be replaced by `circa YEAR` so nlp doesn't mess up with that `c.`. While o

[2015-06-03 12:34] spencermountain commented on #47
ah, of course. great idea.
will add it this afternoon. thanks!

[2015-06-03 13:02] redaktor commented on #47
when it comes to years:
as a good christian ;) may I also ask how to deal with b.c. or a.d. years (historic publications).

[2015-06-03 16:08] spencermountain commented on #47
i think bc and ad are supported, even in the date parser, but I will check.

[2015-06-04 07:53] franciscop commented on #47
Thank you @spencermountain . There are few [similar things to circa in wikipedia](https://en.wikipedia.org/wiki/Circa) which would benefit from this:

    c.
    ca.
    circ.
    cca.

This could be done [with this regex](https://regex101.com/r/aN6jZ1/1):

    /(cca|circ|ca|c)\.\ ?[0-9]+/g

Note: inverse order for better matching. Also, there's a small test to make sure that `CA. 1954` is not mat

[2015-06-04 07:57] franciscop commented on #47
About other, I completely agree with a.d. and b.c., I didn't encounter them in the texts I am parsing but I think they could also be treated in a similar way.

[2015-06-04 16:14] redaktor commented on #42
Note: There are (the last) 2 tests failing. The logic here does not "match" the changed structure.
Please see https://github.com/spencermountain/nlp_compromise/blob/73520773d6c35a9bbe7d7dbbbd698aa1e1c0f54c/src/parents/verb/conjugate/verb_irregulars.js
The conjugation of ```be``` is listed twice.
[
[code]
...
[code]
]
This is a bit confusing. However I could add one of the conjugations 'manually'.

[2015-06-04 16:18] spencermountain commented on #42
yeah, noticed that. maybe it deserves a special case in conjugate.js.

[2015-06-05 12:56] redaktor commented on #42
[code]
MD should behave like CP if it has no special case...
I'll do that now and then I could start submitting (nicely packed) ...

[2015-06-05 16:47] spencermountain commented on #47
so the list of supported abbreviations is in [./data/abbreviations](https://github.com/spencermountain/nlp_compromise/blob/master/src/data/lexicon/abbreviations.js)
and [./methods/sentence.js](https://github.com/spencermountain/nlp_compromise/blob/master/src/methods/tokenization/sentence.js)

the idea being that the ones in abbreviations.js are all nouns, and the ones in sentence.js aren't.
but my

[2015-06-05 17:04] redaktor commented on #43
note: I did it, I'll submit it with the fork but it raised two questions about
methods/tokenization/tokenize.js

This is what it looks now (with complete curly quotes replacement):
[code]

• Is the ```str``` trimmed here already ?
and
• if the ```str``` is not normalized in the end
[code]
we could normalize it further by your ../transliteration/unicode_normalisation.js
before
[code]

[2015-06-05 17:11] spencermountain commented on #45
hey, so I've added
    "mine": "i",
    "yours": "you",
    "our": 'we',
they're still not working though, can you look at it?

[2015-06-05 17:12] #44 closed

[2015-06-05 17:20] spencermountain commented on #43
the fix looks great, i've added a test too.

[2015-06-05 17:20] #43 closed

[2015-06-05 17:50] redaktor commented on #42
@spencermountain
I am done now with the changes, just the browserify-Gruntfile and your last unit_tests ...
Although the complete separation of program logic and data logic is not totally complete,
I think now could be a good moment to start contributing it.
It has just to be done as logical as possible -

How about the following procedure ?:
1.
There are 3 important _dictionary files in src/data

[2015-06-05 18:16] spencermountain commented on #42
hey man, github won't even display this diff, this thing is way too gnarly to get merged.
I've been clear, adding more languages is not about just changing the dictionary/rules, each if statement is making an assumption on english. Dude, If you want to make changes, you're gonna need to make a way(!) smaller request. The grunt-zip idea sounds interesting. I'm receptive if it reduces client-side fi

[2015-06-05 19:16] redaktor commented on #42
But the if statements will become the "rest of the rules" in dictionary_rules. We already have a partial german "version"
- wait it is not a "version" - since you can just do nlp.setLang('de') but I thought it would be to complicated to introduce it for now.
The above procedure step 3 could be in "per file"-requests but the other 3 could not without breaking anything (including client) ...

[2015-06-05 19:58] #39 closed

[2015-06-07 15:20] #42 closed

[2015-06-08 16:00] redaktor opened #49 "performance / why is it running twice ..."
Hey there,
contributing from my fork doesn't make sense because the structure will change to 'only the 3 dictionary files and a factory' soon.
However - let me ask some perfomance questions.
Maybe I missed something, hidden in the code, but
--> several 'autoclosure' functions run every time when a module is required.

Let's take an example - the conjugation of verbs which is used quite often.
I'll

[2015-06-08 16:07] spencermountain commented on #49
yeah, this is a great point.  the whole '.analysis' thing is poorly implemented. These methods auto-fire because they're used variously around the library, (in places i now forget) and i thought caching it on create was a good idea... it's probably not. The verb one is the worst one, but the other parents do it too

[2015-06-08 16:09] spencermountain commented on #49
there was a point when i thought pos.js would just decide 'noun,verb,adj', then `parent.analysis()` would figure out if it was plural, acronym, past-tense, whatever. that kinda fell apart

[2015-06-08 19:15] redaktor commented on #49
but it is not about

it is about not using the cached from the beginning

the easiest fix:

after
[code]
insert
[code]

change 'the.conjugate' to
[code]
and the.form to
[code]

[2015-06-08 20:56] redaktor commented on #49
In general it is up to the project using nlp but usually I would rather wait 200ms more when it is loading (before starting to write) if the things done 'on keypress' are much faster ...

[2015-06-08 21:00] spencermountain commented on #49
+1 make a pr?

[2015-06-09 14:09] spencermountain commented on #49
maybe caching is something we should do for every method.. some kind of window.cache={} or something

[2015-06-11 09:55] redaktor commented on #49
Well,
then it would need a constructor/factory as well.
There is no inheritance in this project since the 'index' is a plain object and not a constructor/factory function (I think it is called constructor in AMD and factory in node modules). However - I mean
http://metaduck.com/08-module-pattern-inheritance.html ('module pattern').

And I think basically such a project should have a preprocessor a

[2015-06-11 11:55] redaktor commented on #49
another possibility would be to add a 'singleton' cache module like
[code]

[2015-06-11 15:05] spencermountain commented on #49
ooh i vote singleton!  will you implement this?

[2015-06-11 18:46] spencermountain commented on #49
couple thoughts:
i know hashes hash things, but does it make sense to do this?
``` return cache.nlp[Md5(key)]``` if say, we're caching a long sentence?

lastly, if we're adding a one-liner to every method, we should make sure to write the cache to make this line as cute as possible. something like this?
[code]

[2015-06-11 18:49] spencermountain commented on #49
it would be annoying if our cache-hit line became hard to maintain

how much faster do you think it would be, for our tests and things?

[2015-06-11 18:52] spencermountain commented on #49
(last thing) ..... or maybe it could *all* be implimented in index.js?
is that where you were going?
ie, it just gets inbetween nlp and it's functions.. invisibly.

[2015-06-13 12:15] redaktor commented on #49
Yes - what I did is similar. It reads e.g.
[code]

[2015-06-13 17:46] redaktor commented on #49
a comparison (not ready yet) ...

| test  | redaktor  | original |
| ----- | --------- | -------- |
| ✔ ambiguous contractions  | 19ms  | 27ms  |
| ✔ referenced by  | 14ms  | 30ms  |
| ✔ reference to  | 7ms  | 17ms  |
| ✔ referables  | 2ms  | 4ms  |
| ✔ noun.pronoun  | 1ms  | 6ms  |
| ✔ sentence.people  | 4ms  | 8ms  |
| ✔ phrasal verbs  | 4ms  | 6ms  |
| ✔ word tokenization  | 1ms  | 2ms  |
| ✔ i

[2015-06-13 17:48] redaktor commented on #45
Hm,
in the fork it seems to work. Could you add some tests ?

[2015-06-13 19:01] spencermountain commented on #49
WOW!

[2015-06-14 10:02] redaktor commented on #49
just btw:
why not make use of factories?
Functions returning functions totally avoid the duplication of code known as "spaghetti code" ;)
An example: src/section.js –
it has now **109** lines but it is the same like this **57** lines (52% code) :

[code]

[2015-06-14 14:36] spencermountain commented on #49
i like this too. feel free to add it. nicely done.

[2015-06-14 15:59] redaktor commented on #49
I pushed it to the fork (renamed exports.sugar to exports.fn for pretending to be serious).

It will maybe be next weekend when I can consider the fork as not being broken anywhere
and then you'll get a clue of the whole thing.
We are merging some ideas with the redaktor translation center where anyone can propose new translations via web and things go to git automatically (to our fork first). It

[2015-06-14 16:12] spencermountain commented on #49
;) i'm certain jesus gave up on javascript a long time ago.

if the average vocabulary is 50k words, and each word is 5 bytes, you'd have still room left on a floppy drive, if we only cache-by-word.
that sounds like a tricky problem.

[2015-06-14 16:15] redaktor commented on #49
:+1: finished pushing just now. coding again.

[2015-06-14 16:46] redaktor commented on #49
ah - I see -
[stats](http://www.biblebelievers.com/believers-org/kjv-stats.html) = 788k * 5  = 3940k ...

But the problem is that we are caching the underlying methods seperately and some have object keys as well.
Let's say the average caching hit is 7 and each word has at least + a key (2) and if we store objects it is *3

3940k * 7 * 2 * 3 = 165480k = 158MB.

Well - it doesn't sound that worse.

[2015-06-14 16:50] redaktor commented on #49
please also note that browserify currently does not work in the fork because I did not code the splitting of .min and normal files and cleaning up. Doing this now.

[2015-06-15 14:34] nitaku opened #50 "ngram: support for ngrams with size equal to 1"
Currently there is no way to use nlp.ngram() to perform a simple word frequency calculation (i.e. ngrams with size equal to one). Setting the max_size option to 1 produces ngrams with size 2. Setting max_size to 0 also gives the same result. I suspect that these two are the lines responsible for this issue: https://github.com/spencermountain/nlp_compromise/blob/master/src/methods/tokenization/ngra

[2015-06-18 22:33] spencermountain commented on #50
hey Matteo, you just want a word-frequency calculation? I think ngram is much a different concept then. That task is much simpler:
[code]
good luck!

[2015-06-18 22:54] nitaku commented on #50
Thank you for your help (and for your awesome library)! I wanted to use your ngram function because it seemed to me that it also cleans up the text from punctuation etc.
I understand that a proper ngram should be more than one word, but I got confused trying to achieve this result (and by the fact that calling the function with max_size=2 returns ngrams with size<=3 (!), including the ngrams with

[2015-06-19 08:39] redaktor commented on #50
Hm, the only bug I can find is that it returns ngram up to a ```max_size``` ```+1``` .
This is due to the summing up before line 37.
Change line 37 to (instead '<=')
[code]

I don't get the point.
When you change the line above and comment out the last lines in ngram.js - isn't this the output?

[code]

[2015-06-19 09:22] nitaku commented on #50
@redaktor Yes, the modification you described is what I did in my local copy of nlp.js, sorry if I explained it poorly. The only difference with my code is that I enabled a way to "force" the ngram function to compute ngrams of size = 1 only (I wanted a quick&dirty way of computing word frequencies, and I wanted to take advantage of the ability of nlp.js to get rid of punctuation and complex spaci

[2015-06-19 16:21] spencermountain commented on #50
thanks guys, fixed the off-by-one bug for max_count. maybe ngram should be a method on `Section` and/or `Sentence`, so that it's built inline with punctuation and spacing fixes... and capitlisation.... and conjugation!?
oooh!

[2015-06-20 09:29] nitaku commented on #50
Thanks to you! :) Now it's working great.
About having ngram as a method on `Section` and `Sentence`... that would be really nice! :D

[2015-06-20 15:00] #50 closed

[2015-06-21 22:21] redaktor opened #51 "ambiguous contractions in negate -"
[code]
=
'he's isn't eating a veggie burger'

adding a quick fix...

[2015-06-22 10:57] redaktor opened #53 "PP - compared to fork"
Hey,
sorry for opening a new one (trying to separate the different questions) :
This is about posessive-pronouns```PP``` which were not covered in the initial comparison (same reason: because they split to different categories in our db - I made the db compatible now, when you look for PP it'll join all 3 categories) - I am pasting the question I just added to the code (not sure if there are bette

[2015-06-22 14:16] spencermountain commented on #53
yeah, i agree. her/she/hers could be subclassed as different pronoun types.

especially as PP are now really important with the references, reference_to methods.
are there any grammatical differences that pos.js should know?

is the best way then, for me to cherry-pick changes from your fork into this? i could add your name on the readme somewhere.

[2015-06-22 14:17] #51 closed

[2015-06-23 15:21] stevenpannell opened #54 "The example "Ten and a half million" does not work"
Yet to go over the code but that specific example does not yield a result

[2015-06-23 17:08] redaktor commented on #54
yep. Noticed this as well. But I've not made it to numbers yet.
However I noticed the fact that this bug is not because of 'rules':
There are several ```return```s in the function preventing the function to run until the last word.

[2015-06-23 17:33] redaktor commented on #54
Found the bug:
1. The rules containing 'half' and 'quarter' are handled just once and just for the beginning of the string (^)
2. The word 'and' is just silent (continue;) - but the rules would have to run again [until next 'and' or end].

Bugfix:
"Split" the module.exports into two functions:
The first would split the string by 'and's and run the second (parsing) function.
Push each split-result

[2015-06-23 18:23] spencermountain commented on #54
thanks!

[2015-06-23 18:29] redaktor commented on #54
just a note:
according to my very old copy of the AP stylebook we should also accept "one-half" like in
"Five and one-half percent"

and this leads me to a next question:
I'd find it superuseful if it could also detect the units - maybe set by options (?)

[code]
-->
```{value: 5.5, units: '%'}```

[2015-06-23 18:42] spencermountain commented on #54
hey, yes absolutely. that feature would be lovely and requires a bit of work.
i'd prefer ```nlp.value('text', {options})``` i think

[2015-06-23 18:46] redaktor commented on #54
Ah - funny most numerals rules of the expensive AP stylebook are here for, well "free" :
http://www.grammarbook.com/numbers/numbers.asp

[2015-06-23 19:56] redaktor commented on #53
It would be so helpful if you could tell me what is not cherry in the fork.
It would not be about my name at all (I am doing a completely open source decentralized network called "redaktor" behind the stage to save the world.media one day) - so yes it would be nice if you would add "redaktor" then.
Let me outline the goal of the fork again (I know there is still lots of work to do and I can't do i

[2015-06-23 21:27] spencermountain commented on #53
thanks man, I really appreciate the work you're been doing. What's the project you're working on? I'd love to know more.

Honestly, I don't mind which changes are made too much, as long as I understand what it's doing. I think even in the medium-term we'd be glad about separating different languages into separate projects. Every language is just so prickly, non-generic, and shares barely any gramm

[2015-06-24 15:16] redaktor commented on #54
You can see the [fix](https://github.com/redaktor/nlp_compromise/commit/7f95fdfe766a4a8442daa8b6de5b72db2666eacc) above.
Be aware of the dependencies to the ```numbers```(data) module and the ```cache``` module.

- all tests (plus the new 2) do pass, but
- this was written by the opposite of a mathematician - so it NEEDS REVIEW.

[2015-06-26 13:58] spencermountain commented on #54
nice. checked it out and seems sensible

[2015-06-26 15:46] redaktor commented on #49
@spencermountain I am attaching this beacause we talked about performance here and I was pretty active today (pushing tomorrow)  and now I reached 'verb/conjugate' with the comment
[code]
It is easy to fix:
A suffix is the last 1-4 chars of the word, so it would be much faster just to check
[code]
For maximal flexibility:
Check the maximum length of the suffix keys. In the fork length will already

[2015-06-26 17:29] spencermountain commented on #49
BONANZA!

[2015-06-27 21:31] redaktor commented on #49
hm - still working. Wanna have all /parents complete. Just btw - just found this snippet in reference_to :
[code]
I would call this a bit of an anti-pattern. It is easier to do just
[code]
This is doing the same ;)

[2015-06-30 17:26] redaktor commented on #54
might be closed (?)

[2015-06-30 17:31] spencermountain commented on #54
i thought you were making a new branch and pull request for this?

[2015-07-11 14:47] redaktor commented on #54
@spencermountain ok. sorry for delay. malaria stroke back last days (<40°C) but >40°C sun. Yep. I'll do soon. Referenced it already above.
btw: Completely rewrote the date parser (then I'll push). It should parse multiples, ranges, multiple ranges, slang and much more now. It has less lines (for now) but I'm thinking about dates a while longer.

[2015-07-11 14:53] spencermountain commented on #54
cool, cool.

On Sat, 11 Jul 2015 at 10:47 redaktor <notifications@github.com> wrote:

[2015-07-11 17:13] redaktor commented on #54
and just btw: Just corrected something in the referenced commit above:
The ```checkWords``` loop had a return in the end. This should be removed.
It would parse within any sentence and should not be stopped.
Basically both to_number and to_date could then also become a .pos 'sugar' method.
In general I am thinking if it wouldn't be useful to somehow combine the pos and its 'sugar' methods.
Basical

[2015-07-15 12:18] spencermountain commented on #54
yeah, i know what you mean. That or a circular reference to the token itself.
but don't change the api right now. Let's keep these bugfixes light.
I can look at this issue if you think you'll be more than a few days

[2015-07-15 12:20] spencermountain commented on #47
there's a great list in freeling's data package. I'm gonna diff with ours, then i'll close this issue

[2015-07-19 12:44] redaktor commented on #54
Hm, thats hard :
All "value" methods *should* return arrays as well (like the other methods). Look at the existing code:
If it finds any date it won't parse any numbers and stops and if it finds a 'first' number it stops.
And they don't interact. Think of "Fourth of July".
The array thing is the only breaking change.

E. g. ```.date``` would parse all dates in a sentence. I tested with an AirBerli

[2015-07-19 13:00] spencermountain commented on #54
ha, dude. i thought you were fixing this 'and a half' bug.  ;)
leap years and stuff need to be a seperate PR. Breaking API changes definetly need to be a seperate PR!

[2015-07-20 17:33] redaktor commented on #54
but this is fixed by the commit 26 days ago above.
- The date and number parser should *interact* ...
- should return arrays (aka all values in the sentence)
- tried to base them on the gregorian and metric systems
 I'll commit a sneak preview of what I mean now.

[2015-07-20 17:46] spencermountain commented on #54
why don't you make a pr for that then
https://github.com/redaktor/nlp_compromise/commit/7f95fdfe766a4a8442daa8b6de5b72db2666eacc

[2015-07-20 17:54] redaktor commented on #54
because of the last sentence
'both files WIP - for this night ;)'

'Doing this stuff right' (aka most user friendly) feels a bit complicated and
currently it should have the last step of the same logic in both:
- numeric ranges

and to make it possible for any user to build his own wolframalpha I am working on unit detection at least for the metric system (Obelix: "These britains are crazy"). File

[2015-07-20 18:09] spencermountain commented on #54
i'm gonna go ahead and fix this then

[2015-07-20 18:44] redaktor commented on #54
ok cool.
posted a sneak preview.
just played around with mixed date / number sentences a bit, like
[code]
btw:
if you look into the code: It also parses a wide range of relative dates but it needs a {now: new Date()} in the options - are there better alternatives?

[2015-07-26 19:46] #53 closed

[2015-07-26 19:54] #47 closed

[2015-07-26 19:54] #45 closed

[2015-07-26 19:55] #41 closed

[2015-07-26 20:01] spencermountain commented on #54
i've removed this example from the readme, given its ambiguous use.

[2015-07-26 20:01] #54 closed

[2015-07-26 20:04] spencermountain commented on #29
yeah, the spotting method has become more sensitive about capitalisation, more conservative in what it considers an Entity. I've updated the Readme to show this. Thanks for your help

[2015-07-26 20:04] #29 closed

[2015-07-26 20:43] spencermountain commented on #49
hey Sebastian, am starting a 2.0 rewrite,and will include these awesome ideas in that branch.

[2015-07-26 20:43] #49 closed

[2015-07-28 12:09] redaktor commented on #49
ok - cool.
had three hard days (ycombinator deadline) - feel free to compare the files in the fork and "cherry pick".
The 'values' are also close to complete and can now parse all the worlds measurement units (completely understandable for machines putting quantities in context). Let you know.

[2015-08-03 18:19] robjens opened #56 "Dictionary?"
Are you using a own internal dictionary / algorithms to do the transformations etc? If so, and I seem to think this is the case, there is something off with the `conjugation` of the verb `"load"`:

[code]
Now if I try something else, like `"to load"`:

[code]

This doesn't seem right either. Am I doing something wrong with entry of the string word(s) - some form I am missing? Or is this a corner c

[2015-08-04 00:25] spencermountain commented on #56
ah! eww!
good find rob. I'll make a fix.
thanks man

[2015-08-04 00:33] spencermountain commented on #56
hey, fixed in 1.1.3, just added it to the list of irregulars
thanks

[2015-08-04 00:33] #56 closed

[2015-08-15 01:54] silentrob opened #57 "Question - Advanced Date Parsing"
First off, this is such a great project!
Do you have any thoughts returning an array of dates from a parsed sentense? Or more advanced logic like ranges?

It looks like this does a lot of what Ive done in https://github.com/silentrob/normalizer but I suspect much faster (basic normalization and commonwelth => american conversation).

I also have some code that deals with numbers and parsing math e

[2015-08-15 03:05] spencermountain commented on #57
hey Rob! nice to meet you. I'm a huge fan of phonegap, and your work is really cool. We should collaborate on this commonwealth-american stuff, immediately. I've done a really poor job, and it's an immediately solvable, and useful problem.
i have ambitions to re-write the whole library actually. There's an enormous amount of work to do.
With all the babel/esX/typescript stuff that's been happening

[2015-08-15 03:26] silentrob commented on #57
Wow, thanks for the warm reply.
Im courious to know what you are planning for your V2 branch. My hands are pretty bloody with other NLP projects. (nl-tools, natural, lemmer, normalizer, qtypes, and some POS stuff ) I was hoping your library would let me depricate them all :)

I've still got some work to do in https://github.com/silentrob/superscript, but I really would like to rip out the core pie

[2015-08-15 07:50] redaktor commented on #57
Again : This is all done in the fork.
@silentrob : if you need it now, see http://github.com/redaktor/nlp_compromise/ .
You can see the commit messages, I did not find the time to document the various new methods.
I think the translation of values for "machines" is important and meanwhile I also wrote the detection of more than 80 units for Cardinal Value Parsing.
And I am nearly done with a money

[2015-08-15 17:17] silentrob commented on #57
I saw that fork, but didn't know it was the next version. This is super cool, and immensely more powerful. I could invision the same api being used to resolve pronouns too `.val({'it': 'bike', 'he': 'Billy'})`

[2015-08-16 19:43] redaktor commented on #57
My plan was to create a multilanguage .js or JSON style dictionary for rules and content which comes for example with a web interface like https://translate.adobe.com/adobe and maybe with db support.
This can be used in any .js project dealing with 'language'.

this would be cool.
To be concrete: the currency parser is a bit complicated, but nearly done and in general I need to document it ;) and

[2015-08-17 02:33] spencermountain commented on #57
yeah, i agree we should push this forward to the next level together.
i drank coffee last week and wanted to do a re-write using es6 classes, for word methods, & typescript for bug-reduction. I too, love the work you've done with the date/value parser

[2015-08-17 11:22] redaktor commented on #57
:+1: Especially for typescript - then it would fit perfectly into our system !!! !
The whole dojo community is moving to typescript but because I am still 'learning' I hesitated to mention it ;) et. al.:
@SitePen has cool typescript projects like https://sitepen.github.io/mayhem/guide and tutorials :
https://www.sitepen.com/blog/2013/12/31/definitive-guide-to-typescript/
https://www.sitepen.com/bl

[2015-08-17 17:45] silentrob commented on #57
So Im a fan of both Typescript (type checking) and no es6/es7 features. I'm not confinced you need both to achieve better bug reduction. I think using es6 with babel and having really good eslint rules will probably catch most things. Then rely on regression tests. I noticed lots of commented out examples on the bottom of files, these would all make good regression tests.

I'm still working though

[2015-08-17 18:14] spencermountain commented on #57
hey, great!
I've given you both write access. let's throw some ideas into a branch. check out some work i've started in the v2 branch https://github.com/spencermountain/nlp_compromise/tree/2.0
feel free to just commit straight to there, if you'd like.

I'm not sensitive either about using any particular technology. The only goals being that it's light-weight enough to have 80%ish accuracy in the b

[2015-08-17 18:29] spencermountain commented on #57
I know it's a weird statement, but I found moving existing methods into type-annotation to be insanely therapeutic. it's like.. less .. fear-based.. how you don't need to worry about weird null values all the time. I tried a few atom/grunt workflows but am completely open-minded about how we decided to code/compile this, just as long as we're on the same page. I'm sure there's some clever ways.

l

[2015-08-17 18:36] spencermountain commented on #57
http://webchat.freenode.net/?channels=%23nlp_compromise&uio=Mj10cnVlJjk9dHJ1ZSYxMD10cnVlJjExPTIyNiYxND1mYWxzZQf4

[2015-08-17 18:36] silentrob commented on #57
I also have an open slack channel on superscript. More then welcome to hangout there too.

[2015-08-17 18:56] spencermountain commented on #57
that work with you Sebastian?
https://superscriptjs.slack.com/messages/nlp_compromise/

[2015-08-17 19:22] redaktor commented on #57
basically yes - it says

the address would be api a_t redaktorcms.com ...

[2015-08-17 19:33] redaktor commented on #57
@silentrob you wrote:

• All the 'dictionary' files can be in a db, a REST API or as they are. They are totally optimized for reading and translating and they generate all the data folders with minified / compressed files for the browser
• They come with a build tool which is src/data/_build
to build for now use it e. g. in the console from the data folder like
[code]
--> in the future this will b

[2015-08-21 22:05] Undeterminant opened #58 ""something" and "other" not labelled as nouns"
I'd consider these words common enough to be included in the lexicon.

[2015-08-21 22:23] spencermountain commented on #58
hey claire, thanks for the input. They're both in there.
something is a "possessive pronoun"
https://github.com/spencermountain/nlp_compromise/blob/d4feb704d3e7ae527566cc12dc14af01679e8798/src/data/lexicon.js#L245
other is
other is an adjective
https://github.com/spencermountain/nlp_compromise/blob/master/src/data/lexicon/adjectives.js#L684
cheers

[2015-08-21 23:09] Undeterminant commented on #58
Oh, weird. One of the demos is out of date, then.

http://rawgit.com/spencermountain/nlp_compromise/master/client_side/cute_demo/index.html

[2015-08-21 23:17] spencermountain commented on #58
this is possible. just updated them. which sentence was it?

[2015-08-25 06:05] Undeterminant commented on #58
I was testing in the JavaScript console because I wanted to see the results of calling functions without installing the library in Node. :)

Running `nlp.pos('something').tags()[0][0]` gives me `"PP"` now; seems fixed.

[2015-08-25 06:05] #58 closed

[2015-08-26 19:20] kristoferjoseph commented on #57
![mj-popcorn](https://cloud.githubusercontent.com/assets/76308/9503595/c88e9666-4bec-11e5-91bd-90f2ffa1d957.gif)

[2015-08-26 21:05] #57 closed

[2015-09-07 09:14] sebilasse opened #59 "2.0 - just a note : string to regex"
see lexidates:
res.dayS = '\b('.concat(Object.keys(res.days).join('|'), ')\b');

When a string becomes a regex, in javascript, you must quote stuff with special regex-meaning double.
So ```\b``` should be ```\\b```here - see my original code...

If you want to use it like on top you need to pass it to a quote function, e.g.
Mozilla:
[code]
or in dojo see [.string](https://github.com/dojo/core/blob

[2015-09-08 00:40] silentrob commented on #59
Good catch, I have something simular in superscript. We can wrap that easy enough.

[2015-09-17 07:32] mjhasbach opened #60 "Verb Tense Bug in Demo"
Sentence:

Steps to reproduce:

1. Change plays to past-tense
2. Negate played

Result:

[2015-09-17 15:34] spencermountain commented on #60
ah! thanks. yeah, this to_negative -> to_negative needs some attention. Let me take a look. Thanks Matthew

[2015-09-23 14:14] AbhinavMadahar opened #61 "Britishize asymmetry with Americanize"
On version 1.1.3

If you try typing in something like

[code]

It just returns whatever the input is.

The americanize function works perfectly fine, though.

![Relevant polandball](http://punkd.org/wp-content/uploads/2013/12/Bloody-Yanks.png)

[2015-09-23 14:56] AbhinavMadahar commented on #61
Also, converting from British to American will make "are" to "aer" in the same way "metre" becomes "meter"

[2015-09-23 19:58] spencermountain commented on #61
haha! thanks Abhinav. It is way stronger going one way than the other. I'll take a look at improving this, and that bug, this week.
cheers

[2015-09-28 13:45] Kroid opened #62 "Use strict mode please"
And write code with this mode.
Example, in file client_side/nlp.js:5652 (release 1.1.0):

[code]

[code]
http://www.w3schools.com/js/js_strict.asp

[2015-09-28 13:57] spencermountain commented on #62
thanks, fixed in 1.1.4

[2015-09-28 13:57] #62 closed

[2015-09-29 05:26] brettmc opened #63 "feature: add custom verbs/nouns etc"
Scenario: using the library for natural language processing for a calendar assistant. Doesn't recognise "schedule" as a verb.

Would it be possible to pass in some configuration when instantiating the library, eg an array of verbs + nouns etc to allow users to inject extra words.
In my case I might extend verbs by passing in an array of my own verbs:
`["schedule"]`

That *seems* to work for me if

[2015-09-29 17:34] spencermountain commented on #63
hey brett, this is a good idea. A few of us are working on a v.2, so it's also a good time to think about this very reasonable feature. I'll keep this open
cheers

[2015-10-18 15:09] AloisReitbauer commented on #63
Hey,

I seem to have the same issue. I need "root cause" to be understood as a single noun. Right now it is detected as a noun and a verb. Where would be the best place to "hack" this in?

// Alois

[2015-10-18 18:39] spencermountain commented on #63
hey alois, you should be able to add it here, and go
https://github.com/spencermountain/nlp_compromise/blob/master/src/data/lexicon/multiples.js#L74

[2015-10-26 08:38] mcelliott opened #65 "past tense '-dy', '-ly'"
I think maybe this is not working correctly, but as it seems broken for a bunch of verbs, maybe I'm missing something...

    nlp.verb('study').to_past()
    "studyed"

    nlp.verb('apply').to_past()
    "applyed"

[2015-10-26 15:59] haraldur12 opened #66 "Implementing the package on a data structure ?"
Hey I am quite new to meteor and computer science basically. I am linguistic trying to learn computational linguistics somehow. I guess I am struggling still. I was wondering how it would be possible to use this on my own corpus ? Let's say that I have a list of sentences and whenever I choose the sentence I want to see the properties of the sentence. Would be possible ?

[2015-10-26 16:06] spencermountain commented on #66
hey there, welcome to computer science!
[code]
hope it helps,

[2015-10-26 16:11] spencermountain commented on #65
thanks matt, you're right. This part is goofed-up.
I'm re-doing this method in the [2.0 branch](https://github.com/spencermountain/nlp_compromise/tree/2.0), which is a few weeks away still. I'll make sure this issue gets addressed there. It looks like just a regex goof-up.
Will let you know, thanks.

[2015-10-26 16:12] haraldur12 commented on #66
the problem is unfortunately it is not just one sentence but the whole book. Would I be able to define var as my mongo db and tell it to get all the data from it ? Thanks for the reply!

[2015-10-26 16:17] spencermountain commented on #66
yeah, if your text is in mongodb, you'll need to fetch it. Then it
shouldn't matter if it's a book or a single sentence.
good luck!

On Mon, 26 Oct 2015 at 12:12 haraldur12 <notifications@github.com> wrote:

[2015-10-26 22:25] mcelliott commented on #65
:+1:

[2015-10-27 00:56] haraldur12 commented on #66
I am feeling so lame ahah. I couldn't implement the package in to the meteor templates argh.

[2015-10-27 01:00] haraldur12 commented on #66
Template.SentenceNLP.events = function() {

var my_corpus = Sentences.find.currentSentenceId
var sentencer=  nlp.pos(my_corpus) ;

	"click #nlp-pos": function(e,t) {
	 e.preventDefault();

	return nlp.pos(my_corpus);
});

I tried to use that one but however I am getting unexpected token. I want my web corpus page to be like that of the "long_demo" so that whenever I am seeing a new sentence I just

[2015-10-27 01:44] spencermountain commented on #66
keep trying!

[2015-10-27 01:44] #66 closed

[2015-11-02 06:05] spencermountain commented on #66
how'd it go?

[2015-11-05 14:49] rbhalla opened #67 "nlp.sentences() collapses whitespace"
Pretty self explanatory, but if there are multiple white space characters between a word, the sentence detected collapses these characters together

[2015-11-05 16:33] spencermountain commented on #67
hi Roshan, this is a good point.
I'm not sure the best way to fix this though. Out of curiosity, what's your use-case where non-grammatical white-space needs to be preserved? I'd be happy to bake something into this new version we're working on.
cheers

[2015-11-05 16:46] slneufeld opened #68 "Double quotes to specify pos"
We are using nlp_compromise to parse requests for data pulls. In many cases, a product or retailer will get parsed in an undesirable fashion, i.e. "Stop & Shop" will not be thought of as a noun.

Is it possible today, or would it be possible, to allow double-quotes to group words together and default them to a particular part of speech, like NN?

[2015-11-05 16:49] rbhalla commented on #67
I essentially have a block of text with certain keywords I want to detect. For each keyword I want to also highlight the sentence it was mentioned in.

Now technically, the sentence returned isn't actually present in the original block of text, so being able to modify the original block of text to wrap certain sentences in tags isn't trivial. I'm getting around it using some very brittle fuzzy sea

[2015-11-05 17:07] spencermountain commented on #68
hi! ofcouse. That's a great idea. I agree that a quote with only a few words is a strong Noun signal.
In that case too, the ampersand also seems like a good signal for a noun. Do you have others?
I'm in the latter stages of a big v2 rewrite, and i'd be happy to include these rules there.

[2015-11-05 17:07] silentrob commented on #68
That seems trickey, I could see "Stop & Shop" be translated to "Stop and Shop" which should get tagged as "Stop/NN and/CC Shop/NN". I suspect you want the phase to be parsed as a NP, but this is done by a parser and not a tagger.

[2015-11-05 17:11] silentrob commented on #68
@spencermountain I have explored pulling out common bigrams and trigrams using a lookup table to aid in entity recognition. For example: "fish and chips", "french fries" also "united states" they all mean something as a group more than the sum of their parts.

[2015-11-05 17:12] spencermountain commented on #67
;) thanks!
that makes a lot of sense. I will add a raw_text field to sentence today, for the new version in about a month. I'll let you know. Thanks for the compliments.
-spence

[2015-11-05 17:18] rbhalla commented on #67
Perfect, thanks. If this is on the roadmap feel free to close this issue or keep it as a reminder. I'll be watching the repo for any updates

[2015-11-05 21:02] slneufeld commented on #68
Yes, ampersand is a good one, as is 'n or 'N. Dashes are also a challenge.

Regarding silentrob's comments, agreed, I'm not looking to bastardize a general purpose tool for my own selfish needs.

My use case is very specific to noun discovery, which in the case of brand names or trademarks, and to a large degree retailer names, can be very challenging. Our database alone has tens of thousands of s

[2015-11-06 04:23] spencermountain commented on #68
oh. very neat stuff.
can you help contribute to v2?

this is how i've been looking at that problem [here](https://github.com/spencermountain/nlp_compromise/blob/2.0/src/sentence/pos/grammar_rules.js).
You can see there's lots of work to do.

V1 has a [tonne of lumper-splitter rules](https://github.com/spencermountain/nlp_compromise/blob/master/src/pos.js#L69), like you mentioned. Ideally, we can t

[2015-11-06 19:50] slneufeld commented on #68
Happy to help contribute, if I can get away from the day job :)

Yes, that's an interesting approach to applying a "coarse filter" to POS tags. Better than what I was considering, I think.

[2015-11-13 03:47] gregweston opened #71 "Adjectives tagged as verbs due to "adjective-after-pronoun""
If a question such as "Are you real?" is broken down into tags, the library will tag "real" as a verb. This appears to be due to lines 199 - 202 in /src/pos.js, where adjectives are tagged as verbs if the previous token was a pronoun. Not 100% sure but I think this rule should only apply if the adjective in question doubles as a past participle like "gone", "done", "lost", etc.

[2015-11-13 17:27] spencermountain commented on #71
ahh, very interesting. thanks greg.
I'm working really hard on a v2.0, and it has just begun conjugating to past participle - a subject I haven't really gotten my head around yet. It makes sense, the way you've described it, as verbs that turn into adjectives - how many do you think there are? Maybe it's something we could handle properly in some kind of list.

In your example, I think I killed th

[2015-11-22 20:32] PalmerAL opened #72 "Does not work in a web worker"
I'm trying to use nlp_compromise in a Web Worker, but trying to use any of the nlp methods results in an "nlp is not defined" erorr. The problem is that there is no ```window``` object in a web worker, so https://github.com/spencermountain/nlp_compromise/blob/master/index.js#L49 does not export anything.  Something like this might work instead:

		if (typeof window === "object" || typeof Dedicated

[2015-11-22 22:46] spencermountain commented on #72
hey! very neat! wanna make a pr? Sounds like a cool project.

[2015-11-22 22:47] spencermountain commented on #72
btw, i'm a week or two from releasing a major 2.0 update. It's on the branch '2.0', if you wanted to start using it. Either way, i'll include this change there too
cheers

[2015-11-23 01:40] PalmerAL commented on #72
Hmmm, I was going to add the fix to 2.0, but I can't seem to get the build to work. ```grunt build``` works fine, but running the demos gives an "nlp is not defined" error (this is without any changes), and running the tests gives this:

[code]

[2015-11-24 16:51] spencermountain commented on #72
ah, sorry. maybe it's too rough yet.
added your condition to v1 and v2. should be up on nlp_compromise@1.1.5
let me know if it works?

[2015-11-25 18:18] PalmerAL commented on #72
Yes, it works now. Thanks!

[2015-11-25 19:35] #72 closed

[2015-12-20 16:21] econnelly-amplify opened #74 "Sentence.text() adds extra whitespace"
At least in one example, splitting a text into POS Sentences adds extra whitespace in the sentence.text() function. (See two spaces between "we've" and "known" in the returned value)

Example:
[code]

[2015-12-20 16:21] econnelly-amplify commented on #74
Btw, I plan to take a look into this, but just in case I can't resolve it I wanted to document the example in a bug case for you. Thanks for the project!

[2015-12-20 17:21] spencermountain commented on #74
hey! thanks.
i'm *days* away from releasing v2, which has a more intellegent text() method, wanna give it a go?
https://github.com/spencermountain/nlp_compromise/tree/2.0

[2015-12-20 17:32] econnelly-amplify commented on #74
Oh cool, sure! I'll try it and see what happens, thanks!

[2015-12-20 18:08] econnelly-amplify commented on #74
Well it seems to have fixed the extra whitespace issue (cool!). But now I just have to figure out how to maintain the contraction.  It seems like nlp keeps replacing it with the two-word equivalent.
[code]
Still, I guess we can close the issue now. Thanks!

[2015-12-20 18:08] #74 closed

[2015-12-20 19:22] spencermountain commented on #74
what would be the best behaviour for contractions? i agree that .text() should return the pure form, but internally the contraction needs to be understood as two parts of speech.
what's your use-case, if you don't mind me asking?

[2015-12-21 14:20] econnelly-amplify commented on #74
Hi Spencer, I don't mind at all.

I saw some comment about maybe having a .raw_text() which might work.

My use case is not too complicated really. I have an inputText of a bunch
of sentences, and I want to know the character startIndex of each sentence
(I plan to reprint the whole inputText while highlighting certain words in
a red font, and right now I am using character index to know which word

[2016-01-03 16:03] spencermountain commented on #59
hey seb, thanks, i moved this around. I also used a lot of your units & values work.
2.0 is nearly ready, give it a crack if you want. I'll probably release it this week, will you check it out?

[2016-01-03 16:03] #59 closed

[2016-01-09 13:39] DanielBaird commented on #61
Shot in the dark: maybe try `britishise()` ?

[2016-01-09 22:55] spencermountain commented on #61
with the new api (released this week), it's mostly the same call
[code]
although the asymmetry between britishize and americanize remains. it just needs some work.

[2016-01-18 03:02] mahangu opened #77 "Duplicate value 'children' in irregular_nouns.js"
Not sure if this warrants an issue, but just creating one so I can submit a PR against it. The value ` ['child', '_ren'],` is repeated here -

https://github.com/spencermountain/nlp_compromise/blob/master/src/data/irregular_nouns.js#L11

`let main = [
  ['child', '_ren'],
  ['person', 'people'],
  ['leaf', 'leaves'],
  ['database', '_s'],
  ['quiz', '_zes'],
  ['child', '_ren'],`

[2016-01-18 03:06] #77 closed

[2016-01-20 18:52] nathanmarks commented on #61
@spencermountain Here's a demo with a few terms not working as hoped:

1. britishization not working
2. britishization not working
3. americanization works
4. americanization incorrect

https://tonicdev.com/569fd5d4a6f5cc0d0018195d/569fd5d4ff73f00e00779a00

[2016-01-20 23:46] spencermountain commented on #61
ah, rats. k thanks.
i'll take a look
thought: should it be renamed to 't.toAmerican(), t.toBritish()'?
or something else?

[2016-01-21 00:26] nathanmarks commented on #61
@spencermountain xxxxxxxx-ize seems to be the norm for a lot of functions in "inflection" libs (dasherize, humanize, camelize, parameterize). FWIW [Americanization is a thing](https://en.wikipedia.org/wiki/Americanization) which is a nice touch.

[2016-01-21 00:28] spencermountain commented on #61
;)  copy that.

[2016-01-26 01:21] peres opened #79 "Conjugation of 'go' is broken"
[code]
gives:
[code]

[2016-01-26 22:04] spencermountain commented on #79
hey peres, great find. Little swamped right now, but I'll take a look this week
cheers!

[2016-01-27 12:08] rbhalla opened #80 "A sentence with US at the end of a sentence (with no punctuation) isn't detected as a sentence"
`For example. This doesn't work for the US`

[2016-01-27 17:36] spencermountain commented on #79
got it. cheers

[2016-01-27 17:36] #79 closed

[2016-01-27 17:44] spencermountain commented on #80
ahh Roshan! this is great one. fixed it. and will deploy as 2.0.2
thanks!

[2016-01-27 17:44] #80 closed

[2016-01-29 16:34] orzilca opened #81 "Is it possible to add more languages?"
I'de to be able to nlp other languages others than english (for ex: spanish, german, french)

is it possible without changing the core source code?

[2016-01-29 16:44] spencermountain commented on #81
hi Or! yep!
i've just started-out [a french version](https://github.com/nlp-compromise/fr-compromis), but you can see i desperately need some help, as it really needs a detailed knowledge of the language, and I suck at it.

there's been some discussion about how much of nlp-comprmise can be re-used cross-language, and i think the answer is probably almost nothing. But a similar, rule-based attempt

[2016-01-29 16:55] orzilca commented on #81
good and bad news :)

I was sure integrating new languages will be possible under the same code base..

[2016-02-03 00:46] liuzzi opened #83 "Places not working"
Hey guys, cool library...I can't seem to get the places recognition working.   Is there a more general getNamedEntities or something of the such?

Im trying like this:
nlp_compromise.text('I live in Boston').places()   and it returns empty in every trial I can think of

Thanks!

[2016-02-03 00:50] #83 closed

[2016-02-03 21:38] spencermountain commented on #83
hey Frankie, this may be an unfortunate coincidence, "Boston" is an especially ambiguous term because the band, and the play etc. You can see the list of less-ambiguous city names [here](https://github.com/nlp-compromise/nlp_compromise/blob/master/src/data/places.js#L179)

[2016-02-04 06:03] creatorrr opened #84 "Pass the library instance to the plugin"
Hey!

So, one of the use cases that popped up is that some plugins might need access to the library instance. A random example, let's say we want to return the adjective form of an adverb as an instance of the `Adjective` class:

[code]

There doesn't seem to be any way of doing this at the moment other than requiring the library itself but I think that'd be an unnecessary overhead for a mixin.

M

[2016-02-04 12:31] spencermountain commented on #84
ah! i like this a lot.
I'm glad you've been able to follow the mixin idea. I wanna make it great, and I'm happy to change it.

I agree that having access to the library itself makes a lot of sense, and that's a great example.

so in this version, the mixin would require NLP itself, and augment it on its own? I mean, to use it would be:
[code]
am I right?
.. if we had more than one mixin, would it

[2016-02-04 12:32] spencermountain commented on #84
(this is really not my expertise, so I'm very keen to have some help organising this) So thanks in advance

[2016-02-04 15:07] dbkaplun opened #85 "README example tense is wrong"
[code]
should be:
[code]
or:
[code]

[2016-02-04 15:33] spencermountain commented on #85
that's a good point.

[2016-02-04 15:46] spencermountain commented on #85
so the logic is [this](https://github.com/nlp-compromise/nlp_compromise/blob/master/src/sentence/negate.js#L94) -

[past tense] - "sold" -> "didn't sell"
[present] - "sells" -> "doesn't sell"
[future] - "will sell" -> "won't sell"

it may just be that the readme is wrong. I'll take a look this afternoon.

[2016-02-04 16:11] spencermountain commented on #85
got it. thanks!

[2016-02-04 16:11] #85 closed

[2016-02-05 04:29] julianpeeters opened #86 "Improve usage instructions for novices"
Love this project, but I no longer understand how to use it in my simple app. I used to simply add a script tag to my html:

`<script type="text/javascript" src="https://rawgit.com/spencermountain/nlp_compromise/master/client_side/nlp.min.js"> </script>`

But for the new version, I'm not yet familiar with node and npm. Where should I install the module, inside my project or outside of it?

I tried

[2016-02-06 01:01] creatorrr commented on #84
Hmm, I don't think this particular way would solve the problem unfortunately. Because any implementation of such a plugin would either have to depend on a global var or require the library internally. :-/

I like the current form quite a bit as it makes it explicit that you are mutating the library interface. I was thinking more along the lines that the `NLP.mixin` function behave as it is (for ba

[2016-02-06 01:40] creatorrr opened #87 ""Died" handled incorrectly"
Hey there,

I believe the word "died" is being handled incorrectly. Here's what I get,

[code]

I am trying to find out if it does that in other variations as well.

[2016-02-06 01:49] creatorrr opened #88 ""does [Verb]" lumping support"
Hey,

I know I have been reporting a deluge of bugs but I really want to help fix them. :)
Here's another one:

[code]

[2016-02-06 02:03] creatorrr opened #89 "Consistent interface"
Just wanted to get your feedback on API consistency. I think we could do a lot more to make the API consistent and intuitive to use. Some examples:
- `to_past`, `to_present`, `to_past` functions return a mutated wrapped instance but `americanize` and `britishize` return just the changed text. Is that by design?
- `Sentence.to_past` returns the mutated `Sentence` instance but same doesn't apply for

[2016-02-06 02:12] creatorrr opened #90 "Britishize not working correctly"
Er, another one. (Sorry for bombarding you :-/ )

[code]

[2016-02-06 02:42] spencermountain commented on #84
jeez that's clever. love it.
please do it

[2016-02-06 02:52] spencermountain commented on #89
completely agree. i think all methods should start reliably returning `this`, so they can be all chained and more consistent. the `.text` vs `.text()` thing also kills me all the time. i can't decide which one to move. it should definitely be fixed.

a lot of smart people are doing immutability now, and it's cool. Besides squashing bugs, what sort of features in nlp would it allow? 'undo' and thin

[2016-02-06 05:01] creatorrr commented on #84
Done #91

[2016-02-06 05:01] #84 closed

[2016-02-07 00:31] spencermountain commented on #86
hi Julian, thanks for the kind words, and sorry for the delay.
I completely agree, I've done some big changes the past few weeks and the documentation & build have suffered.
That prototype thing sounds like a crazy bug with the build process. give me a few days, I'll try to turn it around.
that rawgit cdn is a little goofy, and i nominated this project on cdnjs, and haven't heard anything. The bes

[2016-02-07 00:39] julianpeeters commented on #86
Ok sounds great.

[2016-02-07 02:52] spencermountain commented on #86
hey, how's this?
https://github.com/nlp-compromise/nlp_compromise/blob/master/demo/index.html

view it at:
http://rawgit.com/nlp-compromise/nlp_compromise/master/demo/index.html

[2016-02-07 17:52] spencermountain commented on #88
hey this is great, i'm workin on this in a new branch, *sentence_subclass*.
should be a few days.

[2016-02-07 18:58] creatorrr commented on #88
Sweet. Thanks for the update!

[2016-02-09 08:07] julianpeeters commented on #86
The dependency is now available for me again (at `http://rawgit.com/nlp-compromise/nlp_compromise/master/builds/nlp-compromise.es5.min.js`), but I still get the error:

`mutating the [[Prototype]] of an object will cause your code to run very slowly; instead create the object with the correct initial [[Prototype]] value using Object.create nlp-compromise.es5.min.js:5:11112
TypeError: a.match is no

[2016-02-09 21:57] creatorrr commented on #89
Agreed. That's a great idea.

Hmm, yeah. I think `text()` is probably a better idea, esp if a plugin wanted to overwrite it and do some postprocessing. It should be consistent but it's a but difficult as it'd be a breaking change. This is a dirty hack but it could make do:

[code]

Idk, but maybe something like that could preserve some backwards compatibility.

Well, I can't think of an immediate

[2016-02-09 22:46] creatorrr commented on #89
Yeah, with an immutable API, it'd be trivial to write a plugin that manages state changes and can implement an undo/redo like feature!

Hmm, I don't think it would affect performance that much except it might hog more memory. If we simply do reference immutability, that is simply returning new instances for each function call (which is what I was thinking), then a misuse of the API might lead to m

[2016-02-10 00:11] spencermountain commented on #89
some very neat ideas, and thanks for explaining them so clearly.
I'm always happy to merge prs, and don't worry too much about breaking changes. It's always been explicit that we use semvar, and move fast. ;)
i've got two questions, but feel free to start cranking away,
1) would it require a third-party library? that'd be our first, and ideally we'd be able to bake it in somehow.
2) would this thr

[2016-02-10 01:09] creatorrr commented on #89
Only for implementing structure sharing. We'd need persistent data structures, for which we could use [immutable.js](https://github.com/facebook/immutable-js).

Nope. :)

[2016-02-10 01:10] creatorrr commented on #89
I'll start hammering out PRs then!

[2016-02-10 01:24] silentrob commented on #89
I think this discussion has been great, and the idea of having a consistent interface is key, big +1. I like the idea of having the object not mutate in place and return a new instance, and while Im a fan of immutable, I would just double check you are able to keep your client-side size goals with that implementation.

I feel at immutable'ism is like being vegetarian, it can be trendy and when nob

[2016-02-10 16:30] dday34 opened #94 "Tokenisation without tagging option"
Hi guys,

First of all, thanks a lot for this great library.

In my company we are using the version 1.1.4 in production. We recently tried to update to the last version however its seems to be substantially slower than the old to do sentence tokenisation. As an exemple a function that use to take only 25ms to run now takes 822ms so it is 32 times slower. The issue  being that we have to process q

[2016-02-10 17:35] spencermountain commented on #94
hi Damien, thanks for this. I was worried about this being an issue.
What's happened I think is that we've started pos-tagging by default, as it was depended on in so many methods. There's probably a much smarter way to do this just-in-time, or lazily. Which would make way more sense in your use-case.
In the mean-time if sentence tokenization is all you need, [it's not too sophisticated](https://g

[2016-02-10 19:34] creatorrr commented on #89
Haha yeah, @silentrob has a great point there. We should def keep the library fingerprint as small as possible. We could just postpone the struct sharing until we hit a performance snag. Also, we could keep `immutable` as an optional peer dependency and that should avoid the bloat.

[2016-02-11 00:05] spencermountain commented on #89
+1 i trust your judgement on these matters Diwank

[2016-02-11 12:21] dday34 commented on #94
ok perfect, thanks we are going to use the sentence parser for now and follow the repo for any updates.

[2016-02-11 18:38] DigitalSkyline opened #95 "Weird behavior"
{
"text": "cost of",
"normal": "cost of",
"implicit": "",
"reason": "phrasal(lexicon_pass)",
"pos": {
"Verb": true,
"Infinitive": true
},
"tag": "Infinitive",
"conjugations": {
"past": "cost of of of of",
"infinitive": "cost of of of of",
"gerund": "costing of of of of",
"actor": "coster of of of of",
"present": "costs of of of of",
"future": "will cost of of of of",
"perfect": "have cost of of of

[2016-02-11 21:42] spencermountain commented on #95
ahh! will take a look.
thanks paul.

[2016-02-12 18:21] DigitalSkyline commented on #95
Seems to be doing it here as well:

{
"text": "wrote about",
"normal": "wrote about",
"implicit": "",
"reason": "phrasal(lexicon_pass)",
"pos": {
"Verb": true,
"PastTense": true
},
"tag": "PastTense",
"conjugations": {
"gerund": "writing about about about about about about",
"past": "wrote about about about about about about",
"infinitive": "write about about about about about about",
"actor": "wr

[2016-02-14 02:12] spencermountain commented on #95
ah, got it.
will update in 3.0.3
thanks man.

[2016-02-14 02:12] #95 closed

[2016-02-14 02:49] spencermountain commented on #87
thanks, fixed!

[2016-02-14 02:49] #87 closed

[2016-02-20 20:19] orzilca commented on #81
hey @spencermountain

is it possible for the nlp to the detect if the language is english or not?
could be helpful..

[2016-02-21 02:28] spencermountain commented on #81
yep, would just be some kind of % coverage with the lexicon i guess?
wanna do it?

[2016-02-22 12:07] AloisReitbauer commented on #63
Seems the link is no longer valid.

[2016-02-22 12:53] spencermountain commented on #63
yeah, am a lot closer to having this done, but isn't quite there. will have a per-method lexicon soon.
here's the link for that temporary hack now
https://github.com/nlp-compromise/nlp_compromise/blob/master/src/data/multiples.js
cheers

[2016-02-23 23:39] tnoetzel opened #96 "Several contractions not expanding..."
`var nlp = require("nlp_compromise");
var commentText = nlp.text("doesn't there's i'd i'll can't won't wasn't weren't wouldn't haven't");
commentText.contractions.expand();
commentText.text();
`

Returns:

doesn't there's i would i will can't won't wasn't weren't wouldn't haven't

[2016-02-24 16:22] spencermountain commented on #96
thanks TIm, I'll take a look tonight.

[2016-02-26 00:08] cgilboy opened #98 "package.json's "main" points to a missing file"
In both `master` and the latest that I pulled from npm (3.0.5), the value of "main" in package.json points to a file that is no longer included:
``` "main": "./builds/nlp_compromise.es5.js",```

[2016-02-26 01:29] spencermountain commented on #98
ahhh! thanks!

[2016-02-26 01:29] #98 closed

[2016-02-26 16:47] cgilboy commented on #98
Thank you for the library :)

[2016-02-27 23:03] ericcarraway opened #100 "semvar or semver?"
RE: versioning and publishing

`contributing.md ` and `docs/changelog.md ` reference semvar.
Should that be semver, as in http://semver.org/ ?

[2016-02-28 01:05] spencermountain commented on #100
ah, yup. thanks eric.

[2016-02-28 03:15] #100 closed

[2016-03-05 04:36] spencermountain commented on #96
hey man, sorry this got lost in the cracks.
took a pass at this, but it's still not great. expand is good, but contract still sucks
[code]
will try tomorrow

[2016-03-07 17:59] tnoetzel commented on #96
Awesome. Happy to help test/troubleshoot when you're ready!

[2016-03-22 17:10] Glassig opened #102 "Part-of-speech tagging broken"
Hi,

I played around a bit with your part-of-speech tagging that is here: http://nlp-compromise.github.io/website/, and it kind of doesn't work. For example:
"move that chair to the table" is identified as "noun determiner noun preposition determiner adjective" when it should be "verb _ _ _ _ noun".

[2016-03-22 17:24] spencermountain commented on #102
ah, thanks.
"table" got caught on a sloppy  ".able" regex.. as in, "workable, singable, walkable.."
thanks, will fix.
please let me know other issues you find
cheers

[2016-03-22 17:25] Glassig commented on #102
Okay, but "move" is still defined as a noun.

[2016-03-22 17:27] spencermountain commented on #102
yeah, you're right. maybe something is up. i did a release yesterday that touched these rules.
i'm gonna look at more full tests to spot these issues. Lots of work is needed

[2016-03-23 11:57] Glassig commented on #102
Oh, another thing; it could be worth it if there are more nouns that hit that wall. Like, cable, stable, fable and so forth

[2016-03-25 17:48] tsadykhov opened #103 "nlp.text() breaking with certain inputs"
You can recreate this on the demo site by putting the following into the Part-of-Speech tagging section: _"Come experience the energy and electricity of the motor city in a stunning production packed with hit after hit, all killer, and no filler! Dancing in the Streets is performing at the Fox Theatre for the first time"_

Throwing the error `Uncaught TypeError: Cannot read property 'pos' of undef

[2016-03-25 22:36] spencermountain commented on #103
agh! thanks! I'll fix this tomorrow morning. I think I know what it is.

On Fri, 25 Mar 2016 1:48 pm Timur, <notifications@github.com> wrote:

[2016-03-26 01:07] tsadykhov commented on #103
no problem :) Thanks for the great package!

[2016-03-29 01:40] joel-custlabs opened #104 "Verb tense: nlp.verb("open").conjugate() -> "oping" as gerund?"
Steps to reproduce;

nlp.verb("open").conjugate()

Observed results:
{ infinitive: 'ope',
  gerund: 'oping',
  actor: 'oper',
  present: 'opes',
  past: 'oped',
  future: 'will ope',
  perfect: 'have oped',
  pluperfect: 'had oped',
  future_perfect: 'will have oped' }

Expected result: open - opening - etc

[2016-03-29 02:54] joel-custlabs commented on #104
This happens, because verb\conjugate\predict_form   matches via suffix_rules the -en suffix as  "participle", instead of infinite. This bug also impacts, off the top of my head: garden, happen, listen, lighten, loosen

[2016-03-29 17:34] spencermountain commented on #104
ahh, thanks Joel. Will take a look at this tonight. Nice find, and thanks for the well-researched issue

[2016-04-01 19:15] spencermountain commented on #104
hey, open,  garden, happen, listen, lighten, loosen all work properly now. woo! will roll-out in 4.5.1

[2016-04-01 19:15] #104 closed

[2016-04-01 19:23] joel-custlabs commented on #104
👍   thank you!

[2016-04-01 19:41] spencermountain commented on #103
hey man, think i fixed it, can you try it now?
http://nlpcompromise.com
cheers

[2016-04-04 16:35] tsadykhov commented on #103
just ran it through a bunch of my use cases and it passed on all of them. great work!

[2016-04-04 16:35] #103 closed

[2016-04-14 06:41] prashcr opened #105 "date.parse() in nlp_core"
I tried all the readme examples, and I got very mixed results. Did something in the library break or am I doing something wrong?

[code]

![screenshot 2016-04-14 14 31 39](https://cloud.githubusercontent.com/assets/7514066/14518881/abb570d8-024d-11e6-8ce1-b663e7c9f3b3.png)

[code]

I'm using Chrome Version 49.0.2623.112 (64-bit) on OS X
I got the same results in Node.js 5.10.1

[2016-04-14 13:03] spencermountain commented on #105
hey Prashanth, sorry, i was trying to be slick removing the `.text()` from the examples, thinking it would make for clearer documentation. I'm clearly wrong about that, i'll add em back in.
The first three problems should be fixed by adding `.text()` to return a string.

the tony hawk one is a bug - i'll check it out this weekend.

[2016-04-14 14:09] spencermountain commented on #105
hey, think i've fixed them in 4.6.3, though had the thought 'he' is not really an article....
anyways, check it out when you've got a sec
thanks

[2016-04-14 14:14] prashcr commented on #105
No worries :stuck_out_tongue:

Actually, I quite liked that functionality, since it allows for easy chaining.

The only real issue is that adding `text()` to the end isn't enough.

Had to add a `[0]` as well to pull it out of the array.

[code]

Will check out the new build soon!
Thanks :smile:

[2016-04-14 14:41] prashcr commented on #105
I was trying the negate example, found another issue

[code]

Let me know if I can help in any way.

[2016-04-20 18:07] tsadykhov opened #106 "Error when loading library in certain browsers"
This can be reproduced by visiting the demo site in Firefox (I am running 45.0.2 but I was able to reproduce in 44, 43, etc.) or Safari (running 9.1 also doesn't work in 9.0)

Firefox is throwing the error: <code>TypeError: inf.endsWith is not a function</code>

Let me know if you need anything else.

[2016-04-20 18:24] spencermountain commented on #106
ahh TImur, thanks!
will get that today

[2016-04-20 18:56] spencermountain commented on #106
got it, v4.8.2
thanks man

[2016-04-20 18:56] #106 closed

[2016-04-26 04:04] spencermountain commented on #105
agh, good eyes. This broke when i started realising questions don't have negations ..(do they?) so negation should be on the `statement` class, instead of `sentence`.
ergh. gonna have to think this through. What do you think.
i've updated the readme

[2016-04-26 10:05] orzilca opened #107 "Running spot() on new compromise nlp version"
Hi,

What is the alternative for spot from the old version? (1.x)

I was using spot to analyze texts, it looks like it does not exist in the current version..

[2016-04-26 14:16] spencermountain commented on #107
ah, hi Or, yeah sorry I didn't document that very well.
I back-pedelled a bit on a generic NER method, just because it's not always agreed-upon what should be pulled-out. Fortunately, all the specific functionality is there, and it shouldn't be too hard to cherry-pick what you'd like.
[code]
alternatively you could just loop through the terms and grab what you'd like.
the `spot` method basically j

[2016-04-26 14:36] yossi-zlot commented on #107
Do you mean that non capitalized nouns will not be picked by spot?
Is there a method that picks up nouns in a way that they are gathered together into expression if there are few in succession?
Thanks

[2016-04-26 14:43] spencermountain commented on #107
yeah, the lumping/chunking of terms is already done. I forget the details of `spot`, but it wasn't super-fancy. If you know what you're specifically looking for, you can just loop through the terms and look at `term.pos`, and `term.is_capital()`. Now that we known `pos['Person']`, and `pos['Location']`, you're well-ahead of what the spot() method could do.

[2016-04-26 14:45] spencermountain commented on #107
i don't know what your project use-case is, but grabbing person, location, and place is probably gonna do the trick. I could wrap that up in a method called spot if you wanted, but it would be a bit redundant
cheers

[2016-04-26 14:47] spencermountain commented on #107
yeah, i'm gonna do that. It make sense. Gimme a couple minutes

[2016-04-26 17:23] yossi-zlot commented on #107
Thanks - I can do without but its easier this way!
:) :) :)

[2016-04-26 19:37] spencermountain commented on #107
[code]

https://gist.github.com/spencermountain/1f589b4c9798bab2907b26d9d8b6b6af

v4.9.0, please check it out.
:metal:

[2016-04-26 19:37] #107 closed

[2016-04-29 05:56] josephrocca opened #108 "`.root()` returns text of a function"
There's something weird going on here:

![image](https://cloud.githubusercontent.com/assets/1167575/14908846/2606c874-0e0f-11e6-9c29-c22afaab43f7.png)

A bug that has been introduced recently?

[2016-04-29 14:33] spencermountain commented on #108
ahh!
thanks. will check it out!

[2016-04-29 14:34] josephrocca commented on #108
No worries :+1:
On 29 Apr 2016 10:33 pm, "spencer kelly" <notifications@github.com> wrote:

[2016-04-29 15:51] spencermountain commented on #108
hey, i got this fixed, check it out in `v4.9.1`.
It's an undocumented/sorta-experimental method, my idea being `text.normal()` still needs to be readable, but `text.root()` can be way more aggressive. Let me know if it's doing what you'd like it to.
cheers!

[2016-04-29 21:05] jim-thisplace opened #109 "Tags returns a type "Posessive""
Hi there, love the work that's been done on this highly useful project. Just have a typo fix:
The tags() func call returns a type "Posessive". Correct spelling is "Possessive".

[2016-04-29 21:07] spencermountain commented on #109
yikes!
one sec.

[2016-04-29 21:11] spencermountain commented on #109
thanks! fixed in @4.10.1

[2016-04-29 21:11] #109 closed

[2016-04-30 12:31] josephrocca commented on #108
Still returns function text for me. Tried in 4.9.1 and 4.10.1
Something I'm doing wrong on my side?
Cheers

[2016-05-01 16:18] spencermountain commented on #108
hey joseph, i may have just forgotten to build it, should be fixed now
[code]
cheers

[2016-05-02 13:36] josephrocca commented on #108
All good now! :+1:

Great work with the library - as it becomes more stable I think it'll come in handy on quite a few projects - thanks!

[2016-05-02 13:36] #108 closed

[2016-05-04 16:39] nelson-liu opened #110 "syntactic parsing"
Hi,
In the readme, you state that you get a "86% on the Penn treebank". Are you doing parsing in this library? If so, I wasn't able to find any docs on it, could you perhaps guide me to the correct module. If not, what do you mean when you say "86% on the Penn treebank"?

Thanks!

[2016-05-04 17:48] spencermountain commented on #110
hi nelson! yeah, i haven't done a good job at keeping these organised. for the penn version, i used
[this file (big)](https://raw.githubusercontent.com/nlp-compromise/nlp_compromise/2e657cd4564fc25b5e271d008c1032610e586a33/test/perf_tests/pos_test/pennTreebank.js) and mapped its tagset to mine, which got messier and messier. Importantly, I ignored sentences that had different # of terms, and only

[2016-05-04 17:56] nelson-liu commented on #110
Ah ok, I see. Thanks for the detailed explanation! This library looks great :)

[2016-05-04 17:56] #110 closed

[2016-05-04 18:45] spencermountain commented on #110
btw, this is incredible.
![full_commits](https://cloud.githubusercontent.com/assets/399657/15025346/d27ec4ee-1206-11e6-8562-a5e361f707ea.png)
you're a legend.
cheers

[2016-05-09 12:56] danielgindi commented on #81
I would try to implement Hebrew for this wonderful library.
If it was ready for multi-language.

There are interfaces that are pretty much cross-language, and some that are not. Apostrophes, for example, are something distinctive to English alone. In Hebrew, there's a similar but different thing, where apostrophes and double-quotes are use to shorten words or multiple words. i.e:
* ד"ש = **ד**רישת

[2016-05-09 12:59] danielgindi commented on #81
Btw, In most languages in the world there's a concept of male/female and singular/plural for most nouns and adjectives. A car could be female in one language and male in another, and it could be described by the color "blue" with either a female or male stemming.
The word "you" in English would have separate words for singular/plural/male/female representations in many languages.

[2016-05-09 13:09] spencermountain commented on #81
ah, thanks daniel. Yeah, let me 'round the bases' with the english version first ;)
I look forward to working with you

[2016-05-09 13:24] danielgindi commented on #81
Okay let me know when you're ready :-)

[2016-05-10 23:03] fhoffa opened #111 "BigQuery: Running nlp_compromise with SQL"
Hi! I'm running some experiments with BigQuery and nlp_compromise you might enjoy. Let's say we want to analyze all of /r/movies comments with a score>5 to extract the top people mentioned.

How about something like this?

![BigQuery](http://i.imgur.com/0EfW33T.png)

Code:

[code]

To try this, follow the instructions at https://www.reddit.com/r/bigquery/comments/3dg9le/analyzing_50_billion_wikipe

[2016-05-11 01:00] nealrs commented on #67
replace is still kind of broken (unless it doesn't work for adjectives):

[code]
throws:
[code]

[2016-05-11 08:23] cjloong opened #113 "404 error"
Hi
I am facing this error when I do npm install

[code]

[2016-05-11 14:53] spencermountain commented on #113
hi there. it's `nlp_compromise`, not `npl_compromise`
did i make a typo somewhere? i don't see anything with a grep.
cheers

[2016-05-11 14:53] #113 closed

[2016-05-11 15:25] spencermountain commented on #67
oof, thanks Neal. These examples do i think, what you're trying to do:
[code]

Yeah, there's some big problems though, regarding 1-1 tokenization of the search and replace strings. That's not a very nice error, and it exposes some tricky, big stuff.

@rbhalla amusingly, I think I fixed your issue and forgot to tell you. Check out [the tests](https://github.com/nlp-compromise/nlp_compromise/blob/ma

[2016-05-11 15:36] spencermountain commented on #111
YESSSSS~!

[2016-05-11 15:36] #111 closed

[2016-05-12 14:44] rbhalla commented on #67
Hi @spencermountain that seems right, but when testing I came across this:

`nlp.text('This is a test.   This is another   sentence.').sentences;`

Gives me the two sentences:
`'This is a test.   '`
`'This is another   sentence.'`

Is the first sentence desired behaviour?

[2016-05-14 07:17] cjke opened #114 "Compatible with ES6/ES2015? -- Cannot find module"
Awesome library.

I have been using it successfully outside of ES6, usually via the CDN, however I am now trying to bring it into a ES6 project and it seems to choke on the import.

I am using browseify / babelify if that helps.

The output is:
[code]

This is from a simple import:

[code]

[2016-05-14 14:23] lynxaegon commented on #81
@orzilca you could use this https://github.com/wooorm/franc

[2016-05-14 14:45] drhayes opened #115 "to_past turned "going" to "goinged""
Awesome library! Messing around and found this one:

[code]

It logged "This was what was goinged on". I expected "This was what was going on."

[2016-05-14 14:52] agarzola commented on #115
Wouldn’t it be more correct to say _This is what was going on._?

[2016-05-14 15:04] stanonyime commented on #105
On Chrome, i'm getting errors on:
[code]
The error is:
[code]

[2016-05-14 15:10] drhayes commented on #115
Good question; it's kind of ambiguous. I could be totally wrong here. I think it's pluperfect past, or maybe past perfect progressive? Could be totally wrong.

"This is what was going on" is a certain kind of past tense. "This was what was going on" is another. They both express different things, so... I'm not sure if we know which the user wants when they invoke `to_past`.

[2016-05-14 17:41] scanlime opened #117 "Software shouldn't guess gender"
People shouldn't guess gender and gendered pronouns. Neither should software. Would you write code to guess someone's race using heuristics?

[2016-05-14 18:14] PaulBGD commented on #117
There's a lot of uses for guessing gender, even if it's not for using to talk to the user. Using guessed gender could be useful for tracking, better search results, and better analytics (Google Analytics tracks gender).

[2016-05-14 18:15] PaulBGD opened #118 "Lots of past tense issues"
Here's a few examples I found
![Image](https://i.imgur.com/yFizkAN.png)

[2016-05-14 18:31] felicitus commented on #117
@PaulBGD I feel offended by the algorithm.

[2016-05-14 18:36] komali2 commented on #117
@scanlime Surely we are not letting this movement come this far. English has gendered pronouns, would it not make sense for a natural _language processor_ to recognize that and utilize it?

Identifying a gender (or race, or religion) shouldn't be considered offensive, and that's all this program does. This program doesn't create glass wage ceilings, or cause a disparity in the number of female eng

[2016-05-14 18:47] scanlime commented on #117
Okay: Consider how your algorithm would work when it gets the guess wrong. Consider whether it would be better to use an ungendered option like "they". I understand that human language includes a whole host of assumptions that encode cultural biases- this just seems like one area where it's easy to remove gender, and the benefits of leaving gender in are mostly to serve those for whom gender is pu

[2016-05-14 18:48] PaulBGD commented on #117
@scanlime You're suggesting that a single use case means that the entire feature should be removed. There are many, many reasons to try to guess gender besides displaying it to a user.

[2016-05-14 18:49] scanlime commented on #117
@PaulBGD You misunderstand the scope of my complaint. I'm not saying don't display the guess to the user, I'm saying don't guess at all. I don't see how one can make non-harmful marketing or search decisions based on guessed gender. Can you elaborate?

[2016-05-14 18:51] nbarbettini commented on #117
In the context of a NLP, I don't see how this would make sense. English doesn't have different pronouns for addressing races, but it does for addressing gender. Whether it *should* be that way is a different argument, I think.

I agree that this is better in some cases as it's more general, but it adds some complexity because it's also plural.

[2016-05-14 18:51] vanita5 commented on #117
@PaulBGD but why do you need to guess gender if you can use ungendered language? Besides being more inclusive you don't even need an algorithm for guessing.

[2016-05-14 18:53] PaulBGD commented on #117
I listed a few examples in my first comment. A lot of tracking reasons come immediately to mind.

[2016-05-14 18:54] nonchip commented on #117
which? that don't break as soon as you let them out in the wild.

nobody likes skyblue/pink marketing, so nope.

how's that? only show trucks to guys? yeah no.

and fails to do so. as does twitter analytics (they actually flipped what they think would be my gender multiple times in a week).

[2016-05-14 18:57] scanlime commented on #117
I'm trying to imagine a use for gender in search... the only thing that maybe comes to mind is searching contacts, but then it'd just make it harder to find all my genderqueer friends (or just people who aren't on the name whitelist heh).

[2016-05-14 18:58] nonchip commented on #117
except for dating websites, which are broken by design anyway (see "meat market"), there's no (non harmful) use case i could imagine.

[2016-05-14 19:01] scanlime commented on #117
@nonchip In cases like that (dating, specifically gender-related sites) it would be wise to just let people specify a gender in some way that's appropriate for the platform

[2016-05-14 19:01] nonchip commented on #117
but actually, the "laugh emoji" reactions to @felicitus' post already shows us the error cause here: layer 8.

[2016-05-14 19:03] nonchip commented on #117
@scanlime that's exactly my point. (also what i'm doing: using "varchar(256)" string inputs and autocompletion for suggestions, but even the dropdowns/radiobuttons you usually see are broken by design, and it can't get any better by letting some algo try and guess)

[2016-05-14 19:07] nbarbettini commented on #117
Maybe I'm missing something here: AFAICT, this is an optional minor feature of a broad library that does natural language processing. I would expect it to be wrong sometimes, in the way that machine "understanding" of text and society often is. Why is it a problem if this library offers pronoun guesses as an optional feature?

[2016-05-14 19:08] nonchip commented on #117
@nbarbettini the problem starts with having this folder altogether: https://github.com/nlp-compromise/nlp_compromise/tree/master/src/data/names

[2016-05-14 19:12] jbilcke commented on #117
I tried to write code to detect the gender using a database of censure / statistics.

My feedback, and why it was futile to do so:

- lack of data (eg. foreign names)
- unisex names are a reality (Sam, Joey, Camille)
- data is ever changing (eg. being created, trends changing)
- it is assuming there are only two possible genders to which people do identify

Finally, the reaosn who made me abandon:

[2016-05-14 19:15] nonchip commented on #117
@nbarbettini also, about the "optional minor feature": that's true, but also what this ticket is about. as far as i can tell nobody wants to burn this project to the ground because of it. it's just that this one feature is a) broken by design (by the way language and people work) and b) especcially broken in the way it's implemented (using 2 hardcoded lists to decide), as @jbilcke points out prett

[2016-05-14 19:16] nbarbettini commented on #117
@nonchip Gotcha, thanks for elaborating.

[2016-05-14 19:16] wybiral opened #119 "Firefox function instead of string"
#### Version: 4.10.5
#### Browser: Firefox 46.0.1

#### Error:

#### Notes:
The implementation of `endsWith(str, suffix)` is being called with `str` as a function, the origin of the call is from `gerund(o)`.

#### PS:
This doesn't happen when you run the demo in 4.10.5 because that demo is pulling the library from `https://npmcdn.com/nlp_compromise@3.0.6/builds/nlp_compromise.min.js`. If you chang

[2016-05-14 19:18] nonchip commented on #117
(and, sadly, seems broken by opinion too: any benefits of gendered marketing/statistics tracking/etc are purely made up in the mind of people trying to do marketing/statistics without knowing how people and the real world work :P)

[2016-05-14 19:27] nonchip commented on #117
imho, any use of "gender categorizing" except the statistics @jbilcke mentioned above (and even those only if you take the result with a few grains of salt) is just making up random values with no real meaning whatsoever.

btw I'm binary gendered myself, I just seem to know how people work better than those marketing people who think there'd be any benefit in using it :P

[2016-05-14 19:32] sotojuan commented on #117
How about an option flag that turns gender guessing on or off?

[2016-05-14 19:37] rpearl commented on #117
An option flag isn't relevant--you can already choose to use this feature or not. The issue is that having this feature *at all* is just fundamentally broken. Choosing to use it gets meaningless, noisy results.

[2016-05-14 19:42] nonchip commented on #117
also, even offering the feature puts you into a hell of problems, because _you simply can't get it right_. so anyone who is "fooled" into using it by it's existence is being put into a lot of trouble ranging from annoyed users who got guessed wrong, to annoyed bank accounts because you based your marketing on wrong data, to confused marketing folks themselves because they're getting utterly broken

[2016-05-14 19:42] rblalock commented on #117
There's a really easy solution for this:  For those not interested in a scientific approach to writing software....fork it and write your own....I'm sure there's some use somewhere out there for a computer program that can't to identify things based on data.

[2016-05-14 19:45] nbarbettini commented on #117
@nonchip I agree, except in the sense that I can understand why a NLP library would try to offer it even if it's hard/impossible to do.

[2016-05-14 19:45] nonchip commented on #117
@rblalock are you suggesting having 2 lists of names and trying to use them for anything useful is a "scientific approach"?

you know, science is used for understanding the world around us? so how can ignoring the world around us and inventing a pretty bad RNG based on usernames being "scientific"?

[2016-05-14 19:48] nonchip commented on #117
@nbarbettini i can also see why it could/would try it (from a language analyzing POV), but i doubt it can be done at all, and i know it can't be done the way it's done here: by claiming there'd be exactly two genders and there'd be no people with names from the "wrong" list. also, listing names is a pretty bad idea, cause a) there are REALLY MANY of them, b) their use changes frequently, c) there

[2016-05-14 19:51] jbilcke commented on #117
I can hardly think of `// if it ends in 'oh ur uh', male` as a scientific approach based on data, contrary to, perhaps, large scale survey where one would ask people their name and their identified genders (even if they are biased, eg. only proposing 2 categories):

http://deron.meranda.us/data/census-naming-method.txt

[2016-05-14 19:54] rblalock commented on #117
Watson does it.  Facebook does it.  Lots of computer programs do it.

[2016-05-14 19:56] rpearl commented on #117
Facebook lets you choose one of very many gender options--I think the list has more than 50 options. If I remember correctly, you can also choose pronouns separately. There's no inference going on--they're tracking people's choices, not making decisions for them.

[2016-05-14 20:01] masterbase commented on #117
Only because other programs do it, doesn't mean you have to replicate it.
I offend by such programs because they get it wrong, and I guess that they get it wrong for a lot of female users in STEM.
An sorry purely guessing gender on names doesn't work. The same name may be use for females and males in different cultures. And than we haven't event scratched the fact that gender is not binary.

[2016-05-14 20:02] scanlime commented on #117
I hate it when a computer tries to guess my gender. I'm binary-gendered, but they're often confused by me and it's an echo of the same confusion present in mainstream society. This is an aspect of human behavior that we don't need to lazily clone into our automated systems.

[2016-05-14 20:03] nonchip commented on #117
also, facebook DOES NOT do it: anyone who didn't set their gender themselves is always referred to as "they". also mentioned in the video by tom scott linked above.

apart from that: if "facebook does it" would be an argument, we'd all be shouting racist crap at one another without being intervened but banned from everything by even mentioning the existance of nipples. while we'd be selling every

[2016-05-14 20:12] nateabele opened #120 "RFC: Functional API?"
Would you accept a patch to convert the API to return immutable objects instead of mutating the base value?

Should make things like...

...easier to implement.

Would also obviate this:

[2016-05-14 20:23] sotojuan commented on #120
Would be interested in helping to implement this if accepted.

[2016-05-14 20:39] csaintc commented on #117
It's MIT license. Fork it and have the version you want.

[2016-05-14 20:46] vielmetti commented on #117
Having a list of names is only one way to guess. Here's another:

Scott Pakin. Regular Expressions and Gender Guessing. In Computer Language Magazine, 8(12):pp. 59-68, December 1991.

[pakin1991.pdf](https://github.com/nlp-compromise/nlp_compromise/files/264682/pakin1991.pdf)

Code below is in awk. It uses a master pattern to identify male/female and then a series of guesses to refine things. It d

[2016-05-14 21:01] sotojuan opened #121 "Whitelist directories for a smaller module size"
Currently if you install the npm version of this library you are downloading everything in this repo, including builds, demos, tests, and docs (`builds/`, `demo/`, `test/`, `doc/`).

There's no need to include this in the npm package—when you `npm install` you expect the "production" version of the library. It's wasteful to download development stuff like tests and docs. If a user is interested in

[2016-05-14 21:08] rubenwardy commented on #117
These heuristics are basically bs, the only way it should try to find gender imo is by looking for "he" "she" "mr" "mrs" already in the text, and not assuming solely on the name. (ie: Chris can be a female name). It's much better to just say "they" rather than get a false positive.

[2016-05-14 21:13] nonchip commented on #117
@rubenwardy that's exactly what I do: gender as an free text input field, and "they" as every pronoun. works pretty well.

[2016-05-14 21:30] komali2 commented on #117
A big reason that attempting to take an "agendered" approach to processing the English language is because it is not an agendered language. I applaud efforts to change how a language work (it'll take a titanic effort), but this is not an API for furthering the cause of LGBT language-changers. This is an API for processing the English language based on _how it is currently used_.

English use case

[2016-05-14 21:38] rubenwardy commented on #117
Really this should be split into gender and fuzzy_gender.

Gender looks for evidence of gender by checking for he/she/Mr/miss/etc, whereas fuzzy_gender could use these heuristic guesses to return percentage values. That makes it much more useful, imo.

[2016-05-14 22:23] rpearl commented on #117
Inferring gender of a name in the way this codebase does is not "processing the English language". This codebase has insufficient context to make these inferences with any accuracy. Nor is making these predictions necessary to understand the contents of a sentence.

Yes, this is what several people have been asking to happen. This API is small and optional... and performs poorly. Why have it?

Mon

[2016-05-14 22:41] DominoTree opened #122 "BUG: Project perpetuates gender binarism"
Binary gender has been deprecated.  This project should be updated to support a modern fluid gender specification.

[2016-05-14 23:20] silentrob commented on #122
This is a duplicate issue, and ongoing discussion happening on GH-117.

[2016-05-14 23:20] #122 closed

[2016-05-14 23:44] vielmetti commented on #117
I'm looking at the unit tests, and see

https://github.com/nlp-compromise/nlp_compromise/blob/master/test/unit_tests/nouns/person.js#L61

which has a very small test corpus (about 20 names) and which surprisingly to me has more than "Male" and "Female". There is a third gender, marked as "null", which returns both for nonsense names ("asdfefs") and for names with gender ambiguity ("Jan" is the tes

[2016-05-15 01:35] TrayvonMalik commented on #117
The mistake that a number of commenters here are making is assuming that the activists lobbying to remove this feature from the project are arguing in good faith, rather than simply attempting to exercise power by imposing their worldview on the maintainers of this project.  The only rational response is to first google the term "kafkatrap" to familiarize yourself with their tactics, and then clos

[2016-05-15 01:47] rubenwardy commented on #117
I disagree with the aim of this issue, to remove gender from this library. It's useful to be able to get the gender of a noun in a sentence. Just because this could be abused, doesn't mean that it should not be in at all. The issue I have is that the code isn't very useful: it makes panicky guesses towards the end of the function just to return a result. It should look for evidence in the text, no

[2016-05-15 05:52] Ironholds commented on #117
"The mistake...is assuming the [bug-openers] are arguing in good faith"

*looks at GitHub profile*
- [ ] 0 contributions
- [ ] Fake name
- [ ] Fake photo
- [ ] Registered today just to participate in this conversation

Hmmnmnmmnmn.

[2016-05-15 06:43] nonchip commented on #117
@rubenwardy the primary problem is not that it would/could be abused; the problem is that it doesn't and can't ever work without asking the user directly by definition (insert some smart remark about human free will here)  ;)

[2016-05-15 06:48] h4rm0n1c commented on #117
As a contributor to a number of projects, I've seen this disingenous line of reasoning used by ideologues and "offendatrons" to bully other software projects into making pointless and silly changes.

The payoff for them is "we harassed this person into complying with our Point of View and requests, WE HAVE POWER!" (essentially, they're bullies who get off on using "mob justice" to enforce their vi

[2016-05-15 07:03] rpearl commented on #117
Please actually address the points made by the people requesting this change, because that's not one of them. The points include but are not limited to:
1) It is impossible to infer gender with any degree of accuracy, and the attempts to do so in the code in this repo are very poor, yielding noisy and misleading results. The code is broken on several levels.
2) The API hands back a binary gender o

[2016-05-15 07:11] h4rm0n1c commented on #117
There's no need to address the points, if you don't like the implementation, make a better version and then make a PR.

Don't sit here and make demands of open source projects: do it yourself.

[2016-05-15 07:46] dpyro commented on #117
Because people are getting tired of being no-platformed, censored, harassed, doxxed, and blacklisted from their jobs because they dared have a different opinion than some SJW crybully. Some of us are absolutely tired of Code-of-Conduct offendatrons who contribute nothing but discord and disruption to OSS projects.

Submit a pull request, or fork the project. Don’t sit crying that the English langu

[2016-05-15 07:59] scanlime commented on #117
I'm not going to bother responding to the ad-hominem ranters. Clearly this is just a humble issue request, and nobody has to do anything. If I were going to personally use this library, I'd probably submit a PR for this. As it is, I just came across this on HN and one of the examples caught my eye in that "uh, how could that possibly work?" sort of way.

Anyway, my concern has nothing to do with "

[2016-05-15 08:10] h4rm0n1c commented on #117
A humble issue request that made it to the #1 rank on hacker news yesterday and has attracted similarly themed but poorly targeted versions of this request, all with the kinds of buzz-words that that group always uses.

Yeah, nothing untoward or disingenous going on here at all... I (LISTEN AND) BELIEVE YOU.

[2016-05-15 08:16] dpyro commented on #117
“I don’t actually have a valid argument, so I’ll ignore inconvenient statements. Even though not everyone lives in my bubble where i can pick and choose my gender depending on my mood, I should be allowed to push my beliefs and ideas onto other people."

Look, if it doesn’t work for you, improve it, maybe just make a spec, do something. Don’t just drive-by concern-troll some random project that of

[2016-05-15 08:38] h4rm0n1c commented on #117
Good point, @dpyro, this is a technical issues forum, not Tumblr.

I know, it's hard for some people lower on the bell curve to distinguish the difference between two completely different web sites.

I mean, both github and tumblr have an editing box and a submit button! So confusing.
.

[2016-05-15 09:11] GarethNelson commented on #117
There seems to be 2 issues here:

1 - The "we shouldn't guess gender at all" nonsense - i'd suggest that the project maintainer completely ignore such a downright stupid request and anyone offended by a piece of software having this feature go and fork the code to remove it.

2 - The algorithm used is not accurate - the solution here is to mark it as experimental and do the work to bring it up to

[2016-05-15 09:14] nobledemon commented on #117
I think identifying gender is good. There are several uses that align with social justice in a feature and I think that in identifying it, we can find a common ground where this repository will not need to be changed and activists can be happy. For example:

- If you have a campaign that attacks regular males for being potential rapists (even if the majority isn't and will never be a rapist) you c

[2016-05-15 09:18] nonchip commented on #117
if your consensus seems to be "don't use issue trackers", why enable it for the project?

[2016-05-15 09:19] GarethNelson commented on #117
I really hope that's a joke nobledemon.

Guessing gender, just like guessing subject, is a perfectly legit feature for a natural language library to have. A small minority find it offensive to guess gender, I say ignore them and do not make your code less useful just to appease them.

[2016-05-15 09:21] nonchip commented on #117
@nobledemon i hope that's a joke… you are aware singular `they` has been around since pre-shakespearean times? also since ages before as the `pluralis maiestatis`.

[2016-05-15 09:27] herpdederp commented on #117
@nonchip Issue trackers for open source projects are not the correct place to argue semantics of how people communicate. If you think people shouldn't speak English because its gendered, fork the language. If you think this library shouldn't have gender, then fork it. The issue tracker is for people who encounter issues using the project.

[2016-05-15 09:29] nonchip commented on #117
@herpdederp: well, i did encounter an issue: this project is trying to implement the impossible, very poorly.

[2016-05-15 09:31] nobledemon commented on #117
@GarethNelson  It's a joke directed to the bug openers. To show them how useful would such a feature be for their regular campaigning. But perhaps if they see legitimate utility on this they will quiet down.

@nonchip Not joking. Perhaps for a philologist is obvious, but as a non-native english speaker what you will learn about english is that 'they' is plural. And this has been like this for a lo

[2016-05-15 09:32] jycr753 commented on #117
@scanlime Only an idiot will feel this to be offensive, so you people lost the fight against gamergate, now coming here to miss with this community, get a life!

[2016-05-15 09:34] herpdederp commented on #117
@nonchip I'm going to give the benefit of the doubt and assume you're actually working on a project that uses this library. There is no possibility this would impede you in any ways shape or form. If you've somehow run into a problem, I'd be more than happy to help.

[2016-05-15 09:43] kgrm commented on #117
It is unclear how this "issue" impedes your use of the library. Can you clarify?

[2016-05-15 11:41] softwareshouldmaybeguessgender commented on #117
I am frankly *shocked* to find that neither @scanlime or @nonchip have any activity on their GitHub accounts involving NLP software:
https://github.com/nonchip?tab=activity
https://github.com/nonchip?tab=repositories
https://github.com/scanlime?tab=activity
https://github.com/scanlime?tab=repositories

I might even go as far to say that their issues with this are purely social and not technical in

[2016-05-15 13:15] Codeusa commented on #117
Let's get something out of the way, heuristics are usually unreliable given the context, however heuristics being used for "guessing race" doesn't mean I'm going to wake up with leprosy when it thinks I'm white.

Just because you find this feature offensive and "broken" doesn't mean others do and they will see a guess as reliable enough to add into their stack. To remove this feature only because

[2016-05-15 13:56] rubenwardy commented on #117
That's bs, you can easily get the gender from these sentences accurately:

[code]

[2016-05-15 14:02] hjek commented on #105
@stanonyime I'm getting that error as well on **NodeJS**. (All other examples working fine though)
[code]

[2016-05-15 14:02] tylerl0706 opened #125 "Slack link goes to 404"
The link to join the Slack group on:

http://nlp-compromise.github.io/website/?ref=producthunt#join

goes to a 404.

[2016-05-15 14:09] Arcane21 commented on #117
@scanlime Just dropping by to comment, and yes, I do support GamerGate, but that is immaterial to my objection, which are that this project was designed to use language used by the majority of humanity in a Javascript environment, and from a code and common sense standpoint, the majority of humanity uses gendered language.

To cast this aside in favor of what you admit is your own personal taste i

[2016-05-15 14:13] nonchip commented on #117
…and?

if "software shouldn't try to do magic" is a personal belief, then yes.

yeah, that's also bs, because then you can just replace the whole library by some function matching 2 easy example sentences returning hardcoded values.

whoops, wrong. quoting what I linked above again: "1/4 of the world's languages". also, while humanity more or less manages to get it done, this feature using 2 hardc

[2016-05-15 14:13] Inirit commented on #117
This is insane, why this issue is even still open is beyond me.

[2016-05-15 14:18] entd commented on #122
"Binary gender has been deprecated" - [citation needed]

[2016-05-15 14:24] SharkMachine commented on #117
I agree with @Inirit. Gender politics doesn't belong here.

[2016-05-15 14:29] jamen commented on #117
I think outside the scope of this issue, someone somewhere might be able to find a use...  Don't use the feature if you don't like it.

[2016-05-15 14:32] jycr753 commented on #117
Voting to close, this is not a software issue, totally off topic 👍

[2016-05-15 14:35] speakeasy commented on #117
It's not a bug, it's a feature.

[2016-05-15 14:38] SharkMachine commented on #117
@speakeasy No it isn't. This is clearly about **removing** a feature that might be and apparently is useful to people.

[2016-05-15 14:53] jamen commented on #117
In response to the main thread @scanlime:

I don't think it's about whether a library should or should not, it's about that it can and will at the user's digression.  It boils back down to whether people should or should not, because you are the user of the library.

[2016-05-15 15:03] GillesJ commented on #117
While this has been clearly stated I would like to offer some insight where all this comes from. This issue is not one of software design but one of ideology. The ["gender-neutral language movement](https://en.wikipedia.org/wiki/Gender-neutral_language)"[1] is a prescriptivist group aiming to change languages with natural gender.

An NLP software library is not to be ideologically inspired. It sho

[2016-05-15 15:14] softwareshouldmaybeguessgender commented on #117
@nonchip I would say the same about MongoDB, but then again you wouldn't see any bug report taken seriously that says "Document-oriented databases shouldn't try to hold data when most data is relational".

I honestly do not think that highly about the algorithm. It obviously will not work in all cases and it is also "experimental". It's blunt enough to deserve some criticism. There are certainly

[2016-05-15 15:45] RRorg commented on #117
Especially when looking on Twitter it becomes obvious that the OP's main concern is trying to stir the pot, and her interest is not so much technical, maybe not even social, but mainly focussed on artificially creating outrage. Who knows what her motivation is - maybe it really is making the world a better place, or maybe it has something to do with her linked Patreon page - this still is a topic

[2016-05-15 15:49] SharkMachine commented on #117
@softwareshouldmaybeguessgender there are many people who feel like the SJW:s are starting to have too much influence here, a good example is https://github.com/django/django/pull/2692

[2016-05-15 15:54] zahlman commented on #117
Some general observations and pairs of cents.

* There's a pretty clear debate here with two pretty clear "sides" that are mostly not talking about technical issues, within the first 24 hours. This is never a good sign, but now that the matter has been brought to my attention I'm going to have my say, too.

* I see a lot of mud being thrown regarding the commit history, stars, account age, relevan

[2016-05-15 16:08] RRorg commented on #117
@zahlman

Spot on. Especially since nlp-compromise is not (necessarily) used to identify the gender of a (real) person, but to parse text. A possible use case would for example be to automatically alter a literary work as to replace a male character with a female ("Bob was hungry. He ate an apple." => "Alice was hungry. She ate an apple."), or to understand which character is being referred to ("B

[2016-05-15 16:27] hexafluoride commented on #117
1. If you don't like the function, don't use it.
2. If you think that the function is too unreliable to produce any sort of meaningful output, and you have already done 1, then why do you even care? You should be concerned about this only if you use the function, and if so, you should refer to 1.

[2016-05-15 16:35] RRorg commented on #125
see this PR: https://github.com/nlp-compromise/website/pull/5

[2016-05-15 16:38] DaxDupont commented on #117
This whole issue is just the most inane thing I've ever seen in my life. I can't believe this is not satire.
I'm laughing and crying at the same time holy shit.

[2016-05-15 16:50] RobertWHurst commented on #117
The Cycle Of SJW Inclusivity
Step One: We demand you include us in your space.
Step Two: We demand you change your space to accommodate us.
Step Three: We demand you stop harassing us because you don’t like our demands.
Step Four: We demand new laws or rules be enacted to remove “you” from the space “we’ve” created as you don’t fall in line with our vision of what the space should be.
Step Five: W

[2016-05-15 16:56] gravypod commented on #117
If you can't find a use for gender in a gendered language then I don't think you are thinking hard enough.

For instance, if you are using Google Now, try these queries in voice:

Then ask..

Google Now will pick up that by using "he" you are referring to a person in your search history. It will search for the first male gendered person in your search history (Ringo Starr) and give you back inform

[2016-05-15 17:04] RRorg commented on #122
Even if the initial claim of binary gender being deprecated is true, this library would still be useful to parse legacy pieces of English language. Sorry for nitpicking!

[2016-05-15 17:11] Codeusa commented on #117
@RRorg no one opposes LGBT representation, spreading that false narrative does nothing but spread further drama into an already drama saturated topic. This is about people calling for the removal of a feature without offering any real alternatives because "it upsets them".

The majority of LGBT people don't care about this, because they don't use their sexual preference or identity as a symbol to

[2016-05-15 17:20] tylerl0706 commented on #125
That brings people to the Slack group login but it doesn't allow people to sign up or join the Slack group. Or am I missing something haha

[2016-05-15 17:24] RRorg commented on #117
@Codeusa please read the rest of my posts before judging my stance. Still, you cannot deny that there are certain groups on the internet currently exploiting this topic, I have already seen this very thread linked with descriptions like - I quote -

to give just one of the tamer examples. Prejudice is very much alive, unfortunately.

But of course I too feel like a non-issue is being blown out of

[2016-05-15 17:28] RRorg commented on #125
Good question, as far as I know the owner of the Slack group would have to allow public sign up!

...paging @spencermountain

[2016-05-15 17:32] Codeusa commented on #117
@RRorg I'm not going to deny people in the far right can be unreasonably toxic, nor can you deny people on the far left can be just the same with comments such as

But that is the issue really, radical anything is toxic and those are the types of people who tend to fan the flame on these discussions. When you try to inject personal politics and agendas into software/open source development these a

[2016-05-15 18:13] DaxDupont commented on #117
The problem is feelings, feelings have no real place in a discussion like this. This is a matter of science, where the facts matter. Not some vague feeling of injustice because something doesn't fit in your world view. I mean, I'm part of the LGBT spectrum as well, so it's not just privileged viewpoint I'm talking from.
I am just gonna quote a 'cis white male' named Bertrand Russell on this becaus

[2016-05-15 18:15] nijikokun commented on #117
Silly issue. Issues should be to improve not to detract. Let's work towards a way to determining more genders based on factors other than names than to remove gender guessing all together.

This issue should be closed in favor of an issue or pull-request that does that. This is not improving the project in any way.

[2016-05-15 18:42] ranneyd commented on #117
There are people taken as sex slaves by ISIS. Pick a new issue to complain about, maybe one that actually matters next time.

[2016-05-15 18:46] ranneyd commented on #117
There are people being taken as sex slaves by ISIS, and you're on Github complaining about a natural language processor using gendered pronouns.

You make software. You could be making something that makes a difference. I'm not talking about the latest way to order a sandwich with your cell phone, I'm talking about things that could really help people, like tools to help people with diabetes keep

[2016-05-15 18:51] ranneyd commented on #117
Gamergate: a guy complains on the internet because his girlfriend cheated on him. People like you accuse him of "slut shaming". 4chan finds out and posts ridiculous stuff on twitter to bait you. It works. Now we have a big issue that CNN is reporting on that's based on absolutely nothing in reality, and people like Anita Sarkeesian figure out how to exploit it and make hundreds of thousands of dol

[2016-05-15 19:38] piedoom commented on #117
I think it's important to realize the intersections between social justice, utility, and marketing.
On a site like Facebook, it would be pointless and even disrespectful in some cases to assume ones gender based on their name.  Many times it would be wrong, and it could even be hurtful to the individual if they were trans or didn't identify with the gender binary.
However, I think it's important t

[2016-05-15 19:43] meisyal opened #126 "Decimal or fraction support"
First of all, I would like to say congratulation for making such amazing JavaScript NLP library.

This library is great because it's my first time seeing NLP library that can detect a number or even a unit from a term. For instance, I have a term `five kilometers`. This library can detect a number (`five` to be `5`) and a unit (`kilometers` to be `kilometer` or `km`). But, this library doesn't sup

[2016-05-15 20:29] nickplee commented on #117
I've always had success with this implementation:

[code]

But seriously, consider this:
You're complaining about how an open source project (that someone graciously offered for download at a zero price) makes you feel.  Furthermore, you feel entitled to make demands about its functionality without (to my knowledge) opening a pull request or forking it yourself.  That's a pretty good symptom of ho

[2016-05-15 21:35] jashsayani opened #127 "Place can also be airport codes (eg JFK)"
The `place` API is interesting, in that the library knowns about places. Not sure if places belongs here but if we have cities, then airport codes can also be very useful.

Example: Find flights from JFK to SFO.

An alternate would be to have "data-plugins" that define sets for categories like places. So an airport plugin can be used that would recognize airport codes as places.

[2016-05-15 21:38] jashsayani commented on #126
This is interesting, as decimal detection is locale sensitive. So in `en-us`, we have 1.45 whereas in `fr-fr` we have 1,45 (use of `,` over `.` as a decimal character).

[2016-05-15 21:39] masterslavedb commented on #117
Something like 99.3% of the population identifies as male or female. Even transgender men and women still prefer to be referred to as man or woman. There clearly is a use case for trying to determine gender from language context. Gender is a significant predictor of many qualities about individuals and is resultantly used in many applications. There are many easily observable differences, both beh

[2016-05-15 21:42] mzwmzw commented on #117
Yes, this thread was a mess from the very start and there's no way it's going to get better. Strongly suggest the project maintainer close and lock this unproductive issue and put it out of mind. It might be a good idea to block the people who proposed and advocated it, as well -- they don't appear to be users of or contributors to this library, and if you leave them be you're just going to get mo

[2016-05-15 21:43] jashsayani opened #128 "It might be helpful to parse abbreviations of common words"
While English is an amazing language and NLP has reached a point where it is very good at breaking up English sentences to understand context, humans have transformed English from the amazing language to a bunch of abbreviations tacked on together. So it would be more useful if the NLP library understood common abbreviations since thats what users would type.

Example: `I cannot come to dinner as

[2016-05-15 21:49] vexin217 commented on #117
OH NO! Gender misinterpretation! As a Third World citizen, I can't help but chuckle at the things some people consider so problematic.

[2016-05-15 21:55] masterslavedb commented on #122
Only 0.3% of the US population identifies as transgender.

http://williamsinstitute.law.ucla.edu/research/census-lgbt-demographics-studies/how-many-people-are-lesbian-gay-bisexual-and-transgender/

[2016-05-15 22:15] 2426021684 opened #129 "New Unit: Grams"
Parsing "5 grams" results in no unit but parsing "5 g" works.

[2016-05-15 22:17] silentrob commented on #125
The discussion is happening on the superscriptjs slack group #nlp_compromise, login here - http://superscript-slackin.herokuapp.com/

[2016-05-16 00:26] PaulBGD commented on #117
As the first commenter, I just want to say: stop brigading this issue. Pretty much everything has been discussed and I'm honestly mad that people are still liking/disliking my comment because that's not contributing to this. Obviously this is a choice up to the maintainer and all of these new accounts are not helping.

[2016-05-16 00:49] jamen commented on #117
Unsubscribing from issue, I vote to lock and close.

[2016-05-16 01:42] spencermountain commented on #127
ah! very neat idea. I like this a lot.
happy to support this one in master.
let me get through some backlogs..
thanks

[2016-05-16 02:39] spencermountain commented on #117
hi Micah and others, thanks for your interest and criticism, as well as your patience.
The feature was brought in to enable pronoun resolution - which is really handy for interpreting when a subject is mentioned more than once in a text.
Luckily, it's the only place in english (i think) where these old-fashioned gender concepts appear.

I agree it would be obtuse to use it, or similar methods, for

[2016-05-16 02:39] #117 closed

[2016-05-16 02:51] DominoTree commented on #122
@masterslavedb that's great... What about some of the other definitions?

https://s-media-cache-ak0.pinimg.com/736x/3f/b9/df/3fb9df813f5d71f6151dfbaae6cc9a70.jpg

[2016-05-16 07:48] hherman1 opened #130 "Syllable hyphenation fails for the dipthong 'eu'"
Using the 'Syllable hyphenation' demo from http://nlp-compromise.github.io/website/#demos produces a syllable for each of 'e' and 'u' for the word 'eulogy', while the correct breakdown would be 'eu' 'log' 'y'.

[2016-05-16 07:50] hherman1 opened #131 "Tense conversion incorrectly converts participles"
On the 'Tense conversion' demo from http://nlp-compromise.github.io/website/#demos the phrase 'He is running' is converted to 'He was ran', rather than 'He was running'.

[2016-05-16 12:52] geekodour opened #132 "Method to list nouns and verbs in a sentence"
I have seen the example and the attached sources, but I am not able to find a good solution to get the nouns or verbs from a given sentence. Is this a feature to be implemented? I am thinking of contributing to it.

[2016-05-16 19:53] Haroenv opened #134 "Site doesn't work on older browsers"
`let` is just an example of code that doesn't work if the browser doesn't implement ES6 fully.

You could use a transpiler like Babel to fix this.

[2016-05-16 21:38] schmod commented on #117
Can I recommend changing the documentation to make references to this feature less prominent?

I feel that there are legitimate academic uses for this feature, but that it would be harmful to use in a real-world application.

In this case, I feel like the documentation for this portion of the API belongs under a separate "Experimental" header explaining some of the pitfalls of automatic gender det

[2016-05-16 21:40] jycr753 commented on #117
@schmod just stopped case close... "good citizen" do not work in this case.

[2016-05-16 22:14] ranneyd commented on #117
@schmod for fucks sake what do you think "closed" means

[2016-05-17 01:15] spencermountain commented on #128
hi Jash, I completely agree! ;)
this is a great idea, and would fit nicely with the concept of text-matching by meaning/grammar -
`nlp.text('coz im at a meeting').match('~because~ i am')`
should probably be a good match, right?
love it

[2016-05-17 01:41] spencermountain commented on #126
thanks Andrias, I was surprised about this too.
great idea. Potentially it could handle `one and two-fifths teaspoons` as well.
I once tried handling "five and a half thousand", etc but it got a little sloppy. Not impossible.

@jashsayani ooof! this is true isn't it. shiiiiiit. Is there a way to mitigate it? I suppose it's less-ambiguous when there's less than three digits after the comma? ... i'm

[2016-05-17 02:34] spencermountain commented on #119
AHHHH!

[2016-05-17 03:23] spencermountain commented on #119
Davy, thank you so much for this.
I've rolled-back the used library version to 4.5.1, and the website loads now. That was a great idea.

The issue involves me forgetting to use `hasOwnProperty`, and the word 'watch' gets conjugated, it passes-around Object.watch().
I'll look at a proper fix for this very soon
cheers man

[2016-05-17 03:59] spencermountain commented on #114
ah, nuts. thanks Chris, will take a look

[2016-05-17 04:02] spencermountain commented on #121
ah, definitely Juan. I didn't know this was possible. Love it, sounds good!

[2016-05-17 04:04] cjke commented on #114
Na man all good. Great library. We are looking at using it an upcoming project, and was knocking together a few spikes (here's a mini mini spike with React http://jsbin.com/govomanaca/edit?output  -- ignore my shocking code)

I will look at the contributing guide too, maybe PR's are better in the future

[2016-05-17 04:10] sotojuan commented on #121
Thanks. Is the `plugin` directory needed or is it just there as an example?

[2016-05-17 04:19] spencermountain commented on #132
hi Hrishikesh, Thanks. yeah, I think there used to be helper-methods for this.
Right now you can do this:
[code]
I think you're right about it drifting around the docs, maybe it should exist again! go for it!

[2016-05-17 04:29] wybiral commented on #119
:+1:

PSS: So far this is a really cool Javascript library! I'll definitely be thinking of ways to leverage this kind of functionality in future projects.

[2016-05-17 09:45] vladgolubev commented on #131
Another example.

![image](https://cloud.githubusercontent.com/assets/3817380/15318101/268674b2-1c2d-11e6-82f3-5182490a61ae.png)

[2016-05-17 13:59] #119 closed

[2016-05-17 15:05] spencermountain commented on #134
hey Haroen, thanks. i've made some fixes, but there's still some babel/es5 issues. am on it.
cheers

[2016-05-17 15:07] spencermountain commented on #131
aye! will take a look
thanks guys

[2016-05-17 15:07] Haroenv commented on #134
great!

[2016-05-17 15:09] spencermountain commented on #130
ah, that's a good one.
I'll add this one to the stack.
cheers!

[2016-05-17 15:10] spencermountain commented on #129
thanks! will take a look

[2016-05-17 15:19] danielfoord opened #139 "Contractions missing whitespace after expansion"
Hi guys,

I couldn't find any similar issues reported so here goes:

On your site, the example for contraction expansion expands

We've only just begun, to live. White lace and promises. We'll start out walkin' and learn to run.

to

We haveonly just begun, to live. White lace and promises. We willstart out walkin' and learn to run.

There is a missing space after the 2nd part of the expanded cont

[2016-05-17 15:23] spencermountain commented on #120
hey guys, I like this idea too. It's a pretty big one. Join the conversation in #89 ? I think it's up your alley.

Right now the methods are sometimes mutable, sometimes not, which is brutal. it would definitely make sense to go one way or the other. Would love some help with this. I'm nearly-instantly confused by it.

[2016-05-17 15:23] #120 closed

[2016-05-17 15:33] spencermountain commented on #89
one thing that weighs into this conversation is the design of the new match/replace api. If we have 10 matches from `nlp.text('').match('')`, and want to manipulate like half of them, it's tempting to be able to change them remotely:
[code]

[2016-05-17 15:52] dleen commented on #139
Will be fixed by #116

[2016-05-17 17:21] nateabele commented on #89
Doing different things with the same set of values is actually easier if you don't do mutation. Example:

[code]

Going immutable also buys you a lot more flexibility in terms of performance. Depending on how much of the internals you want to expose, you could make it possible to control processing over time, distribute values across workers, etc., and if you wanted to do multiple destructive oper

[2016-05-17 17:44] elgamersitom opened #141 "A general Question"
Hello, i'm trying to do NLP in spanish language, specifically i'm trying to conjugate spanish verbs, i can see in your project that you have a corpus from Node Box which only work on english. So i don't know if there are any corpus that give me the option of conjugate verbs in spanish.

Hope you can help me, bye.

[2016-05-17 18:41] spencermountain commented on #141
Hola!
yes, this is a great question. I was really happy to find that nodebox dataset. I don't know about a similar one for spanish, but would love to find one, and would love to help with similar functionality.
have you poked-around in the european wordnet versions? A lot of [these projects](http://globalwordnet.org/wordnets-in-the-world/) are dead, and heavily-licenced😕 , but i've found if you em

[2016-05-17 20:10] ndarville opened #143 "Wrong conjugation for `speak`, `criticize`, `develop`"
## Speak ##

- [x] **Perfect:** have spoke
- [x] **Pluperfect:** had spoke
- [x] **Future perfect:** will have spoke

## Criticise ##

- [x] **Participle:** criticisen
- [x] **Perfect:** have criticisen

## Develop ##

- [x] **Gerund:** developping

[2016-05-17 20:23] elgamersitom commented on #141
Hello, as you say all the projects are closed. The thing is that you can
find a lot of pages that can conjugate the verbs but you can't access to
their corpus or they don't have an API or something.

If i found something i will tell you, thanks.

2016-05-17 13:41 GMT-05:00 spencer kelly <notifications@github.com>:

--
Cristian Narváez.
Ingeniero en Multimedia.
Miembro grupo de investigación ACCEDE

[2016-05-17 20:35] spencermountain commented on #141
just closing this, for housekeeping, but very interested in this

[2016-05-17 20:35] #141 closed

[2016-05-17 20:39] spencermountain commented on #118
ah, thanks Paul. I'll take a look.
p.s. your streams library is amazing

[2016-05-17 20:39] spencermountain commented on #143
thanks Niclas,

- [ ] **been** #131
- [ ] **doing, can, stop** #118

[2016-05-17 20:46] spencermountain commented on #139
nice one David! thanks!

[2016-05-17 20:46] #139 closed

[2016-05-17 21:03] spencermountain commented on #105
hey, sorry bout that. it looks like there's some old docs. This is the new api, but still a bit janky.
[code]
this returns the array of date terms, which each have their parsed date information in `term.data`.
(you can see this example isn't working perfectly still, i'll take a look) :sweat_smile:
thanks for your help!

[2016-05-17 21:47] 3541 opened #145 "Incorrect Negation for Statements Such as "I enjoy....""
Statements such as "I enjoy running" give incorrect negations.
`nlp.statement("I enjoy running").negate().text();`
Yields:
`"I not enjoy running"`

[2016-05-17 22:48] PaulBGD commented on #118
Thanks man! It was just part of an experiment I was working on where I was making small libraries for smaller browsers, but I'm glad you found it useful.

[2016-05-19 02:16] factormystic opened #147 "Text with mixed (expanded/contracted) contractions"
I'm having a difficulty with this test text: `he's got a gun that he is going to use.`

If I just dump out the terms ([link](https://tonicdev.com/573a6c9c8b73ef120061ca7a/573d2127691f641100ada8b6)), I see that `he's` is represented with 2 terms, which is kind of odd. But I see the `expansion` property (undocumented?) is populated... is that what that's about, saying those two terms are part of the

[2016-05-19 02:47] factormystic commented on #130
I've also logged a few problems over on that repo. Should all problems come here instead? https://github.com/nlp-compromise/nlp-syllables/issues/2

[2016-05-19 22:19] LAMike310 opened #151 "Error: Cannot find module 'nlp-ngram'"
Hello,

I'm trying to use the "nlp-ngram" plugin from the ReadMe, but I get the error when trying to run the example:
"Error: Cannot find module 'nlp-ngram'"

I've done a npm install of the "nlp-gram" module, and I have required nlp itself in the script too. Is there a step I'm missing in order to get the plugin to work?

Here's the script currently:

[code]

Thanks for any help!

[2016-05-19 22:59] TheOtherDude commented on #151
Not sure why this happening, but you can require the file directly to get it working:

var nlpNgram = require('./node_modules/nlp-ngram/builds/nlp-ngram')

[2016-05-20 01:38] epicTCK opened #152 "Incorect Negation for negated things."
`apples are not bad` becomes `apples aren't not bad`

[2016-05-20 02:56] mraypold commented on #151
I was able to fix this by changing the "main" property in package.json in the nlp-gram library.

Change `"main": "builds/nlp-ngram.es5.js"` to `"main": "builds/nlp-ngram.js",`

[2016-05-20 13:25] spencermountain commented on #151
nice one Michael 💪
thanks guys

[2016-05-20 13:25] #151 closed

[2016-05-20 13:29] spencermountain commented on #115
this is a great example. it's certainly a task that seems straightforward until you start doing it ;)
i'll take a look

[2016-05-20 18:12] MichaelPaulukonis commented on #125
slackin.herokuapp.com/ is throwing an error, and the `reademe.md` still goes to the slack page with no invite-mechanism.

There's a sample invite page/app [here](https://github.com/botwiki/botmakers.org).

[2016-05-21 12:58] rheza opened #154 "Add new city to places"
Hi,  I already try added the city on the places.js file, but it's still failing. Is there any documentation to add new city name on places?

Thanks

[2016-05-21 14:26] spencermountain commented on #154
hi Rheza! it sounds like you need to run a `grunt build`, in order for the ./src files to compile. That should do the trick.

it's probably easier though, to [augment the lexicon via the api](https://github.com/nlp-compromise/nlp_compromise/blob/master/docs/api.md#augmenting-the-lexicon)
is that helpful?
cheers

[2016-05-21 14:50] #145 closed

[2016-05-21 14:55] spencermountain commented on #152
hey Caleb, thanks. Yep, Ilya got this in his PR, but the whole 'un-negation' concept really still needs a lot of work. Yeah, maybe this should stay open.
cheers!

[2016-05-21 15:39] rheza commented on #154
That was really helpful. Thank you.

Can i have an example for places() on augment the lexicon?,

[2016-05-21 15:40] rheza commented on #154
Nahhh,  I think I got it.

Thanks

[2016-05-21 15:42] #154 closed

[2016-05-21 17:30] #129 closed

[2016-05-21 17:31] 2426021684 opened #155 "Amounts not parsing correctly"
`nlp_compromise.value("5 and a half").number` is equal to 6. It should be equal to 5.5. I am using the latest from head.

[2016-05-21 17:52] spencermountain commented on #147
yep, this is a huge error. Thank you for documenting it so clearly.

Yeah, contractions need to be split apart into two terms for proper interpretation of their grammar. If you want a real word-count, you could loop through the terms and not include the ones with a expansion-field, and no text... but maybe that's a good candidate for a helper-method... ya this is probably a good idea I think.

yea

[2016-05-21 22:15] 2426021684 commented on #155
`nlp_compromise.value("5 1/2 grams").number` gives `null`

[2016-05-21 22:30] 2426021684 opened #156 "New numbers: dozen, gross, pair, ream, mol"
New numbers:
dozen = 12
gross = 144
pair = 2
ream = 500
mol = 6.02214179 × 10^23

[2016-05-22 17:42] 2426021684 opened #158 "Feature Request: Get what the amount is of"
Add `ofWhat` property.

`nlp_compromise.value("5 boxes").ofWhat` would equal boxes.
`nlp_compromise.value("5.3 kg of copper").ofWhat` would equal copper.

There probably is a better name than `ofWhat`.

[2016-05-22 18:31] rupeshk opened #159 "Incorrect tagging"
Please see this case: Transfer $500 to John for going to New York. Here Transfer is tagged as noun. I tried adding transfer as verb to lexicon (lexicon["Transfer"] = "Verb") but it doesn't seem to work.

Also how can value such as $500 be interpreted as currency.

[2016-05-23 04:19] johnyesberg commented on #88
Oops. In 4.10.6 it says

'He does nots cares'

[2016-05-26 17:33] eshansingh opened #162 ""Feauture" request: TypeScript definition file"
A lot of us now-a-days are using Angular 2 with TypeScript, and we would love to see a definition file (`.d.ts`) for `nlp_compromise`. I'm willing to volunteer in the making of it, but I wouldn't want to do it alone as `nlp_compromise` is a pretty large library.

Thoughts? More volunteers?

Thanks!

[2016-05-26 17:40] 2426021684 commented on #162
If you want me to take a stab at it, I might be able to.

[2016-05-26 17:43] eshansingh commented on #162
@2426021684 Thanks! Where I'm living it's night right now, so I'll create a temporary repo for it tomorrow. I'll wait for maybe 2 more volunteers if possible.

[2016-05-26 17:44] 2426021684 commented on #162
I looked at the api. I don't think it will take four people. I am going to start. If what I make is good I will post it.

[2016-05-26 17:46] eshansingh commented on #162
@2426021684 OK, thanks a lot!

[2016-05-26 18:48] 2426021684 commented on #162
Is the api stable?

[2016-05-26 18:49] eshansingh commented on #162
Pretty sure, yes.

On Fri, May 27, 2016, 12:19 AM 2426021684 <notifications@github.com> wrote:

--

<https://mail.google.com/mail/u/0/>

[image: Github]  <https://htmlsig.com/t/000001BH5P8Z> [image: Stack
Overflow]  <https://htmlsig.com/t/000001BPHR5R>

Eshan Singh
eshansingh@gmail.com / +917719939040

I make stuff.

[2016-05-26 19:06] 2426021684 opened #163 "Incorrect adverb for good"
`nlp.adjective("good").to_adverb()` equals `"goodly"`. It should be well instead of goodly.

[2016-05-26 19:52] 2426021684 commented on #162
I got some done. https://github.com/2426021684/nlp-compromise-typings/

[2016-05-26 21:43] 2426021684 commented on #162
I got more done. The docs are not that helpful. There are tons of undocumented methods. I left notes in the file.

[2016-05-26 22:05] elgamersitom commented on #141
Hello i found something,

you can use pattern lib for python [http://www.clips.ua.ac.be/pages/pattern-es](Here's the Spanish version), with this lib you can get Spanish verbs and their conjugations as it is a NLP library. Also i try different functions from the pattern.en and they also work on pattern.es, so i think they support multiple languages.
I don`t really know how to structure the new mess

[2016-05-27 03:32] 2426021684 commented on #162
I added you as a collaborator.

[2016-05-27 04:31] eshansingh commented on #162
Thanks! Sorry for replying so late. I cloned the repo, am working on it!

[2016-05-27 04:33] 2426021684 commented on #162
I am going to sleep now. I will start from were you left off tomorrow.

[2016-05-27 15:21] #121 closed

[2016-05-27 15:24] spencermountain commented on #156
hey thanks!
firstly, wanna add the nlp_compromise typescript typings to the main repo somehow?
that's really neat!
i like this idea too. 'Gross' may be too ambiguous though

[2016-05-27 15:27] spencermountain commented on #162
hey guys! sorry I just saw this. I'd love to help. I like typescript, and am happy to maintain this once the api changes. There are a lot of undocumented methods!
Wanna put it in this repo? do most people have a .d.ts file in `./` ? Let's do that?
PR!

[2016-05-27 15:28] spencermountain commented on #163
good point!

[2016-05-27 15:36] spencermountain commented on #159
ah, two good ones Rupesh!

[2016-05-27 15:42] eshansingh commented on #162
We have a repo at https://github.com/2426021684/nlp-compromise-typings/, and after we're done we'll submit a PR to the [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) repo. And undocumented? _Understatement_! @2426021684 and I have been trying this for a while now, and the documentation is utterly inadequate. That's a separate issue, though it deserves attention later, becaus

[2016-05-27 15:57] spencermountain commented on #159
got it :muscle:
thanks dude

[2016-05-27 15:57] #159 closed

[2016-05-27 16:40] 2426021684 commented on #162
@spencermountain The documentation needs some serious work. I gave up reading it. I am just using a repl and looking at the code. What is `pos` ? How should I type it?

[2016-05-27 16:40] spencermountain commented on #162
thanks Eshan. I completely agree. I didn't anticipate the attention this library would get.
In terms of self-documentation, are there any tools or practices you'd recommend? I've thought about adding flow annotations, or jsdoc comments, but haven't been following what's best-practice these days in javascript-land.
I suppose you two have done the hard work already. would flow or jsdoc be redundant?

[2016-05-27 16:43] spencermountain commented on #162
hi @2426021684  thanks for all of your hard work. `term.pos` is an object containing the parts of speech as strings, the possible keys are found in  [https://github.com/nlp-compromise/nlp_compromise/blob/master/src/sentence/pos/parts_of_speech.js#L95](parts_of_speech.js). Does that help?

[2016-05-27 16:43] eshansingh commented on #162
@spencermountain I'm not a professional developer by any extent, but I will say that the most important thing is to get your names right. JSDoc is good, but it's not the first thing you should do. The code, without any comments, JSDoc or otherwise, should be understandable to an extent.

[2016-05-27 16:45] eshansingh commented on #162
@spencermountain: @2426021684 and I are (probably) on opposite sides of the world. It's night right now here, and it's morning on @2426021684's end. It might be a bit difficult to co-ordinate us. However I am doing an all-nighter for some work for a separate project, so I can do some stuff in bewteen.

[2016-05-27 16:47] 2426021684 commented on #162
@spencermountain You could switch the entire repo to typescript. That would make it more readable. @eshansingh and I can just add our annotations to it. When you compile typescript you can have it emit a d.ts.

[2016-05-27 16:47] eshansingh commented on #162
@spencermountain In addition, check out [this](http://www.amazon.com/Code-Complete-Practical-Handbook-Construction/dp/0735619670?ie=UTF8&keywords=Code Complete&qid=1464367572&ref_=sr_1_1&sr=8-1) book. It doesn't talk about JS specifically, but it does have a _lot_ of awesome advice. I recommend it.

[2016-05-27 16:47] 2426021684 commented on #162
@eshansingh Can you commit what you have?

[2016-05-27 16:48] eshansingh commented on #162
@2426021684 Possible but an even bigger ordeal than what we're doing now. It's better to make documentation better.

[2016-05-27 16:48] eshansingh commented on #162
@2426021684 It's not much at all (seriously!), but I will. Give me a second.

[2016-05-27 16:57] 2426021684 commented on #162
https://www.npmjs.com/package/tsdoc could be an option

[2016-05-27 16:59] #163 closed

[2016-05-27 16:59] eshansingh commented on #162
@2426021684 Done.

[2016-05-27 17:00] eshansingh commented on #162
@2426021684 I left some comments on your // Improve comments.

[2016-05-27 17:03] 2426021684 commented on #162
@eshansingh great. I think it would be better if the typings were here instead of on DT.
https://www.typescriptlang.org/docs/handbook/typings-for-npm-packages.html

[2016-05-27 17:04] eshansingh commented on #162
@2426021684 Most commonly people look for their definitions using `tsd` or `typings`. Maybe we could publish on both? But then updating would be difficult.

[2016-05-27 17:05] eshansingh commented on #162
Linking: https://github.com/2426021684/nlp-compromise-typings/issues/1

[2016-05-27 17:06] 2426021684 commented on #162
@eshansingh tsd is deprecated

[2016-05-27 17:07] 2426021684 commented on #162
@spencermountain a couple of methods have an `options` arg. What are the options?

[2016-05-27 17:08] eshansingh commented on #162
@2426021684 [`typings`](https://github.com/typings/typings) is the official replacement, and it can search DT.

[2016-05-27 17:09] eshansingh commented on #162
@2426021684 And yes, exactly. The `options` arg is a bit vague on what exactly we can pass. If we knew this we could make an interface for it, to offer better type checking.

[2016-05-27 17:09] eshansingh commented on #162
@spencermountain?

[2016-05-27 17:09] eshansingh commented on #162
Shit clicked the close button

[2016-05-27 17:12] 2426021684 commented on #162
`typings` can also install from npm. https://www.npmjs.com/package/typings

[2016-05-27 17:12] eshansingh commented on #162
@2426021684 Oh yes good point.

[2016-05-27 18:23] spencermountain commented on #162
ah, i love that there's more support for this stuff now. I'd love to keep an up-to-date copy of this locally, and link it in package.json. If you add it to `definetlyTyped` or elsewhere, let me know and i can remember to update it there too. This is a huge, huge help.

One question to you both, once we have these typings, is there a systematic way to test with them, short of a large typescript re-

[2016-05-27 18:44] 2426021684 commented on #162
@spencermountain  I think we are putting the d.ts file here. You could write the tests in typescript. There many be other ways to test a d.ts file. I think documentation can be generated from them too.

[2016-05-27 18:46] 2426021684 commented on #162
@spencermountain is `pos` going to be accessed like `pos["key"]` or `pos.key`? Typescript can only type check pos.key.

[2016-05-27 18:50] eshansingh commented on #162
@spencermountain I'm not entirely sure how to do that, but that is really important. It's getting pretty late for me right now, so I'm wrapping up. I'll look into it later.

[2016-05-27 18:52] 2426021684 commented on #162
I think the only way to test it is to write the tests in typescript.

[2016-05-27 18:59] 2426021684 commented on #156
@spencermountain typings are not finished yet. Once they are I will submit a PR.

[2016-05-27 19:03] spencermountain opened #165 "apply type-definitions to test runner"
maintaining a `d.ts` file is a pretty cool way to add both documentation and type-safety to nlp_compromise, while allowing uses in other frameworks and tooling.

the tests then should either run in typescript, or somehow hook into the d.ts file, to notice when the typefile gets invalidated. That gives us a pretty lucid definition and understanding of the api, and when it changes.
#162

[2016-05-27 20:32] 2426021684 commented on #162
@spencermountain Can you check what we have so far? Just edit anything that is wrong.

[2016-05-28 03:45] eshansingh commented on #162
@2426021684 OK, I'm back. Will do a pull of the rep.

[2016-05-28 03:47] 2426021684 commented on #162
Going to sleep now. Will be back tomorrow.

[2016-05-28 03:53] eshansingh commented on #162
JavaScript (and therefore TypeScript) allow
the usage of an array syntax and it means exactly the
same thing. It's true that TS can only type check x.pos.key
however if someone uses the former method then nothing really
happens. Regardless of whether @spencermountain used one or the other, the property can be accessed both ways.

[2016-05-28 03:56] 2426021684 commented on #162
Ok, that makes sense

[2016-05-28 04:01] eshansingh opened #166 "Make a wiki"
As @2426021684 and I pointed out in #162, the documentation for `nlp_compromise` leaves much to be desired. I believe the first step we can take to do this is to make a wiki for `nlp_compromise`.

[2016-05-28 04:04] eshansingh commented on #162
Would like to link references: [DT Contribution guidelines](http://definitelytyped.org/guides/contributing.html) and [DT Best Practices](http://definitelytyped.org/guides/best-practices.html). Though we're not planning to submit to DT, it's a good idea to have a look at these.

[2016-05-28 04:07] eshansingh commented on #165
If you're using gulp or grunt, you can make a TypeScript file called `nlp_compromise-typings.test.ts` somewhere, and then have gulp/grunt `test` run `tsc` (the TypeScript compiler) on it, and make sure it runs with no errors. See [DT Contribution Guide - Tests](http://definitelytyped.org/guides/contributing.html#tests).

[2016-05-28 04:55] eshansingh commented on #162
@spencermountain What is `tokenize_match` and what is it supposed to return?

[2016-05-28 05:13] eshansingh commented on #162
@spencermountain @2426021684 I have added testing with `gulp`. See my comments.

[2016-05-28 05:19] eshansingh commented on #165
I have added a gulp task (`gulp test`) to [the typings repo](https://github.com/2426021684/nlp-compromise-typings/) Let me know if you use `grunt` or something else. For now the way is to run `gulp test` and make sure it exits with no errors.

[2016-05-28 07:12] eshansingh commented on #162
See https://github.com/2426021684/nlp-compromise-typings/issues/2. Separate thread to ask questions to @spencermountain

[2016-05-28 12:45] spencermountain commented on #165
thanks!! that's brilliant Eshan.

[2016-05-28 13:36] eshansingh commented on #162
@spencermountain So `tokenize_match` wasn't meant to be a public facing method. OK, thanks!

[2016-05-28 18:48] spencermountain commented on #155
yeah, it'd be sweet to handle `fractions -> decimals`. that's a really neat idea.

[2016-05-28 18:51] spencermountain commented on #158
YES! love this.
right now this works:
`console.log(nlp.value('5 boxes').unit);`
but this could be much better, as your second example shows.

[2016-05-30 09:38] DhruvSoni opened #169 "When i process a sentence starts with a name and use people() and topics() functions, they are not working correctly this functions are returning null instead of name"
ex --> "Jon doe is a geek"   <---- if i use people() or topics() on this sentence then instead of returning jon doe it will return "null"

[2016-05-31 18:56] spencermountain commented on #166
yeah, you're probably right about this. Not sure why not ;)
[go nuts!](https://github.com/nlp-compromise/nlp_compromise/wiki)

[2016-05-31 18:56] #166 closed

[2016-05-31 20:32] spencermountain commented on #169
hey there,
this is the result I get for this, on v5.1.0:
[code]
it also works on nlp.text(). Can you double-check this?
cheers

[2016-05-31 20:39] 2426021684 opened #172 "Issue with parsing "6 7-ounce containers""
`nlp_compromise.value("6 7-ounce containers").number = null`
It should be `6`.

[2016-05-31 20:43] 2426021684 opened #173 "Unit now includes of_what"
In previous versions, `nlp_compromise.value("12 g sugar").unit = "g"`. Now it is equal to `"g sugar"` and is no longer recognized as a weight.

[2016-05-31 20:45] spencermountain commented on #173
hey @ilyankou wanna check it out?

[2016-05-31 20:49] 2426021684 opened #174 ""1 cup" is a currency?"
`nlp_compromise.value("1 cup").of_what = "currency"` Is there anyway to tell nlp_compromise that cup should be a measurement instead of the cuban peso.

[2016-05-31 20:52] 2426021684 opened #175 "Recognize tablespoon as volume"
`nlp_compromise.value("2 tablespoons").measurement` should be equal to `"Volume"` (currently `null`). Same for teaspoon, quart, and fluid ounce.

[2016-05-31 21:16] spencermountain commented on #174
whoa, this units list needs some work. I think it grew too fast last week
thanks.

[2016-05-31 21:16] #174 closed

[2016-05-31 21:22] spencermountain commented on #175
thanks! :beers:

[2016-05-31 21:22] #175 closed

[2016-05-31 22:32] spencermountain commented on #173
hey nevermind, I'm gonna kick up some dust this evenin'

[2016-05-31 22:34] ilyankou commented on #173
I can have a look at it in a few hours, @spencermountain

[2016-06-01 01:17] michaelmesser opened #176 "Use units from js-quantities"
Is it possible to use the units from js-quantities?
https://github.com/gentooboontoo/js-quantities/blob/master/src/quantities.js

[2016-06-01 02:39] #173 closed

[2016-06-01 04:42] DhruvSoni commented on #169
hey there,
thanks for a quick reply. I have checked it's my mistake actually i'm using
Indian names since i am an Indian that's why it didn't work for me.

On Wed, Jun 1, 2016 at 2:02 AM, spencer kelly <notifications@github.com>
wrote:

[2016-06-01 14:05] ilyankou commented on #172
Fixed and waiting to be merged

[2016-06-01 14:30] #172 closed

[2016-06-01 14:43] spencermountain commented on #169
ah, yeah sorry, I used an american name-frequency list, i think - just being lazy ;).
we should begin augmenting it with something like [this data](https://en.wikipedia.org/wiki/List_of_most_popular_given_names).

My feeling is that family-names in india in particular are easily-recognizable, or high-frequency, though I'm not sure why. Maybe that's something that would help as well.
i'll keep this

[2016-06-01 18:27] DhruvSoni commented on #169
Welcome, and can you just reply me when you solve it?
On Jun 1, 2016 8:42 PM, "spencer kelly" <notifications@github.com> wrote:

[2016-06-01 18:40] ilyankou commented on #127
Waiting to be merged. The only issue is, since all tokens are returned via filter(), they contain punctuation marks. That is, "Traveling to LAX?".places() will return ["LAX?"].

[2016-06-01 20:14] struesdell opened #180 "Noun.conjugate() error with the example from the API documentation"
From [the API documentation:](https://github.com/nlp-compromise/nlp_compromise/blob/master/docs/api.md#noun-methods)

[code]

My results:

[code]

[2016-06-01 20:14] 2426021684 opened #181 "result.match throws error"
`nlp_compromise.sentence("Where are you?").match("are")[0].match("are")`
`TypeError:  _match is not a function`
Version: latest from head

[2016-06-01 20:22] 2426021684 commented on #158
`nlp.value("1 cup water").of_what = "cup"` Should it be `"water"` or `"cup"`? I think it should be `"water"`.

[2016-06-01 22:55] ilyankou commented on #180
Conjugation is a term applicable exclusively to verbs. From Wikipedia:

In linguistics, conjugation is the creation of derived forms of a verb from its principal parts by inflection (alteration of form according to rules of grammar). Conjugation may be affected by person, number, gender, tense, aspect, mood, voice, or other grammatical categories.
...
The term conjugation is applied only to the in

[2016-06-02 00:35] jashsayani commented on #128
Yes, essentially understanding the most commonly used abbreviations for words.

[2016-06-02 00:39] jashsayani commented on #126
Yes, I would suggest having a normalized value that is used for processing. While the display value would have `,` or `.` based on locale, this can be normalized to always be `.` in memory where it is processed, and the displayed value can be passed through internationalization to display the appropriate separators.

[2016-06-02 13:49] soyjavi opened #182 "Looks like normal and root method doesn't work"
Hi,

Firstly, great job!!! I'm using `Compromise` but I have severa issues.
- `root()` for the string `It's raining in Bangkok` returns `It' is raining in Bangkok` (I wonder that should be `it`)
- `normal()` doesnt exists in object `nlp`

Thanks, in advance :)

[2016-06-02 14:19] spencermountain commented on #127
yeah, perhaps we need some kind of granular `term.strip_punctuation()`, or something. Very nice ilya

[2016-06-02 14:19] #127 closed

[2016-06-02 14:22] spencermountain commented on #181
ha, you got me. I went to answer your question and found the same thing ;)
will fix it today. it should return another `[Result]` i believe, but will check.
i owe you a beer

[2016-06-02 14:31] spencermountain commented on #180
hey thanks Shawn, yeah just some old documentation.
that was an attempt to wrap `noun.singularize()` and `noun.pluralize()` into one method, but I agree it's not the right label for it. Right now you can just call each one individually.
@ilyankou how would you feel about a more generic `term.forms()` method? (or something similar)
That way, no matter what the class, you could blast-out all the dif

[2016-06-02 14:48] spencermountain commented on #132
:metal: Ilya :metal:

[2016-06-02 14:48] #132 closed

[2016-06-02 19:06] #180 closed

[2016-06-02 19:08] 2426021684 commented on #180
Remove noun.conjugate from typings?

[2016-06-03 17:42] spencermountain commented on #182
hi Javi! oof, I'll take a look.
thanks

[2016-06-03 18:55] spencermountain commented on #182
hey, fixed the apostrophe issue, now it returns
* `"it is raining in bankok"`
yeah, the normalization is on the text, term & sentence objects
`nlp.text(`Dr. John Smith is   five feet tall.`).normal()`
let me know if there's an unclear documentation hanging around for that
cheers

[2016-06-04 04:06] 2426021684 opened #193 "Roses incorrectly marked as verb"
In `nlp.text("4 red roses").terms()`, roses is a verb. Roses should be a noun in this case because it comes after an adjective.

[2016-06-04 04:14] 2426021684 opened #194 ""4 cats" and "4 red cats" are parsed very different"
"4 cats" => Value("4 cats")
"4 red cats" => Value("4"), Adjective("red"), Noun("cats")

Why are they parsed so differently?

[2016-06-04 14:36] soyjavi commented on #182
Looks like that `normal` method still being undefined :(

[code]

[2016-06-04 15:27] spencermountain commented on #182
hey Javi, it's a method - `nlp.text('').normal()`

[2016-06-04 15:37] soyjavi commented on #182
@spencermountain I know :), but if you test if `normal` exists returns `undefined` so it's quite difficult try to execute `undefined` :). I wonder that maybe `text()` method doesn't return the instance.

[2016-06-04 15:40] 2426021684 commented on #182
I can confirm this issue

[2016-06-04 16:35] spencermountain commented on #182
ahhh!
sorry about that!
just pushed a fix, will be available in v6.0.0, maybe this evening.
in the meantime, `nlp.text('').normalize()` ;)
thanks for your patience!

[2016-06-04 16:39] 2426021684 opened #195 "Better Fraction Support"
- [ ] Handle Spaces
- [ ] Vulgar Fractions (Single Code Point)
- [ ] Subscript, Superscripts, and Unicode Fractions Slash
- [ ] Handle words

[2016-06-04 16:39] 2426021684 commented on #195
Should I replace the fancy unicode characters with the normals before parsing or should I handle them during parsing?

[2016-06-04 16:52] 2426021684 commented on #182
@spencermountain You forgot to change where normalize is called.
[code]

[2016-06-04 16:54] 2426021684 commented on #182
@spencermountain You forgot to change where `normalized` is called.
[code]

[2016-06-04 16:55] spencermountain commented on #195
good question. i'd support your choice. they're already tagged as `Value` in the pos-tagger now right?
it would make sense to me that they be passed-around as unicode, and only become an integer after value.parse() runs
¯\_(ツ)_/¯

[2016-06-04 16:58] 2426021684 commented on #182
@spencermountain should term.normalize be replaced with term.normal?

[2016-06-04 17:02] spencermountain commented on #182
thanks, just lookin at this now

[2016-06-04 17:05] spencermountain commented on #194
yeah, this is a tough case.
i think in the future, we'll want `"4 cats" => Value(4), Noun('cats')`
then our value parsing method jumps around the sentence, interpreting `.of_what()` etc.

[2016-06-04 17:07] 2426021684 commented on #195
They are not tagged as `Value`

[2016-06-04 17:15] 2426021684 commented on #195
Put them in data/number.js right?

[2016-06-04 17:20] 2426021684 commented on #194
I agree

[2016-06-04 17:22] 2426021684 commented on #194
Or maybe have hierarchical terms. Have value contain `Value(Number(4), Noun(Adjective("red"), Noun("cats")))`

[2016-06-04 17:43] spencermountain commented on #195
yeah, then in `./src/lexicon.js`
thanks.

[2016-06-04 18:29] 2426021684 commented on #195
How can I ensure that when parsing "1½" that "1" and "½" are parsed separately (in the to_number method)?

[2016-06-04 19:07] 2426021684 commented on #193
[code]
Kittens should be marked as a noun because it follows a number.

[2016-06-04 20:47] spencermountain commented on #195
yeah, if tagger.js identifies them both as `Value`, they'll be lumped together by `lumper.js`.
so that to_number method will need to split them back apart, which i think you're already doing, if i'm correct.

... i guess if a fraction appears before a number, it's `½ * num`, but if it appears after, it's `num + ½`?

i think the decimal logic in to_number is similar - eg '"two point eight nine"`. D

[2016-06-05 01:18] 2426021684 commented on #195
"-1½" is parsing. For some reason "- 1" fails.

[2016-06-05 01:44] 2426021684 commented on #195
"- 1" working

[2016-06-05 01:46] 2426021684 commented on #195
"- 1 ½ 1/2" is -2. Should it be different?

[2016-06-06 18:03] 2426021684 commented on #195
For superscripts should 3³ be 33 or 9 or nothing?

[2016-06-06 18:03] nathanmarks opened #198 "Noun/Verb being tagged as Adjective"
I noticed that certain nouns / present participle verbs get tagged as an adjective, for example:

Gives me:

[code]

[2016-06-06 18:31] nathanmarks commented on #198
Here's a failing test I'm toying with: https://github.com/nathanmarks/nlp_compromise/commit/f137548153ba3d238f16d598e4ba62fa77e51d2c#diff-95ea7ae895a643b8ed30173e1ea8624fR37

[2016-06-06 18:48] spencermountain commented on #198
fellow Torontonian!
thanks Nathan, I'll check it out today

[2016-06-06 18:58] nathanmarks commented on #198
Hah, fancy that!

It triggers on this regex rule in `pos/passes/rules/word_rules.js`:

[code]

[2016-06-06 18:59] #130 closed

[2016-06-06 18:59] nathanmarks commented on #198
I should have caught onto you at `canadian bacon` 😉

[2016-06-06 19:21] #162 closed

[2016-06-06 19:23] spencermountain commented on #158
looks like this example works now. :dancer:

[2016-06-06 19:23] #158 closed

[2016-06-06 19:42] 2426021684 commented on #158
@spencermountain
[code]
should be water

[2016-06-06 19:43] spencermountain commented on #114
oh, think i figured this out today.
browserify supports a "browser" key in package.json
this works like it should now.
cheers

[2016-06-06 19:43] #114 closed

[2016-06-06 20:02] #143 closed

[2016-06-06 20:46] spencermountain commented on #102
hey Angelina, think I got this working in `v6.2.1`
[code]
this was a good one. cheers

[2016-06-06 20:46] #102 closed

[2016-06-06 22:12] spencermountain commented on #118
whoa, this was a doozy, but it's looking a lot more reasonable now:
[code]
i'll admit, this brought me to some dark places.
thanks!

[2016-06-06 22:12] #118 closed

[2016-06-06 22:23] spencermountain commented on #176
yeah, that's pretty-cool. nice find!
that'd be a pretty neat direction for us to go in.
In a perfect word, we have a Term class called `Mass`, with it's conversions, a term class called `Radiation` with it's conversions, etc - instead of just a generic `Value` class, you know?

[2016-06-06 22:29] spencermountain commented on #181
so this is happening because `./match.js` requires `./result.js`, and `./result.js` requires `./match.js`.
I had no idea that javascript would let this fail silently, or just return a null.
if anyone has any good ideas.. I may just shove some code around until it works. This stuff endlessly confuses me

[2016-06-06 22:36] spencermountain commented on #88
yeah, so the reason why this is failing is that `does not care` ought to be one big verb term, as opposed to `"does not", "care"`, it's really a tokenization problem.

this is a great example, and something i'll gonna take a look at.

[2016-06-06 22:43] 2426021684 commented on #181
Recursive dependencies are not fun.

[2016-06-07 01:03] PaulBGD commented on #118
Nice!

[2016-06-07 02:57] factormystic commented on #182
Also, the docs still reference `normalized`

[2016-06-07 09:48] Glassig commented on #102
Good work! Glad I could help :D

[2016-06-07 22:12] 2426021684 opened #200 "Question about of_what"
What should `nlp.value("5 boxes of water").of_what` return? It currently returns `"water"`. I was expecting `"boxes of water"` since boxes is not a unit.

[2016-06-07 22:16] spencermountain commented on #67
hi Roshan, yeah I believe this is the least-awkward of all results. Let me know if you have any proposals for an alternative syntax. cheers!

[2016-06-07 22:16] #67 closed

[2016-06-08 21:36] ilyankou commented on #200
Your point makes sense, `of_what` is pretty raw (and simple) right now, and there are lots of phrases for which we should determine the method's behavior (e.g. "full of these things", "5 boxes of bottles of water" etc).

[2016-06-09 15:23] 2426021684 commented on #200
In my opinion:
"full of these things" (is this even a value?) => "these things"
"5 boxes of bottles of water" => "boxes of bottles of water"

[2016-06-10 02:49] #200 closed

[2016-06-11 11:46] soyjavi opened #203 "How can I get the tense of a determinate verb"
Hi,

I have the term `won't` but when I execute the method `conjugation` always returns `infinitive`. Is this the normal behavior? I wonder it should be `future` (or something like that). If it's the normal behavior how can I get the tense?

thanks in advance 👍

[2016-06-11 11:50] #203 closed

[2016-06-11 14:28] spencermountain commented on #203
ah yeah, you're looking for something that returns either past, present, or future? yeah, that sounds reasonable. Ideally things like 'grammatical number' should have their own specific method too.
i'll add this to the list. For what it's worth, it may just be as simple as this mapping:
[code]

[2016-06-11 14:31] spencermountain commented on #203
gerunds like "walking" are a little ambiguous - "was walking - vs - is walking"

same for perfect tense, "have cared", which is like both `past & present` ...?

but a past/present/future split seems like a fair idea. what's your use-case?

[2016-06-12 01:23] soyjavi opened #205 "`3 buses` and `3 trains`"
Unfortunately the terms are different for the first is `value = 3 buses` and for the second one `value = 3` and `verb = trains`. Maybe you have to improve the rules :)

by the way, thanks for this library it is so helpful for my new project,

best

[2016-06-12 04:03] ilyankou commented on #205
Resolved, waiting to be merged (#204)

[2016-06-12 04:04] ilyankou commented on #198
Resolved, waiting to be merged. (#204)

[2016-06-12 04:04] ilyankou commented on #194
Resolved, waiting to be merged. (#204)

[2016-06-12 04:04] ilyankou commented on #193
Resolved, waiting to be merged. (#204)

[2016-06-12 16:23] pags opened #206 "Person name fields inappropriately lower cased"
Version: 6.1.2
[code]

[code]

I have no way to get the last name with correct capitalization.

[2016-06-13 01:01] lukaswelinder opened #207 "The '.topics()' method not pulling possessive noun subject."
When calling the `.topics()` on a text with a possessive (ie "Michael's mansion" or "michael's mansion"), the topic comes back without the referenced noun unless it is written out as a proper noun (ie "Michael's Mansion").

That behavior seems illogical. Recreated on [tonicdev](https://tonicdev.com/575dff6c175fc41200667460/575dff6c175fc41200667461).

[2016-06-14 16:27] spencermountain commented on #206
ah, hmm. That's a good point.
And it would be incorrect to shoe-horn it into titlecase - mcdonald is a perfect example.
this is a little tricky, but should be done. I've got a busy two weeks, but will do it after.
thanks!

[2016-06-14 16:47] spencermountain commented on #207
ahhh, this is great.
thank you Lukas, will fix this week.

[2016-06-14 16:47] zeke opened #208 "Guessing part of speech?"
I know context is required to accurately determine a word's part of speech, but does this library provide a way to guess (or pick the word's most common part of speech)?

Something like...

[code]

[2016-06-14 16:57] ilyankou commented on #206
I'm currently working on it – will be completed today/tomorrow.

I'm trying to improve name parser, too, because now for double surnames such as `Williams-Johnson` it tags `Williams` as `middleName`, and for double first names like `Mary-Ann` it puts `Ann` into `middleName`, which is (in my opinion) incorrect.

[2016-06-14 17:07] ilyankou commented on #208
This library is basically "guessing" each word's part of speech based on it's spelling, and then makes minor adjustments depending on the context.

So,

    nlp.sentence('cheese')

is an object that contains the following:

[code]

As you see, `tag: 'Noun'`.

[2016-06-14 17:23] spencermountain commented on #205
💥

[2016-06-14 17:23] #205 closed

[2016-06-14 17:23] #198 closed

[2016-06-14 17:23] #194 closed

[2016-06-14 17:31] #193 closed

[2016-06-14 17:42] #208 closed

[2016-06-14 17:45] spencermountain commented on #208
exactly. The perfect tagger also should know the user's cultural setting too, like 'smashed' means drunk in america, but tired in britain...
so often the sentence/text is not even enough.

This library just tries to 80-20 rule the most-common pos, in an opinionated-but-fair way. If you know the context in advance, you can coerce certain words [like this](https://github.com/nlp-compromise/nlp_compr

[2016-06-14 18:16] zeke commented on #208
Good stuff. Thanks @ilyankou and @spencermountain

[2016-06-15 11:03] motet-a opened #210 "Some nouns are mistaken for adjectives"
In the sentence _"The current directory."_, the noun _directory_ is mistaken for an adjective, and is "grouped" with _current_:

[code]

But if I replace _directory_ by a more common noun like _car_ or _monkey_, everything works as expected.

There is the same issue with _repository_ used as a noun too.

Thanks for this great library :-)

[2016-06-15 11:31] motet-a commented on #210
I just realized I can solve this issue by adding the word _directory_ to the lexicon as a noun. But wouldn't it cause other issues if I use _directory_ as an adjective in a sentence such as _"The directory assistance."_ ?

[2016-06-15 15:07] ilyankou commented on #210
The pos parser marks "directory", "repository" due to rules_pass_20:
[code]
That is, the parser marks anything that ends with -ory/-ery as an adjective. Now, have a look at the list: https://en.wiktionary.org/wiki/Category:English_words_suffixed_with_-ery
It is pretty clear such words are nouns. @spencermountain shall the rule be changed to mark these as nouns?
[code]
All current tests pass, I jus

[2016-06-15 16:43] #206 closed

[2016-06-15 17:02] pags commented on #206
Appreciate it, love the library.

[2016-06-15 20:38] spencermountain commented on #210
wow. sure. That's pretty good argument ;)
thanks.
`Adjective Adjective` should probably not combine either. That seems like sloppy behaviour also, to me.
go nuts!

[2016-06-15 20:41] spencermountain commented on #210
also, if **Category:English_words_by_suffix** is generated by-hand, I think I will cry

[2016-06-16 02:33] ilyankou commented on #210
Fixed, waiting to be merged.

[2016-06-16 02:34] ilyankou commented on #65
I can't believe it's been hanging here for months – easy fix! Waiting to be merged.

[2016-06-16 11:12] soyjavi opened #215 "Exists a method for..."
Hi,

I'm using your **great** library in my project [pet-project](https://github.com/ava-ia/core) and my question ... exists a method for *transpile* a verb like `raining` to a noun `rain`?