[2018-02-02 19:57] spencermountain commented on #451
thanks Pujan!
good find.

[2018-02-02 20:44] sandro-pasquali commented on #450
I ran the list of female names here: https://github.com/AlessandroMinoccheri/human-names/blob/master/data/female-human-names-en.json

[code]
FWIW.

https://gist.github.com/sandro-pasquali/6e95f7434e2609482473387a6b4a4221

[2018-02-02 20:52] spencermountain commented on #450
hey! this is great!
i say we include all of these, minus the ambiguous ones like 'sky' and 'liberty'
lemme take a crack at this...
thank you!

[2018-02-05 18:10] spencermountain commented on #450
hey Sandro, i've added a bunch of new names. I'm not sure how we developed those weird holes for names like mary and nancy, but I've nearly-doubled the name-list, using that human-names dataset, as well as [this one](https://names.mongabay.com/female_names_alpha.htm) and [this one](http://deron.meranda.us/data/census-derived-all-first.txt).
using our compression, it adds only about 3k to the total

[2018-02-05 18:10] #450 closed

[2018-02-05 18:11] spencermountain commented on #450
oh, now your script returns this:
`Found: 1324 : NotFound: 691`
📈

[2018-02-05 18:25] spencermountain commented on #448
hey Kevin, added these to the lexicon of verbs, with the exception of 'pin', which will be caught by 'will pin, did pin, etc.'
you can coerce it if you want, like this:
https://runkit.com/spencermountain/5a78a056af44fe0012df6789
Will be in `11.3.0`, this afternoon.
cheers!

[2018-02-05 18:25] #448 closed

[2018-02-05 18:29] spencermountain commented on #451
got it! will be in `11.3.0`
cheers

[2018-02-05 18:29] #451 closed

[2018-02-05 18:38] spencermountain commented on #432
hey Matt, got this fixed, but this bestTag method is still weird, can you find any other issues?
cheers

[2018-02-05 19:32] sandro-pasquali commented on #450
Sweet! This is an important improvement. Thanks!

[2018-02-07 07:15] pujansrt opened #454 "Genius to Singular is not giving appropriate result"
genius to singular is providing wrong output "geniu"

[code]
Expected Result: genius

[code]
Expected Result: genius

[2018-02-07 14:15] spencermountain commented on #454
thanks Pujan, will take a look

[2018-02-08 00:59] LiamKarlMitchell opened #455 "Using matched capture groups in replace?"
Is it possible to take a capture group from a match, look up something and use it in the replace?

My attempts replace weirdly, and drop the last part of the sentence off.

[code]
What is output.
[code]

Expected HTML
[code]

Similar problem when not using the value.

[code]
The . should not be removed as it is not part of the match.

[code]

Ah it seems toNumber does something that interferes wit

[2018-02-08 14:01] spencermountain commented on #455
hey Liam, thanks for the issue.

yeah, i agree the period at the end of the sentence should remain, even after the last word has been replaced. Is that the primary issue?

this may be an easier way to do things:
[code]
what is your top-level goal? perhaps I can help clear things up.

[2018-02-09 03:08] LiamKarlMitchell commented on #455
Hi Spencer,

The `.` being chomped is not the only issue.

I'm wanting to capture a value from a match, then use the captured value to look up the text to replace the term with.

I was initially wanting to do it like item:2 or item:3 with ```"item:#value"``` but it seems to tokenism on space.

And also when wanting to generate out the HTML output, is there a way to group terms into same tag in a s

[2018-02-09 14:19] spencermountain commented on #455
hey Liam, if you want to group two terms together, you can use `.lump()`.

if i understand correctly, this should do the trick?
[code]

[2018-02-11 04:09] jeffreyflynt opened #456 "Dates within words"
Hello,

Thanks for providing this library!

I am using the date parser and it recognizes Maycomb as a date of May.  Is there a way to only return dates for if it matches the whole word and not within a word?

Thanks

[2018-02-11 18:08] spencermountain commented on #456
hey Jeffrey, whoa that should definitely not happen, i wasn't able to reproduce this though.
https://runkit.com/spencermountain/5a808631ac0ed40013fd1a18
is that word in a particular context, where you got it to get tagged as a date?
cheers

[2018-02-12 07:36] jeffreyflynt commented on #456
Hey Spencer,

That was totally my fault.  My regex that highlights words was the issue, not the library.  It was matching strings within strings and not solely whole words.

Thanks

[2018-02-12 07:36] #456 closed

[2018-02-13 18:49] simonwjackson opened #457 "Don't replace punctuation."
[code]

**Expecting**
[code]
**Actual**
[code]

[2018-02-14 14:04] spencermountain commented on #457
hi Simon, nice find.
I'll take a look
thanks

[2018-02-14 21:39] #455 closed

[2018-02-14 21:39] spencermountain commented on #455
lemme know if there's any other issues

[2018-02-14 22:05] spencermountain commented on #457
got it!
should work in `11.4.0`. lemme know if you see any funny-business.
nice find!

[2018-02-14 22:05] #457 closed

[2018-02-20 04:45] gagan-bansal commented on #398
Can we consider the noun that is not in dictionary is proper noun?

[2018-02-21 11:18] gagan-bansal commented on #398
Thanks Spencer, I got your point.

[2018-02-21 15:59] spencermountain commented on #442
think we got all the problematic ones. Good eye, and let me know if you see any other good finds.
thanks!

[2018-02-21 15:59] #442 closed

[2018-02-21 16:18] spencermountain commented on #353
hey sam, i've added a `#Abbreviation` tag, and have [our abbreviations](https://github.com/spencermountain/compromise/blob/master/src/world/more-data/abbreviations.js) getting tagged as such. I haven't gotten the sentence-splitter recognizing them, which would be cool, but currently requires [putting words into a regex](https://github.com/spencermountain/compromise/blob/ebd1100d5feb7ceebead915d4e9

[2018-02-21 16:44] spencermountain commented on #454
hey, this is fixed in `11.5.0`
thanks!

[2018-02-21 16:44] #454 closed

[2018-02-21 17:20] spencermountain commented on #398
hey, I've added support for `#ProperNoun` tag in `11.5.0`. It basically just runs-through the `people|places|orgs` after the tagger has run, and tags things as a ProperNoun.

it gets a little harder when you change the word, the tag should disappear.
i think i've mostly guarded against this, but who really knows.
lemme know if you see anything funny.
thanks.

[2018-02-21 17:20] #398 closed

[2018-02-22 16:12] scagood opened #458 "Incorrect quote string matching"
## Overview

The quotation string matching system matches incorrectly for adjacent strings.

## Example

[code]
#### Output
[code]
#### Expected
[code]
### Workaround
So, I solved this for my specific circumstance like so:
[code]
Using the RegExp by [Jeffrey Friedl](http://rads.stackoverflow.com/amzn/click/0596528124) provided by [ridgerunner](https://stackoverflow.com/u/433790) on [stackoverflow]

[2018-02-26 15:09] spencermountain commented on #458
ah, thanks Sca. This is a great bug. and your workaround is very clever.
i think i've fixed this in `11.5.2` - at least your example works. Can you take a look?
There's all sorts of issues with, unicode quoations, um and the trailing possessive apostrophe inside a quote, which might trip it still.
cheers

[2018-02-26 15:53] Garcia107 opened #459 "Add more LastNames"
Hi there,
 I really love this repo but I was wondering, is there a way to 'import' a file like the one you have here
compromise/data/words/people/lastnames.js and add more lastnames, malenames and femalenames?

I now that I can add more using lexicon https://runkit.com/583f2a3dc534df0014136221/58d5d0e469bd5800151ed584 but what if I want to add like 1000 new names or something like that?

Can I jus

[2018-02-26 16:12] scagood commented on #458
That seems to have worked for my previous method (I've since changed the way I was processing the instruction list).

I will note this may trip up with nested quotations, however, I'm not sure who would use nested quotes. Here is the sort of monstrosity I mean when I say 'nested' quotes: `"'She ate it!?', he said" she said.`. Again, I'm not sure who would do that, or how it would be processed. (v

[2018-02-26 16:27] scagood commented on #459
You could use a compromise's awesome plugin system (See: https://github.com/nlp-compromise/compromise-plugin).

Basic usage would be as follows:

Lets say your `index.js` files looked like so:
[code]

Your `names.json` file could look like so:
[code]

The output when run would look something like so:
[code]

[2018-02-26 21:37] spencermountain commented on #458
yeah, there's one pass in [./tagger/steps](https://github.com/spencermountain/compromise/blob/master/src/tagger/steps/18-quotation_step.js) that tags things as quotations, then another step [here](https://github.com/spencermountain/compromise/blob/master/src/text/subsets.js#L44) that splits them into arrays.

happy as always, to merge a pr, if you can make this logic smarter

[2018-02-27 00:46] Garcia107 commented on #459
@scagood Thank you so much good sir. 🥇

[2018-02-27 09:49] scagood commented on #458
So, I've been thinking, and nested quotes seem out of scope for now.
Sorting the possessive nouns and quotations seems plausible.

---------
Here are my proposed changes:
#### 1. I believe the '18-quotation_step' would need to happen before the '15-possessive_step'.
I'll start with an example:
`Here, 'quotation marks' are used to denote both Possessive and Quotation tags.`
Here detecting the wheth

[2018-02-27 16:52] spencermountain commented on #458
YEESSS!

oh my gosh, that apostrophe website makes me sad. I forgot about a lot of those cases they mention.

i'm on board!
lemme know if i can do anything to help. I'm around on [the slack group](https://slackin-kyzvclgjlg.now.sh/) all-day. Happy to work together on this, if you want
cheers

[2018-02-27 16:53] #459 closed

[2018-03-06 14:54] scagood commented on #126
Here are some possible thoughts.

Example table with decimals/separators.
[code]

So, as a table doesn't help much in the scale of things, here is my 'crack' at thinking this through:

---

First, detecting the format form the numbers with both separators present could be done using a 'simple' regex expression like so (assuming it's already been split as a term):
[code]

This will detect the follo

[2018-03-06 22:46] spencermountain commented on #126
@scagood you are my new favourite person.
I support this completely.

[2018-03-06 22:49] spencermountain commented on #126
yeah, lets support the all the unambiguous formats we can, and default to an english-understanding for the ambiguous forms. fr-compromise can do whatever it wants to do. that stuff is well-separated.

[2018-03-07 13:42] scagood commented on #458
This is quite a read, sorry in advance :')
I've code folded a lot of the extra/utility information (Prefixed with a &#11208; to show where they are.)

---

Right, here is my first attempt at tagging the quotation.
If you run this:
[code]

<details>
  <summary>Output:</summary>
  <p>

[code]
  </p>
</details>

However, regarding the conversation we had on slack, and looking at the mess that is the

[2018-03-07 13:44] scagood commented on #458
I will note I've completely ignored the `.quotations()` for now, because, it should be a reasonably simple change when we agree on the tagging situation.

[2018-03-08 15:31] spencermountain commented on #458
Love it.
really nice job. That's exactly what I was thinking about. very nice solution.

right, the possessives are being tagged in both the `possessive_step`, and the `./data/regex.js`. -- yeah, that's just me being sloppy. Nice find. Feel free to move that around, if it makes your logic easier.

also - 10 points for teaching me about the `~` operator in javascript. I had no idea about that.

PR!

[2018-03-08 21:29] hboylan opened #461 "Number parsing exceptions"
So far I've had pretty good results using this library to parse numbers. Unfortunately, I've started to see some odd edge cases with verbose pronunciations like:

[code]

Preventing me from using this in production... :sob:

[2018-03-08 21:37] TSavo commented on #461
I wrote this for this very reason: https://www.npmjs.com/package/english2number

[2018-03-08 21:39] hboylan commented on #461
Solid suggestion. This issue appears to only occur in the 40s range... Trying to figure out how to add a custom lexicon to patch this locally for now.

[2018-03-08 23:23] spencermountain commented on #461
hey Hugh! whoa nice bug. Surprised that one got through.
I'll take a look.

hey @TSavo nice work!

[2018-03-08 23:29] spencermountain commented on #461
hahaha
![image](https://user-images.githubusercontent.com/399657/37182300-97d32690-22fe-11e8-8089-cd36fd28a04e.png)
oops!

[2018-03-08 23:46] hboylan commented on #461
Ha, awesome! Wondered if that might be the case since I made the same typo a couple times.

Really appreciate you looking at this so quickly Spencer!

[2018-03-09 03:12] spencermountain commented on #461
fixed in 11.5.3, lemme know if you see something else.
cheers

[2018-03-09 03:12] #461 closed

[2018-03-09 13:20] hboylan commented on #461
Confirmed! You're the man! :100:
[code]

[2018-03-09 16:26] hboylan opened #462 "smarter number sequences - 'one one twenty one'"
Found another head-scratcher... At first I thought it was merely a limitation, but the issue appears to only pop up if there are an even number of individual digits in front of a multi-digit value.

Hopefully this example explains more clearly:
[code]

I'm merely using "one" and "twenty one" to demonstrate the point, but it occurs with _any_ even number of individual digits in front of a multi-dig

[2018-03-09 16:53] spencermountain commented on #462
ah, nice find Hugh.
Yeah, this is pretty doable. I'm going on vacation next week, so may not get to it before April.
If you, (or anyone) is inclined to tackle this, this lumping/splitting is found [here](https://github.com/spencermountain/compromise/blob/master/src/subset/values/index.js#L124)

afaik, any numbers 0-9 should not be lumped together, same for teen-numbers, or multiples like `thousand

[2018-03-09 17:05] hboylan commented on #462
Great, I'll take a look at this.

Enjoy your vaca! :sunglasses:

[2018-03-09 23:29] #458 closed

[2018-03-12 15:30] hboylan commented on #462
Tinkered with this over the weekend. Was able to patch this root issue, but it didn't work with `#Multiple` in the value.

At any rate, after careful consideration, I think declaring values like this is too ambiguous anyway. (ie. is "one one twenty one" = 1121 or 11201?) It actually depends on the short pauses between the digits when spoken.

Going to close this out. If anyone else runs into somet

[2018-03-12 16:14] scagood commented on #462
This reminds me of the way we (in the UK) say phone numbers.
Lets, say you have the following UK phone number; 07770 11 22 33.
There are two different ways of saying this, you could read it directly, for example:
[code]
Or, in the UK you could/would say:
[code]
I suppose there are other ways of saying phone numbers too, I just cant think of any.

Is that the sort of thing you were thinking about @

[2018-03-12 21:23] spencermountain commented on #462
yeah, I'll leave this open, we should fix this.

ooh, good point.

[2018-03-13 13:45] hboylan commented on #462
@scagood Correct, but it's tough to accurately decipher certain "creative pronunciations" like this. `compromise` does a great job with most, but certain combinations ambiguous.

In the US, this could be pronounced:
`oh seven seventy seven oh eleven twenty two thirty three`

Or for a US phone number, 555-123-4567:
`five fifty five one twenty three forty five sixty seven`

Gets a bit ambiguous when

[2018-03-13 14:52] clabe45 opened #465 "First person conjugation problems"
The following code
`console.log(nlp('i am cool').sentences().toPresentTense().out());`

yields
`i is cool`

I would expect the 'is' to be 'am'. This also happens with 'you'.
Also, `console.log(nlp('i be cool').sentences().toPresentTense().out());`
yields `i be cool`, but it conjugates fine if I change 'i' to 'he', for instance.

My version is 11.5.3

[2018-03-13 21:19] spencermountain commented on #465
agh, nice one. Thanks Caleb, will look at this in the next release

[2018-03-14 00:09] mateosilguero opened #466 "Can't match pronouns in the sentence."
Is there a way to get pronouns in a sentence ?
"I am home" is no returning 'i' as a subject, or no another field.

[2018-03-14 09:17] scagood commented on #466
Yes, there is!

You can use the [match function and syntax](https://github.com/spencermountain/compromise/wiki/Match-Syntax).

As an example:
[code]

This will log the array:
[code]
Can I recommend trying some of the demos found on the website [compromise.cool](http://compromise.cool/) or on the one hosted here on git [nlp-compromise.github.io](http://nlp-compromise.github.io/website/) (I will not

[2018-03-14 10:37] mateosilguero commented on #466
Thanks !

[2018-03-14 10:37] #466 closed

[2018-03-14 13:19] hboylan commented on #462
I believe the ultimate goal here is to capture **nominal** values in addition to cardinal and ordinal.

My thought is that the lumping/splitting would still need to be enhanced to capture more advanced number sequences. Then, there might be another step to determine whether the value is nominal. Maybe by using a separate `toNominal()` function or something...

![cardinal-ordinal-nominal](https://u

[2018-03-14 14:15] scagood commented on #462
This is a nice idea, how do you think we could differentiate your three categories in text?

I would assume there would have to have a system in place to identify Nominal numbers.
Or possibly the inverse to identify 'not' nominal numbers, using a naiive match like '#Value #Noun'?

This would have to be situational I think?
By this I mean different places all over the world use different systems, s

[2018-03-14 14:49] hboylan commented on #462
@scagood Since nominal numbers can be represented in so many different formats, I like the idea of passing a custom Regex to the function:
[code]
Generally, cardinal numbers seem to appear individually:
[code]
While nominal numbers usually appear together:
[code]

[2018-03-14 17:40] scagood commented on #462
The other thing that may be worth noting is that the processing of `numbers` like this would take longer, as the `#Value` would most likely have to split into ngrams and processed, using that technique there would be a high chance that multiple outputs will be produced.
As an example; let us suppose we're looking for `/\d{5}/` and the string was `twenty two twenty two` possible interpretations cou

[2018-03-15 18:27] #432 closed

[2018-03-18 02:33] clabe45 commented on #465
yep no problem
besides that, it is very impressive

On Tue, Mar 13, 2018 at 5:19 PM, spencer kelly <notifications@github.com>
wrote:

[2018-03-21 23:49] peterpme opened #467 "Thanks for such an awesome library!"
Hey Spencer,

I have just started using this and have found it super helpful. Just wanted to say thanks for all your hard work!

[2018-04-01 20:34] spencermountain commented on #467
thanks Peter!

[2018-04-01 20:34] #467 closed

[2018-04-10 20:49] spencermountain commented on #465
hey Caleb, this is fixed on 11.6.0
cheers

[2018-04-10 20:49] #465 closed

[2018-04-13 08:05] warhost opened #470 "sentences().isQuestion() is not a function?"
Hey,
I would like to use the `isQuestion()` feature. I can see it is defined in compromise/src/subset/sentences/isQuestion.js, however I am getting

Any ideas?

[2018-04-13 20:24] spencermountain commented on #470
hey felix, ah sorry about that.
i will look at adding it in the next version
cheers

[2018-04-18 00:02] differentsmoke opened #471 "Error in Plugin example"
Hi,

I believe there is an error with the first pattern defined in the [plugin example](https://beta.observablehq.com/@spencermountain/compromise-plugins) in the docs.

I believe this line
[code]
should be
[code]

Right? (with a **#** not with a **$**)

This had me confused about what patterns were for, for a while.

[2018-04-18 12:49] spencermountain commented on #471
hey Pablo, thanks. I almost went cross-eyed looking at that example.
Fixed it.
cheers.

[2018-04-19 18:52] #471 closed

[2018-04-22 23:22] leninworld opened #473 "Tagging and Plugin not working."
Hi,

I could not get tagging and plugin working for me. Please find below examples.

(1) I find tagging is not working:

It is returning empty for doc11.match('#sayingthanks').out('tags'):

var nlp = require('compromise');
var doc11 = nlp('thanks');
var word11 = doc11.match('thanks').out('array');
    console.log("found: word11:" + word11 );
    doc11.match('thanks').tag("sayingthanks");
    conso

[2018-04-23 05:02] scagood commented on #473
Hey @leninworld,
Thanks for using compromise!

In your first example the way to get this working would be to use `SayingThanks` as opposed to `sayingthanks`, I'm not sure why this is, though, it may be worth investigating.

Here is a version (using capitals):
[code]

There are two issues in your second example, the first is that capital issue again, where `help` should be `Help` and `helpword` sho

[2018-04-26 09:08] iq-dot opened #474 "Bug: tag.replace is not a function"
I am repeatedly getting tag.replace is not a function using this piece of text as the input:

_Iran's President Mocks 'Tradesman' Trump In National Speech "How can a tradesman, a merchant, a building constructor, make judgments about international affairs?"
That's how Iranian President Hassan Rouhani dismissed US President Donald Trump.
His jibes came amid U.S. threats to abandon the landmark nucl

[2018-04-27 14:03] spencermountain commented on #474
hi Iqbal, happy to help. I don't see this error when I parse that text, can you give me more information?

[2018-05-01 11:48] iq-dot commented on #474
Hi Spencer, sorry seemed to have missed this response.

So I am using the Core NLP server which runs in a docker container and I run it with 4 threads.

The exact distribution I am using is: stanford-corenlp-full-2018-02-27

This is the Java command I use to start the server up:

java -cp "*" -mx4g edu.stanford.nlp.pipeline.StanfordCoreNLPServer -port $PORT -timeout 15000 -annotators "tokenize" -p

[2018-05-01 14:17] spencermountain commented on #474
hi Iqbal, are you using stanford-corenlp? this is the wrong repository, this is a javascript library.
Yeah, i'd need more information before being able to help
cheers!

[2018-05-02 08:51] scagood commented on #474
Do you think you could give us a small snippet of your code as that would be the only way (that I can see) to move this issue forward :smile:

[2018-05-02 08:54] scagood commented on #473
@leninworld did this solve the problem?

[2018-05-02 09:13] iq-dot commented on #474
Sure, it's nothing complicated, I can't actually replicate the error, so I am suspecting it maybe related to some encoding issue, the text data was being pulled from a message queue.

Here is the snippet:

[code]

Feel free to close this issue until I can replicate it again.

[2018-05-02 20:54] spencermountain commented on #470
hey felix, this is fixed now in `11.7.0`
[code]
cheers

[2018-05-02 20:54] #470 closed

[2018-05-07 23:42] leninworld commented on #473
Got it. Thank you!

[2018-05-07 23:42] #473 closed

[2018-05-08 17:12] firemuzzy opened #476 "Ngram counts are sometimes wrong"
I have noticed that for some phrases the ngram counts are greater than the number of occurrences in the text.

Here is a an example https://runkit.com/firemuzzy/5af1d67875914d001263570c

If you look at the phrase `free for`, the provided text has 2 occurrences, but nlp-compromise returns a count of 3. Coincidentally the phrase `free` occurs 3 times, I wonder if something is messing up in the norma

[2018-05-09 14:16] spencermountain commented on #476
hey Michael, nice find.
I'll take a look at fixing this this week.
thanks

[2018-05-11 16:30] spencermountain commented on #476
ha! oh wow, it's the contraction - `It's free for`.
it's creating the gram `[is] free for`.
this is a great bug, will fix it today.
cheers

[2018-05-11 17:35] spencermountain commented on #476
fixed in `11.8.0`
thanks!

[2018-05-11 17:35] #476 closed

[2018-05-15 02:26] ethantran opened #478 "Verb that should be Noun"
`If I ate an apple, what would sarah think?` gives only `sarah` as noun. `Apple` is assigned a verb.

Also,`Dog refers to a domesticated canine animal with four legs and a tail.` returns `refers` as a noun.

[2018-05-15 09:58] frunkyfrunk opened #479 "Noun tags Actor and Activity are not returning any output"
I'm facing a problem with the tags for Actor and Activity. Both methods below are not returning any words.

nlp("I'm swimming").match('#Activity').out('normal')
nlp("I'm a plumber").match('#Actor').out('normal')

[2018-05-15 11:11] findli opened #480 "lemmatization"
Example from [wiki usage](https://github.com/spencermountain/compromise/wiki/Usage)

nlp.text('He ate the eggs.').out('root')
// 'he eat the egg'

but real output is 'he ate the eggs'
so the 'ate' doesn't became 'eat'.

[2018-05-15 14:03] spencermountain commented on #480
(handled in slack chat)
[code]

[2018-05-15 14:03] #480 closed

[2018-05-15 14:12] spencermountain commented on #479
hey @frunkyfrunk yeah, if you want to see the tags for a document, you can do this:
[code]
i think for that example, you'll want to use the `#Gerund` tag, instead of #Activity. If i can remember, the difference is a subtle one - `nlp('swimming is fun')` is a noun-use of the word, so I called it 'activity'. You can match both by doing this:
[code]

yeah, it looks like we stopped tagging [these exam

[2018-05-15 14:18] spencermountain commented on #478
hey Ethan, whoa - nice finds. Great examples.
Yeah, looks like they're both errant sentence rules.
I'll fix these in the next release, ideally this week.
thanks!
(p.s. keep em coming, if you find some more)

[2018-05-15 14:19] #474 closed

[2018-05-17 18:14] lukeyt opened #481 "Match behaviour unexpected - exact match not found"
This doesn't return a match:

     nlp('Number I').match('Number I').out()

While the following does (only difference is 'I' vs 'II')

    nlp('Number II').match('Number II').out()

[2018-05-21 16:21] spencermountain commented on #481
hey, this one was a good edge-case with single-character & case.
nice one.
fixed in `11.9.0`

[2018-05-21 16:21] #481 closed

[2018-05-21 16:23] #479 closed

[2018-05-22 15:31] giorgio79 opened #483 "include `text` in sentences.data()"
Hello,

I tried to extract the sentences from a text, but compromise provides a normal form only. Can we get the original text as well? I am only looking for a simple sentence array.

IMHO lowercasing stuff whichever way is definitely a bad idea :)
[code]

Here is what I am looking for https://www.npmjs.com/package/sentence-extractor , hoped compromise can do that :)

[2018-05-22 15:47] spencermountain commented on #483
hey György, yeah i get what you're saying. the plaintext version should definitely be in the sentences.data() response.
i'll leave this open until I add that.

you can do this, for now:
https://runkit.com/spencermountain/5b043b2941a474001204884f
cheers

[2018-05-23 04:52] giorgio79 opened #485 "POS Tagging performance data?"
Do you have data on POS tagging performance?

- en-pos for example is 96.43% https://github.com/FinNLP/en-pos
- Stanford POS is around 97% https://nlp.stanford.edu/~manning/papers/CICLing2011-manning-tagging.pdf

[2018-05-23 08:36] giorgio79 opened #486 "Stick with "compromise" variable name throughout examples"
Wonder why the compromise var is named as nlp? :)
[code]

Why not keep it as compromise?

var compromise = require('compromise')

var doc = compromise('London is calling')
doc.sentences().toNegative()

Like Natural is sticking to its namespace https://github.com/NaturalNode/natural

`var natural = require('natural');`

[2018-05-23 13:49] spencermountain commented on #485
hey György, yeah a little bit.

https://beta.observablehq.com/@spencermountain/compromise-accuracy
https://github.com/spencermountain/compromise/wiki/Accuracy

[2018-05-23 13:50] giorgio79 commented on #485
Oh wow! Really cool. Loving the pragmatism... :)

[2018-05-23 13:50] #485 closed

[2018-05-23 13:51] spencermountain commented on #486
hey György, yeah it's weird. it would be a bad breaking change to fix it,
it's exported like that for the browser, so that's why I used that name in the docs. You can call it anything you'd like in your nodejs app.
cheers

[2018-05-23 13:51] #486 closed, assigned to nobody

[2018-05-25 09:48] ahkimkoo opened #487 "chinese version"
期待中文版本

[2018-05-25 14:17] aviv opened #488 "noun-phrase article"
It's currently possible to get articles for a noun, but it doesn't seem possible to get the correct article/s for a phrase like "open door" or an adjective on its own. Is this something that would be easy to add, or is there currently a way to do this that I'm missing?

[2018-05-25 15:29] spencermountain commented on #487
你好！ 是的，这是个好主意。 我不是中国的专家，但这是一个令人兴奋的想法!

[2018-05-25 15:35] spencermountain commented on #488
oh hey, this is correct. I never thought about this.

hmmm, yeah, i can't think of a clever way to run-around this right now.

we had support for notions of 'noun phrases' in previous versions, which is probably something we should return to.

this is a great example, let me think about it for a bit.

[2018-05-25 17:39] aviv commented on #488
thanks for the quick response, and for taking a look!

[2018-05-30 17:56] playground commented on #272
@spencermountain when I try "Atlanta" or "Marietta".

nlp.debug() does not recognize them as place.  How can I add them to the dictionary?

   --
   'Phoenix'                  - TitleCase, City, Place, Singular, Noun, ProperNoun
   'AZ'                       - Noun, Acronym, Singular, Region, Place, ProperNoun
   'atlanta'                  - Noun, Singular
   'georgia'                  - Region, P

[2018-05-30 18:00] playground commented on #272
nm, got it.

let doc = nlp('Phoenix AZ atlanta georgia marietta', {Atlanta: 'Place', Marietta: 'place'});
doc.debug();

[2018-05-30 18:33] playground commented on #272
@spencermountain what cities are included in the library?  Where can I get that list?

[2018-05-30 19:04] spencermountain commented on #272
@playground please look around before asking.
it's pretty easy to find! [./data/words/places/cities.js](https://github.com/spencermountain/compromise/blob/master/data/words/places/cities.js)

[2018-06-06 14:42] spencermountain commented on #488
hey Aviv, this is not a good solution, but something you can use until this is handled in a better way:
[code]
will leave this open, to handle this better
cheers

[2018-06-06 15:23] spencermountain commented on #483
hey György, fixed in 11.9.1

[2018-06-06 15:23] #483 closed

[2018-06-11 12:43] ohenepee opened #490 "FEATURE REQUEST: Quantification"
Could you please add `.quantify(list)` as in **Pattern.en**. One sweet and essential NLP missing piece. Nice job by the way... graduallly making JS great again! :)

[2018-06-11 13:59] spencermountain commented on #490
hi @ohenepee thanks. I don't quite understand the request, can you elaborate on what quantify would do?
cheers

[2018-06-11 14:05] ohenepee commented on #490
`quantify(['goose', 'goose', 'duck', 'chicken', 'chicken', 'chicken'])`

`quantify({'carrot': 100, 'parrot': 20})`

`quantify('carrot', 1000)`

As found [here](https://www.clips.uantwerpen.be/pages/pattern-en#quantify)

[2018-06-12 16:10] ohenepee commented on #490
For the love I have of `compromise`. This is 99% port of the Python implementation found in **Pattern.en**. The only thing missing is the `plural` dictionary which I had no use for. I guess someone can add it.
[code]

[2018-06-13 05:02] josiahbryan opened #491 "strip Honorifics in .people()"
Minor bug report here, but it seem's to be making "Lady" part of the noun phrase for "Melania Trump", as shown in this example:

* Code: `console.log(nlp("First lady Melania Trump").nouns().out('array'));`
* Prints: `[ 'lady melania trump' ]`
* Should print: `[ 'melania trump' ]`

[2018-06-14 21:25] vin-ni opened #492 "Bug: [space]... breaks normalize();"
Hi,
I found a bug in the normalize function. When I type:

`let string = nlp("Let's do something about this ...").normalize().out("text");
console.log(string);`

It returns
` Let us do something aboutundefinedthisundefined`
instead of `Let us do something about this ...`

Anyone has an idea why this is caused?

[2018-06-15 13:18] lukeyt opened #493 "Clear plugin"
There does not seem to be any way to clear a previously loaded plugin.  For instance if I use the example:

`let plugin = {
    words: {
      'trex': 'Dinosaur'
    },
    tags: {
      Dinosaur: {
        isA: 'Animal'
      }
    }
  };
 nlp.plugin(plugin);
 let doc = nlp('i saw a HUUUUGE trex');

doc.match('#Dinosaur').out('normal')// 'trex'`

There doesn't seem to be any way to unload 'plugin

[2018-06-16 13:19] ohenepee opened #494 "Simple POS tags without entity tags"
Is there any way at all to get the POS tags of a sentence as on the compromise website without all the fluff (named entities and the lot)?

[2018-06-16 17:02] spencermountain commented on #490
thanks, yeah this is a cool idea. What, if you don't mind, are you using it for?

I would see this feature implemented something like this:

[code]
something like that?

[2018-06-16 20:06] spencermountain commented on #492
whoa, nice find!
that's a good one.

fixed the main bug, but found another one with the ellipses like that. Will leave this open until i fix it, then will publish the fix

sansho looks fun!
cheers

[2018-06-18 07:47] vin-ni commented on #492
thanks man :)
hit us up if you're ever in Berlin

[2018-06-18 13:08] spencermountain commented on #493
hey @lukeyt yeah, you can do this with `.clone()`, but it's a little awkward.

[code]
cheers

[2018-06-18 13:08] #493 closed

[2018-06-18 14:15] spencermountain commented on #494
hey @ohenepee , you may want to try `.out('tags')`, that's probably the cleanest output for that stuff.
cheers

[2018-06-18 14:15] #494 closed

[2018-06-18 20:05] spencermountain commented on #492
hey, fixed in `11.10.0`, lemme know if you see anything funny.
cheers

[2018-06-18 20:05] #492 closed

[2018-06-18 20:51] spencermountain commented on #491
hey, added an `honorifics` method in normalize, here's how you can do that now:
https://runkit.com/spencermountain/5b281b292744f80012c4be21
lemme know if you see anything weird,  `v11.10.1`
cheers

[2018-06-18 20:51] #491 closed

[2018-06-19 09:41] lukeyt commented on #493
Great - thank you @spencermountain - I will give it a go!

[2018-06-19 17:18] lukeyt commented on #493
I have tried this - however its not quite working as I expected after all -

var nlp2 = nlp.clone();

nlp2.plugin({
  words: {
    trex: 'plugin'
  }
});

will error with nlp2.plugin is not a function.  What I had hoped was that I could use the approach above to clone nlp each time I wanted to load a different plugin, discarding the clone each time.  But it seems clone does not clone the methods (

[2018-06-19 17:25] Isaacroyal opened #498 "How to get Part-Of-Speech tags"
Hi there, am new to compromise js
i need some help on how I can get POS tags from a sentence.
Thanks.

[2018-06-19 17:36] spencermountain commented on #498
hi @Isaacroyal try `nlp('this is a sentence').out('tags')`
cheers

[2018-06-19 17:36] #498 closed

[2018-06-19 17:39] spencermountain commented on #493
yeah, rats. i was afraid of that.

check out [this issue](https://github.com/spencermountain/compromise/issues/257), where someone reloads the library using require-reload.

i can look at cleaning up the library clone stuff, but it's behind a backlog right now.

[2018-06-19 17:49] Isaacroyal commented on #498
I have tried it but it outputs alot stuff I don't need...
Is there a way I can get a basic output
For example something like;
Can - verb
I - pronoun
Have - verb
Some - Determiner
Gum - noun
Lets say If my sentence is "Can I have some gum"

[2018-06-19 19:22] spencermountain commented on #498
yeah, if you just want on tag, this should do the trick
https://runkit.com/spencermountain/5b29579882fcec00123e80ed

[2018-06-19 19:34] Isaacroyal commented on #498
@spencermountain thank you very much, this works perfectly.

[2018-06-21 23:24] adamawolf opened #499 "Infinitive verbs that can be nouns are never tagged as verbs"
I'm attempting to use compromise.js in order to identify commit messages in the imperative mood. These are sentences that begin with a bare infinitive.

`Access memory only when needed`
`Alert user when error occurs`

etc.

However whenever a bare infinitive is a word that can also be a noun, it fails to identify it as an verb.

These are the verbs I've found that could plausibly start a git commi

[2018-06-22 14:21] spencermountain commented on #499
hey Adam, neat project, and good problem.

you're right, there isn't a quick solution to this, but I suggest that we can hack-down a good amount of them, using context of neighbouring words.

you can see some of the desperate and sloppy ways i'm doing this [here](https://github.com/spencermountain/compromise/blob/master/src/tagger/steps/23-corrections.js#L30). things like this:
[code]
Maybe we can

[2018-06-22 14:31] spencermountain commented on #499
for example, this may cover your examples:
[code]

something like that? Happy to add whatever. The tests are pretty strong, so they will whine if we get too aggressive with this.

[2018-07-09 16:11] owendall commented on #488
Yes, the noun phrase thing would be VERY useful...

[2018-07-12 23:50] Errogant commented on #458
It is worth noting that the second tutorial contains an instance of quotations() still not working correctly.

Code:
[code]

Output:
[code]

This outputs only the first quote, but I believe it should output both? I couldn't find a good source of documentation to make me believe otherwise, and a modification to the code shows that this is the only phrase tagged as a quote.

Code:
[code]

Output:

[

[2018-07-13 18:15] spencermountain opened #500 "missing results in .quotations()"
as appearing in [the second tutorial](https://beta.observablehq.com/@spencermountain/compromise-tutorial-2)
[code]

[2018-07-13 18:16] spencermountain commented on #458
hey, yeah thanks @Errogant.
I've made a new issue [here](https://github.com/spencermountain/compromise/issues/500)

[2018-07-15 07:17] monbro opened #501 "continent-support in .places()"
I am processing this sentence (tested on http://compromise.cool/)

Unfortunately when extracting places it is not extracing 'africa' as a country / place. Is there any reason for this? The topics I get:

[2018-07-15 07:54] monbro opened #502 ".adjectives() missing on the website"
Hey first I was a bit confused, on http://compromise.cool/ I see adjectives() in the tree diagram, but not within the examples for testing. As you want to demonstrate functionality on the website / doc, I think it would be good to add this one to the texting text box too.

[2018-07-18 14:36] spencermountain commented on #501
hey Micheal, I agree that africa should be a place, and south africa should be a country.

seems like south africa is working, but perhaps continents are missing
https://runkit.com/spencermountain/5b4f4fade59e320012db2fef

i'll add em in, thanks.

[2018-07-18 14:39] spencermountain commented on #502
hey Micheal, yeah i guess so.
you can also try things out [like this](https://runkit.com/spencermountain/5b4f50ab2356bf00125254dc)

(i think `.adjectives()` simply runs `.match('#Adjective')`)
cheers

[2018-07-25 19:54] dheerajalali opened #503 "IE 11 does not support findindex"
Was trying to use compromise JS for some NLP functions but IE11 throws exception for the findindex method.

[2018-07-25 20:02] spencermountain commented on #503
hey dheerajalali, thanks, good find.
it should be pretty-easy to remove this.
i'll try to do it this week.
thanks

[2018-07-25 21:22] spencermountain commented on #503
hey, fixed in 11.12.0.
cheers

[2018-07-25 21:22] #503 closed

[2018-07-25 21:22] spencermountain commented on #501
hey, added them in 11.12.0.
thanks.

[2018-07-25 21:22] #501 closed

[2018-07-25 21:22] spencermountain commented on #500
fixed in 11.12.0.

[2018-07-25 21:22] #500 closed

[2018-08-03 18:26] flesler opened #505 "Add support for synonyms?"
It'd be great, when normalizing text to include synonyms (and even antonyms!). So that all synonyms are normalized to the same word (and `not ${antonym}` too).

It shouldn't be incredibly complex, it's equivalent to using `replace(synonym, normalized)` for each case (but much more optimized I hope.

[2018-08-03 18:29] flesler commented on #505
This could make stuff like #Currency more useful, to be able to normalize to either the name or the symbol would be great (unless it can already be done and I missed it)

[2018-08-03 18:51] spencermountain commented on #505
love this idea

[2018-08-03 22:38] flesler commented on #505
I temporarily implemented this myself, adding the following to the "plugin":
[code]

Then I iterate and `replace(key, synonyms[key])`

[2018-08-04 19:58] flesler commented on #304
Seems like #505 goes in the same direction

[2018-08-04 20:02] flesler opened #506 "How to teach it?"
So, might be a silly question. Say you define extra rules (aka plugin). You run several texts via `nlp()` and the add extra tags.

Is there a great way to permanently assign those Tags to the Term for future uses with other texts without having to generate an explicit definition file?

[2018-08-04 20:04] flesler commented on #128
Somewhat related to #505, I wouldn't call these abbreviation "synonyms"  but the functionality to match them as if they were the same, maybe normalize to one or actual paraphrase seems similar.

[2018-08-04 21:47] flesler commented on #506
I know it's not what the library is meant for, it's rather "declarative" or "stateless".

I'm asking, what would be the recommended way to persist some of the inferred tags in their terms for future calls. I suppose many are context-sensitive so not all of them (specially not the built-in ones)

[2018-08-06 21:19] alexluong opened #507 "nlp().verbs().to... doesn't persist"
Hi,

So I'm trying to manipulate a text to change all verbs to infinitive forms and all nouns to singular. Here's my code:

[code]

The result I got was that all nouns were indeed changed to singular form. However, the verbs form didn't.

With a little more inspection:

[code]

and

[code]

confirm my notion.

I wonder if this is the intended behaviour. Would love to hear your opinions on how I ca

[2018-08-06 21:25] spencermountain commented on #506
hey Ariel, yeah cool idea.
yeah, there's no 'soft touch' or statistical nudging that we support, which would allow this kind of subsequent-unknowns stuff - if i'm understanding your question correctly.

if we find that something is parsed incorrectly, we should change the internal rules with a PR (anytime!) so that it isn't wrong anymore ;)

any ideas about building-up this rule-set using trained

[2018-08-06 22:30] flesler commented on #506
I don’t think it is what I mean, so I’ll an example. Let’s say you add a
pattern that detects brands of cars, something like:

'driving a [#TitleCase+]': 'Car'

Now you run several texts through compromise  and some of them “find”(tag)
brands.

Now you want to persistently (but in memory) add the tag Car to those terms
for subsequent calls even if not matched by the pattern above.

So, if you ever

[2018-08-06 22:35] flesler commented on #506
Maybe it’s plugin material but, for example, tags could have (along isAt) a flag like persistent: true. When a Term gets tagged with it, the tag is re-added on all calls to that same Term automatically

[2018-08-07 16:08] spencermountain commented on #506
ah, yeah that's a neat idea.

yeah, so anything you throw inside of the plugins just gets added to a javascript object, which you could manipulate directly - [like this](https://runkit.com/spencermountain/5b69c300e5246000120b44ac)

it's a bit awkward doing it that way, but that will enable you to do this sort of thing i think

[2018-08-07 16:16] spencermountain commented on #505
yeah! very cool @buildbreakdo
another thing that would be cool about using word net is you can ensure the Part-of-Speech matches on the term, before making a swap. That will prevent errors like, `when i'm really bored, i pod the ..` -  😕

one cool thing about compromise is that it can reliably conjugate verbs to their infinitive form, and inflect plurals back to singular. I haven't done this for p

[2018-08-07 16:32] spencermountain commented on #507
yeah, you know, I had a test failing where this exact thing was happening.
This is a (bad) bug.

it's something about how the subclasses carry-around mutated objects. It's a real mess.
I have some [big-ideas](https://github.com/spencermountain/compromise/tree/new-terms-object/src) about handling this in a smarter way, but it is a big change and needs some time.
in the mean-time, it appears this or

[2018-08-07 17:18] spencermountain commented on #506
the tags have a [nested scheme](https://beta.observablehq.com/@spencermountain/compromise-tags) for knowing which is consistent or inconsistent.

yeah multiple-words should work

[2018-08-07 21:31] flesler commented on #506
Right so it’s quite like class inheritance right? A tag IS another tag recursively, but a term/word can technically “be” a single tag, correct?

[2018-08-07 22:01] spencermountain commented on #506
yeah

[2018-08-08 01:02] alexluong commented on #507
Thank you for your response. That's quite odd that the order of actions made such a difference.

Anyway, I'll check to see if that order works. Thanks again for your help.

[2018-08-08 01:02] #507 closed

[2018-08-08 15:05] linonetwo commented on #487
Hi, I've made a Chinese POS tagger in pure JS, will that help?
https://github.com/linonetwo/segmentit

[2018-08-08 15:27] spencermountain commented on #487
@linonetwo neat!!
very cool library.

[2018-08-14 03:44] josephrocca opened #508 "How to get all possible parts of speech for a word that may have multiple senses?"
Is it possible with compromise to get a list of all possible tags for a word? I'm trying to build a little script that allows me to filter out all non-nouns, or all non-adjectives, etc. from a word list. Is this sort of thing possible with compromise?

[Here's a quick script](https://gist.github.com/josephrocca/332f8001850cbf880de9f2d8dfc6e4fb) I wrote to show that compromise currently doesn't pro

[2018-08-14 12:47] spencermountain commented on #508
oh hey, that's helpful. Do you see any helpful patterns in the missing nouns?
I try not to list-out possible nouns, because there's too many in the world. But if there are patterns like suffixes, in that list, where those words are being mis-classified, that could be really helpful.

you can see all the tags [here](https://beta.observablehq.com/@spencermountain/compromise-tags)

[2018-08-15 21:04] thelordoftheboards opened #509 "Documentation - Link to 'as part of the unit tests' is broken in README.md"
Readme:

https://github.com/spencermountain/compromise/blob/master/docs/README.md

The link labelled 'as part of the unit tests' points to:

https://github.com/spencermountain/compromise/blob/master/tests/unit/docs/docs.test.js

But that location does not seem to exist.

[2018-08-17 20:06] HristoKolev opened #510 "nlp('posts').nouns().out() returns undefined"
Is this a bug?

Package version: "compromise": "^11.12.0",
Node version: v10.2.1

[2018-08-17 20:36] spencermountain commented on #510
hey Hristo, if you run `nlp('posts').debug()`, (or `.out('tags')`) you can see it's tagging that word alone as a verb. you can co-erce it as a noun like this:
[code]
cheers

[2018-08-17 20:38] HristoKolev commented on #510
Thank you. It was my fault for not understanding how the API works.

[2018-08-17 20:38] #510 closed

[2018-08-21 08:49] Xetanai opened #511 "Uninterrupted periods hang exponentially longer with each period"
If in the middle of a string, not the start or end, repeated uninterrupted periods cause compromise to hang exponentially longer with each successive period. I made a script to test this issue, and have provided that and the output in my own test below.

For reference, even a single non-space letter after each period nullifies this issue, offering the speed compromise is known for.

[code]

Everyt

[2018-08-21 14:42] spencermountain commented on #511
ah! thank you Julia. Very nice issue.

I'm happy to take a look at this. It is likely a over-eager regular expression.
I will try to track it down.

[2018-08-24 00:12] 7ammer opened #513 "added words are not detected when pluralised"
Below I have added `trex`. A match is found for 'trex' but when I search for `trexes` no match is found.
Is this by design? If so, to include these scenarios will I need to add the plural words to the words object or is there some magic that I don't know about that checks for the plurals for me.

Cheers :)

[code]

[2018-08-24 14:32] damianof opened #514 "Verb identified as noun when there is &nbsp;"
nlp(`I was flying&nbsp;`).nouns().out('array')

Maybe need to parse html entities.

Also, seems outputting lowercase:
nlp(`I was flying to Rome`).nouns().out('array')

will return ['rome'] instead of ['Rome']

[2018-08-27 16:47] spencermountain commented on #514
hello, yeah. compromise does not parse html entities, and expects text to be pre-formatted.

the .out('array') is expected behaviour, it is outputting normalized versions of the text. for different outputs, please consult https://beta.observablehq.com/@spencermountain/compromise-output
cheers

[2018-08-27 16:47] #514 closed

[2018-08-27 16:53] spencermountain commented on #513
hi James, yeah this is a little awkward. With custom tags, like Dinosaur, there's no way to know if a dinosaur is a Singular Noun..
It does, however, inflect words in the lexicon automatically if they have the `Singular` tag - i know this is a little-bit weird.
[code]

either way, you could always run your lexicon through compromise's `toPlural()` manually, before entering them in, like

[code]
¯\

[2018-08-30 14:59] spencermountain opened #515 "`No. 90210` sloppy sentence break"
[code]

[2018-08-31 13:39] 7ammer commented on #513
Brilliant! This solves my issue.
Thanks! 👍

[2018-08-31 13:39] #513 closed

[2018-08-31 18:19] gg4u opened #516 "Difference between topics and nouns ?"
WOW! First of all, my congratulation @spencermountain . And also, I like it a lot your CV presentation page, it sounds funny and bring some color!

I've got a question for a use case of library:

I would like to parse topics out of blogs. I  tried with some texts, in some cases topics return an empty array, while nouns() works its way.

How are topics defined?

Best ideal case for me, it would be

[2018-09-01 19:27] spencermountain commented on #516
hey, thank you Luigi.

yeah, .topics is just `people()+places()+organizations()`. you can read a bit more about it [here](https://beta.observablehq.com/@spencermountain/topics-named-entity-recognition). That would be what i'd use for the wikification idea. Nouns has too much stuff like pronouns, or whatever.

yeah, wtf_wikipedia may be helpful. that follows redirects and things.

this should get y

[2018-09-01 19:43] #506 closed

[2018-09-01 19:49] #515 closed

[2018-09-01 19:49] #487 closed

[2018-09-01 20:06] spencermountain commented on #511
found it.

it's tripping on [this one](https://github.com/spencermountain/compromise/blob/dev/src/term/whitespace.js#L4)

here's a simpler reproduction:
[code]
yeah, gonna need to take a walk now.

will try to fix it later.

[2018-09-04 14:25] spencermountain commented on #509
fixed on dev branch, thanks

[2018-09-04 14:25] #509 closed

[2018-09-04 14:26] #516 closed

[2018-09-04 19:06] owendall commented on #505
👍

[2018-09-04 19:29] owendall commented on #505
@spencermountain Not sure how best to help do what you mentioned above...
![image](https://user-images.githubusercontent.com/10927/45053190-402af300-b057-11e8-8e7b-62fe861e0d2e.png)

[2018-09-04 19:40] spencermountain commented on #505
hey owen, it would involve looping through each word and conjugating all the verbs to infinitive, and all the plural nouns to singular.

If you save that string on each term, the replace method could just loop around and look at that string.

I don't wanna do that at tag-time. It would make everything slow.

[2018-09-04 19:43] spencermountain commented on #505
but it would be a wicked plugin.
one method to create this `doc.cache()` 'super-normalized' word.
and another method to `doc.replace({ecstatic:'happy'})`

[2018-09-07 18:59] bikibird opened #517 "Bear interpreted as verb instead of noun"
nlp("Alice was eaten by a bear.").out("terms")

Tags bear as a verb instead of as a noun.

compromise v11.12.0

[2018-09-07 19:26] spencermountain commented on #517
thanks, good find. It should recognise the `a + foo'` pattern
please bear with me while I change it (sorry)

[2018-09-07 19:28] bikibird commented on #517
Bear in mind that I'm very appreciative of this library.

[2018-09-12 00:18] spencermountain opened #518 "runtime error on empty doc on .delete()"
[code]

[2018-09-14 12:46] giorgio79 opened #519 "How to pos tag and count ngrams with the new version of compromise?"
I am trynig to follow the examples, but no luck so far:

eg

[code]

or pos tagging:

[code]

[2018-09-15 19:03] giorgio79 commented on #519
Got an answer for pos tagging here :) https://github.com/spencermountain/compromise/issues/498
Still investigating plugins :)

[2018-09-17 14:06] spencermountain commented on #519
hey thanks György, where did you find that `min_count` example? I've gotta go through some day and purge all the old documentation, it's gotta be confusing to learn right now.

[2018-09-18 04:24] cmann1 opened #520 "Unrecognised/incorrect verbs"
**adapted** - isn't recognised as a verb.
**attempted** - returns incorrect forms:
Actor: "attempter"
FutureTense: "will attempte"
Gerund: "attempting"
Infinitive: "attempte"
PastTense: "attempted"
PresentTense: "attemptes"

[2018-09-18 13:58] spencermountain commented on #520
thanks @cmann1 will check it out

[2018-09-23 14:16] giorgio79 opened #523 "What happened with the irregular verbs list?"
I notice in the code it is commented out
https://github.com/spencermountain/compromise/blob/de152cb78fa6b17d86a2e32d6d3cdfddfa59944d/src/subset/verbs/methods/conjugate/irregulars.js

[2018-09-23 14:18] giorgio79 opened #524 "Standardise on lexicon for js pos taggers?"
https://github.com/finnlp/en-pos has a nice one at

https://github.com/finnlp/en-lexicon#readme

[2018-09-23 22:47] spencermountain commented on #523
hey György, yeah that's from a refactor, which hangs all the lexicon, including the irregulars, onto the 'world' object, so it can throw it around, and modify it, and clone it and stuff.
It's sort of half-baked, and not working that well..
if i remember correctly, the irregulars live there, but if there are words missing, please let me know.
There may be!
cheers ;)

[2018-09-23 22:52] spencermountain commented on #524
yeah, i'd love to see more attention regarding standards for different lexicons, that was the dream of the plugin scheme, that people would collaberate, and build-up eachothers lexicons, so that there are well-built one-liners for supporting jamaican slang, or whatever. This would be great, but it just hasn't happened.

The current compromise lexicon is so custom, because it's composed in large-pa

[2018-09-24 11:37] giorgio79 commented on #524
Found one more https://github.com/dariusk/corpora/ used by  https://github.com/dariusk/pos-js :)  I guess editing large files is a pain for most hence the lack of coordination. VS Code handles large files very well though :P

[2018-10-02 20:55] andeanfog opened #525 "Prevent copying methods"
1) Copying methods individually is slow

Extending objects one property at a time is resource intensive, because it results in many redundant hidden classes being created behind the scenes.

`Object.defineProperties` and `Object.assign` can be used as an alternative to copying methods individually. You can polyfill those functions for users of older versions of JS.

2) Copying methods is not neces

[2018-10-02 21:14] spencermountain commented on #525
thanks @andeanfog i agree.
is compromise doing this? Where?
somewhere in `.clone()`?
cheers

[2018-10-02 21:36] andeanfog commented on #525
Code including but not limited to:

https://github.com/spencermountain/compromise/blob/de152cb78fa6b17d86a2e32d6d3cdfddfa59944d/src/subset/nouns/noun.js#L89-L91

https://github.com/spencermountain/compromise/blob/de152cb78fa6b17d86a2e32d6d3cdfddfa59944d/src/terms/methods/split.js#L110-L112

https://github.com/spencermountain/compromise/blob/de152cb78fa6b17d86a2e32d6d3cdfddfa59944d/src/terms/method

[2018-10-02 21:57] spencermountain commented on #525
oh hey! Yeah I could use some help with this. Thanks.
I started doing this when I saw all the stuff babel created when I used `class`. It was a huge amount of boilerplate each time.
Then i thought i'd save some bytes by not repeating `.prototype` each time, so I looped it around at the end of the file.I thought i was being clever.

do you recommend this instead?
[code]
i have no idea what is happe

[2018-10-02 22:00] andeanfog commented on #525
The idea is to make sure that methods are defined for once per type definition rather than once per instance.

In order to do that, the idea is to define a type that contains all the desired methods, and then create instances of that.

[2018-10-03 13:32] spencermountain commented on #525
hey, can I get your advice on something?
how would you impliment this?
[code]
you can see `Parent` needs to have a method that returns a sublassed object.

This is the pattern we use for `Doc.nouns()` and so forth, it was a real head-scratcher

[2018-10-04 08:58] giorgio79 opened #526 "Can compromise detect the 12 English tenses?"
Here is a nice list:

http://www.euenglish.hu/2016/01/verb-tenses-made-easy/

http://www.euenglish.hu/wp-content/uploads/2016/01/Verb-tenses_Overview.png

[2018-10-04 13:27] giorgio79 commented on #505
I would not call "bc" a synonym for "because", but more a slang version, or a contracted form. Just my 2 cents.

[2018-10-04 14:23] giorgio79 opened #527 "Compromise ignores / destroys end of sentence punctuation when POS Tagging"
Example
[code]

Output
[code]

[2018-10-04 14:33] spencermountain commented on #527
hi György, you're not supposed to split the text before entering it into compromise.
it accepts a string. please read the documentation

[2018-10-04 14:36] giorgio79 commented on #527
Thanks Spencer. Tried both ways :) Still no candy for end of sentence punctuation :)

[code]

[code]

[2018-10-04 14:41] spencermountain commented on #527
ah sorry.
yeah, outputs right now are in a weird place. this should have the trailing period
[code]
cheers

[2018-10-06 07:12] maimike opened #528 "Searching word exist with infinitive form"
I'm implementing a page to leaning vocabulary. My challenge is that I have a sentence 'i left this school'. I have a vocabulary list with infinitive form [leave, love, like, agree ]. So I want to make a blank for the user to enter the word. So I need to replace the work which appear in the vocabulary list by a blank. So can compromise help to solve this issue?

[2018-10-06 08:55] maimike opened #529 "nlp.text is not a function"
var nlp = require('compromise')

nlp.text('He ate the eggs.').out('root')

error:

[2018-10-06 22:21] BPreisner opened #530 "Normalization: verbs option not working"
const nlp = require('compromise')

settings = {
   whitespace: true,
   case: true,
   numbers: true,
   punctuation: true,
   unicode: true,
   contractions: true,
   acronyms: true,
   parentheses: true,
   possessives: true,
   plurals: true,
   verbs: true,
   honorifics: true
};

let output = nlp('He ate the eggs because he wanted to do this.').normalize(settings).out('normal');

console.log(

[2018-10-09 17:39] spencermountain commented on #511
ugh, this still isn't fixed. It's a hard one. I'm gonna punt this to v12, where a lot of this whitespace logic is being re-written.

[2018-10-09 17:43] #518 closed

[2018-10-09 17:46] spencermountain commented on #529
oh, this is the old api. looks like some old docs. sorry bout that.
working call:
[code]
cheers

[2018-10-09 17:46] #529 closed

[2018-10-09 17:50] #508 closed

[2018-10-09 17:51] #527 closed

[2018-10-09 17:55] spencermountain commented on #530
hi, yeah sorry. this is a really weird bug. it's the same as #507 .
gonna look at supporting this much better in v12, but for now, you can do this:
[code]
cheers

[2018-10-09 17:55] #530 closed

[2018-10-09 18:29] spencermountain commented on #520
fixed in `11.12.1`

[2018-10-09 18:29] #520 closed

[2018-10-09 18:46] fmacpro commented on #328
Hi Guys! wanted to jump in on this discussion a bit. I've noticed issues here as well..

1. 3 part names (first, middle, last) or names that have a hyphenated part e.g Jacob Rees-Mogg
2. Case is lost in some Scottish names where it is important. For example MacDonald, Macdonald, McDonald. These are all considered valid variants of the same clan name but the casing is important in historical terms

[2018-10-09 18:50] spencermountain commented on #328
yah!
you can pass-in [a plugin](https://beta.observablehq.com/@spencermountain/compromise-plugins) right now.  v12 is gonna support extending classes, to add new methods and things.

what should `Jacob Rees-Mogg` output?

[2018-10-09 19:12] fmacpro commented on #328
not sure if i'm understanding the question so apologies in advance if I've misunderstood but currently it comes back as either "jacob rees" or "jacob rees mogg" or "rees mogg" whereas it should be Jacob Rees-Mogg

firstname: Jacob
last name: Rees-Mogg

his full name is Jacob William Rees-Mogg so William would be his middle name

[2018-10-15 04:14] LakshSingla commented on #155
@spencermountain I would like to contribute towards this bugfix (in case this issue is still open) as my first contribution to this repository. Can you please give a brief overview of what needs to be done and how to accomplish it :smiley:

[2018-10-15 13:46] spencermountain commented on #155
hey @LakshSingla that's lovely, thank you.
yeah, there's a few things that need to happen.

1) 'and a half' (and whatever variants) should be tagged as a `Value`, so that they appear in the results of `doc.values()` - i think this may be working already, but worth playing around with. I'm thinking about `half a million` vs `four million and a half`, and so on...

2) The harder work is in the [pars

[2018-10-15 18:06] LakshSingla commented on #155
@spencermountain Regarding `and a half` issue here's what I suggest

| Syntax          | Semantics |
|:-----------------:|:------------------:|
| `\w+ and a? half\`          | Add half to the sum    |
| `\(some cardinal) and a? half (some multiple)\`| Add half to that cardinal and add to the sum after multiplying it with that multiple |

Are there are any more cases that we should consider? Or is

[2018-10-15 18:28] spencermountain commented on #155
great, yeah, the other variant i can think of is `"half a (multiple)" `→ `multiple/2`?

it's cool if you wanna just plow away at it, I'll merge whatever.
related tests are [here](https://github.com/spencermountain/compromise/blob/master/test/unit/subset/value/toNumber.test.js)
thanks!

[2018-10-15 18:39] LakshSingla commented on #155
Sure thing, is there a way to document it for general reference later on?

[2018-10-15 18:57] LakshSingla commented on #155
@spencermountain Till the time we are working on this issue, lets use my above comment as a place for documenting regarding this issue, as soon as I will make some substantial progress, I will update the tests and the docs. I have introduced `a? half` as a standalone identifier. Since I am new to this repo, will converting it into a value cause issue with other parts of the sentence like `half loa

[2018-10-15 19:08] spencermountain commented on #155
cool, okay.
i would do this, to guard against that usage, using the compromise match syntax:
[code]
you can put that anywhere in the tagger. I think i have some of it already [here](https://github.com/spencermountain/compromise/blob/master/src/tagger/steps/23-corrections.js#L73)

deeper into that parseText method, it's a string, so you'll need to do a regex for it

[2018-10-16 04:36] LakshSingla commented on #155
Alright, thanks a lot. I have written the logic for `^a? half$` and `\^w+ and a half$` (updated from `a? half` and `w+ and a? half$`, but have yet to test them. I figured a test driven development approach (TDD) would better in this case. Hence I will write the tests first. While I work on other functionality, it would be helpful if you review those cases and tell if they are inadequate or not.
PS

[2018-10-16 14:38] spencermountain commented on #155
hey @LakshSingla yeah sounds like you're doing the right thing. The parse method should receive a trimmed string, like you suspected.
If something is up, or there are some terms missing, you can look at [.values()](https://github.com/spencermountain/compromise/blob/master/src/subset/values/index.js#L124) to make sure the correct terms are being grabbed.
Other than that, I trust your judgement abou

[2018-10-17 03:01] LakshSingla commented on #155
Alright, thanks for your help. I will push the commit with reference to `a half` test cases today and mention it here in the comment. The current code for `a half` and related does not work and I suspect it may have something to do with `values()` you mentioned above. Also regarding `#1` it is working on values such as `seven and a half` or `seven eleven and a half` but failing on tests like `seve

[2018-10-17 03:28] LakshSingla commented on #155
Which subset of strings does [.values()](https://github.com/spencermountain/compromise/blob/master/src/subset/values/index.js#L124) recieve , i.e. what is `r`? I am presuming the full string. I don't see any splitting based on `half` containing words. Is it already implemented or should I implement it here. Why do some of the preliminary tests like `['seven eleven and a half', '7 11.5']`pass then

[2018-10-17 14:13] spencermountain commented on #155
yeah, `r` is a `Document` object. (I think it used to be called **Result**)
it's the same thing users will work with. You can see there's `splitOn` etc, methods [here](https://beta.observablehq.com/@spencermountain/compromise-api#Terms). Any of those should work.

[2018-10-19 05:32] LakshSingla commented on #155
@spencermountain Sorry for late response :disappointed: I am creating a PR for my progress till now, which isn't that much. I am only able to cover `#1` case. For standalone `half` or `a half`, the code is failing. It would be helpful if you can take a look over and tell where the problem might lie. Also, against which branch should I make a PR?

[2018-10-20 14:26] shamoons opened #532 "Is it possible to extract all questions from a piece of text?"
I tried:

[code]

but that yields `undefined`.

[2018-10-22 19:53] spencermountain commented on #155
cool, yeah a PR to master is fine,
don't worry about the failing edge-cases. That's fine, just comment-out that test.

[2018-10-22 19:57] spencermountain commented on #532
hi Shamoon, yeah this should work, it seems to work here:
https://runkit.com/spencermountain/5bce2b093b24aa0012be439d

can you find an example of a question it's missing?
cheers

[2018-10-25 14:16] #532 closed

[2018-10-25 14:18] shamoons opened #533 "False positive when detecting questions"
https://runkit.com/shamoons/false-positive-compromise

[code]

This is being detected as a question, when it is evidently not.

[2018-10-25 14:52] spencermountain commented on #533
nice find!
Relevant code is [here](https://github.com/spencermountain/compromise/blob/master/src/subset/sentences/isQuestion.js) if anyone wants to jump on this. Otherwise, happy to take a look

[2018-10-25 14:53] shamoons commented on #533
I'm on it

[2018-10-25 15:00] shamoons commented on #533
@spencermountain - when I `console.log` to debug, nothing prints out when running `yarn test`. Any tips?

[2018-10-25 15:53] spencermountain commented on #533
@shamoons oh right, i think that test-reporter disables them, you can see console logs if you do
 `yarn test:spec`
i should fix that...

[2018-10-25 20:45] spencermountain opened #535 "Tag Elipses"
[code]
they are stored as whitespace, so cannot be queried with regular expessions right now...

[2018-10-26 13:28] shamoons opened #536 "extra space in contraction"
https://runkit.com/shamoons/compromise-arbitrary-space

[code]

This results in `it doesn't  matter if i spoke at 4:40 p.m. or or if you submit well we're  going to do the processing.`

See the extra space added after `doesn't`

[2018-10-26 14:04] spencermountain commented on #536
good find!

[2018-10-29 15:25] #533 closed

[2018-10-29 15:41] spencermountain commented on #517
fixed in `11.12.2`

[2018-10-29 15:41] #517 closed

[2018-10-29 15:42] spencermountain commented on #536
got it, `11.12.2`.

[2018-10-29 15:42] #536 closed

[2018-11-03 08:07] SankarshanDudhate opened #541 "Debug() broken?"
Hi there,
   The latest build seems to have broken the debug() function. It gives all sorts of errors like "TypeError: Cannot read property 'TitleCase' of undefined" and other things related to tags. It definitely worked in some really old build (probably dated back to last year ;) but the new one just throws errors.

It doesn't seem to work on https://beta.observablehq.com/@spencermountain/compro

[2018-11-05 09:28] SankarshanDudhate opened #542 "'length' as Noun"
Hi again,
    Here's an example:

        var r = nlp( "It's length is good" );

        console.log( JSON.stringify( r.match("length").verbs().conjugate() ));

    It outputs:

[{"PastTense":"lengthed","PresentTense":"lengths","Infinitive":"length","Gerund":"lengthing","Ac...

    which is not correct. Also, the conjugates list should also include the noun form, don't you think?

   Regards,
Sank

[2018-11-05 14:35] spencermountain commented on #542
hi Sankarshan, yes I think you're correct.
In my opinion, `length` should be a noun, and shouldn't appear in `.verbs()` at all.
Does that make sense?

[2018-11-05 14:42] spencermountain commented on #541
hi Sankarshan, thanks for the issue.
I think there may be some confusion with that 'live editor'. It moves data around in some weird ways.
here's `.debug()` working as normal. It is not very useful on the client-side, right now ;(
https://runkit.com/spencermountain/5be055cd7fe3b10012e618d9

but the titlecase error is just an implementation of that observablehq.com demo
cheers!

[2018-11-05 14:42] #541 closed

[2018-11-06 10:52] SankarshanDudhate commented on #542
Yes that sounds okay to me... It'd also be great if  `conjuagte()` shows the Noun Form of the verb. But it's not a necessary thing.

[2018-11-06 14:15] spencermountain commented on #542
yeah, good idea.
i'll keep this open for the 'length' tagging issue
cheers

[2018-11-08 10:04] ildella opened #543 "look -> 'Lookined' in home page"
[code]
output -> "i lookined for Amanda Hugginkiss"
I tried this as is one of the examples [on the website](http://compromise.cool/)

[2018-11-08 14:18] spencermountain commented on #543
oops!
thanks Daniele, I should have caught that!

[2018-11-18 15:53] shamoons opened #544 "False positives for questions"
`I have one two, three, four five six properties, which came on the market in the month.`
`Probably the renovation right away from the amount of work, which has been done to the property.`
`I think that the number one quite comfortable looking at the two properties, which I'm working on now.`

https://runkit.com/shamoons/5be45bbe8a3ee40012f35943

[2018-11-19 13:57] spencermountain commented on #544
thanks, good find.

[2018-11-19 14:39] shamoons commented on #544
I can work on fixing these @spencermountain

[2018-11-28 04:08] compromizer opened #545 "toPositive() bug ?"
https://runkit.com/5bc948b3e9763f001279afdf/5bfe12a017db5c0012d9d14e

require("compromise") //11.12.3
nlp('Dear Miss Hoover, you do not have Lyme disease').verbs().toPositive().out()

// " do not have"

[2018-11-29 03:53] piepjaquet9 opened #546 "Support for named capture groups"
A suggestion for improvement would be to support named capture groups like below

var groups1 = nlp("flight from Paris to San Francisco").match("flight from [from=#city] to [to=#city]").groups(); // {from: "Paris", to: "San Francisco"}
var groups2 = nlp("flight to San Francisco from Paris").match("flight to [to=#city] from [from=#city]").groups(); // {from: "Paris", to: "San Francisco"}

[2018-11-29 14:46] spencermountain commented on #546
hi phil, yeah I like that oo

[2018-11-30 01:25] juheeuu opened #547 "nlp() collapses number sentences."
Hello, I have some problem,
Here's an example:

    var testText = nlp( "hello. 1234." );

    console.log(testText.terms().data());

I want to get `["hello.", "1234."]`,
But I the result is just `["hello."]`.

How can I resolve this problem?
I'm very happy if you resolved this problem :)

Thank you!
Juheeuu

[2018-11-30 13:54] spencermountain commented on #547
hi juhee! Yes, good find.
I am happy to look at this problem.
thanks

[2018-12-03 13:46] bugs181 opened #548 "#NickName is not being tagged"
Compromise version: `11.12.3`
Node version: `v11.0.0`

According to line `6928`

     // Dwayne 'the rock' Johnson
    ts.match('#FirstName [#Determiner? #Noun] #LastName').tag('#NickName', 'first-noun-last').tag('#Person', 'first-noun-last');

This should tag "The Rock" as a NickName.

Code:

    const doc = nlp('Dwayne “The Rock” Johnson')
    doc
     .normalize({ honorifics: true })
     .peop

[2018-12-03 17:38] spencermountain commented on #548
isn't it "rock 'the dwayne' johnson"? ;)

yeah, thanks. looks like the quoted part is getting tagged as as 'LastName', which is making it confused.

I'll take a look.
cheers

[2018-12-03 19:59] bugs181 commented on #548
A potential fix could be to maybe check if it has `#StartQuotation` or `#EndQuotation' tags and remove the quotes? I was thinking the `.normalize` function would do this but I'm not really sure what that does.

[2018-12-04 03:42] spencermountain commented on #545
oh yeah, this one is another case of transitive `.replace`.
will be addressed in version 12.

[2018-12-04 03:57] themaincharacter opened #549 "out('tag') multi word nouns"
Having trouble getting compromise to output the tags of a multi word noun.
EX:
[code]
yields:
[code]
expected:
[code]

I realize this may be a strange use case but I am in a situation where I need to get the other tags from all nouns in a given sentence.
Like this:
[code]

[2018-12-04 04:30] #543 closed

[2018-12-04 04:31] spencermountain commented on #544
got it fixed in `11.12.4`

[2018-12-04 04:31] #544 closed

[2018-12-04 04:31] spencermountain commented on #547
hi, this should be fixed in `11.12.4`
thank you

[2018-12-04 04:31] #547 closed

[2018-12-04 04:31] spencermountain commented on #543
got it fixed in `11.12.4`
thanks

[2018-12-04 13:44] spencermountain commented on #549
hi @themaincharacter yeah, this is a awkward situation. I'm trying to redesign the `.out()` methods in a future version that would improve this.

The good news is the information is there, and you can shape it manually with `.map`:
[code]
this is sneaky because it's reaching into the internal api, but that's how i'd do it.
cheers

[2018-12-04 13:44] #549 closed

[2018-12-04 17:06] kwhitaker opened #551 "output of `.nouns` different when the `nlp` call is assigned to a variable"
compromise version: `11.12.3`
node version: `8.11.3`

The following code behaves oddly, or I don't understand the API:

[code]

`finalStr` returns `man cats` instead of `a man and 3 cats`.

However, if I just do:

[code]

It works like I need it to.

Thanks

[2018-12-04 18:55] kwhitaker commented on #551
To be clear, I'm looking for a way to accomplish the "a man and 3 cats" output, so if there's a different thing I should be doing, I'm happy to do so :)

[2018-12-04 19:47] spencermountain commented on #551
yeah, i think this is behaving as expected, apologies if it's unclear.

`.nouns()` grabs a specifc section of the document, in this case `['man', 'cats']`
using `.out('normal')` concatenates both results into a string, which is awkward in this case.

am working on a new version of this output api, any recommendations welcome.

[2018-12-04 19:47] #551 closed

[2018-12-06 00:46] themaincharacter commented on #549
@spencermountain Thanks for your response!

Sorry to bring this up after its been closed but I just wanted to clarify. Currently, there is no way to get metadata associated with multi-word nouns.

Meaning, using our previous example, there is no way where I can give it "red sea" and it will return noun or any other tag I may enter for it. It will always break red sea into "red" and "sea" and give

[2018-12-06 14:43] spencermountain commented on #549
hey @themaincharacter yeah, you can get all the metadata from the various output methods, which are documented [here](https://beta.observablehq.com/@spencermountain/compromise-output).

if there isn't a good fit for your purposes, you can always do a `.nouns().map(m=> m.metafoobar)` and grab whatever you want
cheers

[2018-12-07 14:22] Blitz3r123 opened #552 "fn is not a function"
When trying to implement the following code:
[code]
I get the following error:

[code]

I am using version 11.12.4.

[2018-12-07 15:55] spencermountain commented on #552
hey @Blitz3r123 yeah, you need to pass a function into map.
I guess we could guard against it, but it is a required param
cheers

[2018-12-07 15:55] #552 closed

[2018-12-09 19:13] Blitz3r123 commented on #552
Hey @spencermountain, what kind of function do I have to pass? With what parameters? Where can I find the documentation for this function if possible please?
Thanks

[2018-12-10 13:51] spencermountain commented on #552
it's the same as the javascript [Array.map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map). it looks through each result, and returns the value.

[2018-12-10 13:54] Blitz3r123 commented on #552
Makes sense. Thanks a lot for the help!

[2018-12-11 13:26] giorgio79 opened #553 "Tokenization - does not show punctuation as separate token"
Noticed that Compromise does not add punctuation to tokens after tokenization. Example at https://runkit.com/giorgio79/5c0fb8f56120e10016f0c2aa
Most tokenizers show them as separate tokens.

![image](https://user-images.githubusercontent.com/283347/49803668-c179dc00-fd50-11e8-9d8d-db4d7329bdcd.png)

[2018-12-13 13:49] spencermountain commented on #553
yeah, that was a design decision.
Upcoming versions have a different understanding of whitespace/punctuation, but for now you can call `.whitespace()` on any result to get the punctuation, etc.

I like that example because `10 : 00 a.m.?` should be merged together into maybe one token.
cheers

[2018-12-19 15:01] spencermountain opened #554 "client-side debug() error"
from slack:

Hi, I notice that whenever I use the debug function like `doc.debug();` I get an undefined error. I download the uncompressed library (working from the web) and it said `TypeError: tagset is undefined`

I tried it with both using my plugin and without.

[2018-12-20 10:17] SankarshanDudhate commented on #554
I have the same problem... Can you please look into it?

[2018-12-20 13:40] spencermountain commented on #554
yeah, for the time-being, you can run `console.log(doc.out('tags'))` for similar functionality.
may not get a compromise release out before christmas.

[2018-12-26 04:34] zzj0402 opened #555 "String part of speech error"
I am a deep learning specialist developing a chrome extension with PoS tagging. The string "string" is mistakenly categorized as verb. I would love to contribute on it if it just an neural network error.
![image](https://user-images.githubusercontent.com/15345547/50432114-9a073f80-090a-11e9-9f5a-45ace83b9e4f.png)

[2019-01-02 03:02] chengxianga2008 opened #556 "tag cheered/guarded"
Jack talked for his achievement
"talked" detect as verb
Jack cheered for his achievement
"cheered" detect as person name
Jack guarded for his achievement
"guarded" detect as adjective

Why this happen
How should I fix that?
In desperate need your help.
Thx

[2019-01-02 14:00] spencermountain commented on #556
hey Jack, 'talked' is supposed to be a verb in that sentence, in my opinion.

cheered and guarded have both been mis-tagged, you can [add a custom lexicon](https://github.com/spencermountain/compromise/wiki/Lexicon) to fix it.

cheers

[2019-01-03 05:00] chengxianga2008 commented on #556
thx for the reply, i have added custom verb

[2019-01-05 10:39] ohtangza opened #557 "Commas in whitespcae"
[code]

I think it should be one of either case: 1) the 4th element should be`'"Square'`, or 2) the fifth element should be `Up`. As far as I know, this library's `text` property is designed to include`,`, `"`, '`' (https://github.com/spencermountain/compromise/blob/master/src/text/methods/normalize.js#L22). So, I believe it should have been the former case.

(Btw, is it correct that `spaceBefore`

[2019-01-05 16:14] spencermountain commented on #557
hi Jeungmin, yeah you're right. Something's up. I recently (in november?) changed how this works, and am not sure that was a good idea.

I've since started an over-ambitious whitespace/punctuation re-write on the dev branch, but it's gonna be a while before it's ready to roll.

I'll take a look today.

[2019-01-05 17:10] spencermountain commented on #553
hey, it's pretty weird, but this is how i'd parse-out all whitespace/punctuation in compromise right now.
[code]
I know that's not ideal. You can do any kind of ad-hoc work on the information like that.

i'm tempted to improve this, but it's getting a big overhaul [in the next major](https://github.com/spencermountain/compromise/tree/linked-list).

thanks

[2019-01-05 17:10] #553 closed

[2019-01-05 17:32] spencermountain commented on #556
fixed in `11.12.5`
cheers

[2019-01-05 17:32] #556 closed

[2019-01-05 17:32] spencermountain commented on #555
hey 张梓径, fixed this in `11.12.5`
cheers

[2019-01-05 17:32] #555 closed

[2019-01-05 17:32] spencermountain commented on #557
fixed in 11.12.5

[2019-01-05 19:05] spencermountain commented on #554
fixed in 11.12.6, cheers

[2019-01-05 19:05] #554 closed

[2019-01-06 05:57] ohtangza commented on #557
@spencermountain Thanks for your response. I have one question. It seems that `text` prop contains comma `,` symbol. Is it intended behavior, or are you expecting any update on this in the future? My product heavily relies on this library, so I'm interested in the following updates.

[2019-01-06 17:39] spencermountain commented on #557
oh, right this is a bug.

what would be the best solution for your product?
i think anything non-word, including a comma, should be in 'whitespace', or a similarly-named field.

[2019-01-06 23:40] ohtangza commented on #557
@spencermountain I'm pretty okay for any options defined correctly. I think our devs also expect a similar direction. I think non-word info is parsed into `spaceBefore` and `spaceAfter` would be fine in the current implementation.

The only thing that could mislead devs is the word `space` because this word reminds devs of the term,  "white**space**" like ` `, `\n`, `\t`... But considering the bac

[2019-01-08 20:08] g3kr opened #558 "Time measure units returning null"
Any time measure in the singular format returns 'null' unit

last 1 day
last 1 year
last 1 minute
last 1 hour

Code:
[code]

Output
[code]

I would expect it to return years or year. Is this expected?

[2019-01-08 20:49] spencermountain commented on #558
hey @g3kr, yeah you're right.
The unit thing is pretty half-baked to be honest, and needs some major re-thinking.
it also clashes like this, with dates.
future versions of compromise I think, should address this in a much different way.

[2019-01-08 21:18] g3kr commented on #558
Thanks for the quick response. Is this something that would be easy to add for the time-being or you are thinking about a whole different approach?

I can see that other units like weight, behaves as expected. `nlp('1 gram').values().data()` can classify the gram as unit.

[2019-01-08 21:48] spencermountain commented on #558
yeah, been [working on a full re-write](https://github.com/spencermountain/compromise/tree/linked-list) and a [separate date-parsing library](https://github.com/spencermountain/half-past)

neither is ready, and will take a few months.

[2019-01-08 23:30] spencermountain commented on #558
oh i'm wrong, i think this is an issue about the singular noun.

[code]

[2019-01-09 18:02] g3kr commented on #558
Thanks for taking a look.

This works for `1 year` or `1 day`. However if you mistyped `5 day` instead of `5 days` it seems to break. Is this expected?

[2019-01-14 22:13] q-kirill opened #559 "nlp.sentences (or just nlp) produces wrong dot at the end"
I'm getting such strange response when there is a whitespace in between sentence and dot.

`nlp('Once or twice .').text() // "Once or twice . ."`

The same when:

`nlp('Once or twice .').sentences().text() // "Once or twice . ."`

Is it a bug or such behaviour is correct for some reason?

[2019-01-15 12:49] Berkmann18 opened #560 "Capturing plural and singular words"
# What I'm a trying to do?
Parsing comments like `@AllContributorsBot please add Berkmann18 for docs, tests and code` and getting something like this:
[code]

Here's the code for the for the comment parser which uses `compromise`:
[code]

# What is the issue?
Sometimes people might write a `#Contribution` in plural form (e.g: `docs`, `usersTesting`, `tests`) and so far none of the approaches I too

[2019-01-15 14:59] Berkmann18 commented on #560
Also, words like `tests` aren't changed when normalised to singular (possibly because it's only considered as a verb when it's also a noun).

[2019-01-16 16:46] spencermountain commented on #560
hey @Berkmann18 yeah, i would just add the plural forms to the contribution types. You figure it's faster to inflect each of those once, than to inflect every noun in your document.

if tests, etc doesn't inflect, it's probably because it's being tagged as a verb. you can co-erce each term by doing `nlp(word).tag('Singular').nouns().toPlural()`
cheers

[2019-01-16 16:46] #560 closed

[2019-01-16 16:54] Berkmann18 commented on #560
Hey @spencermountain, thank you for your reply, so there's *no way* to do this using `compromise` without manually using a RegExp `match` & `replace` or an `Array.map` based approach like I mentioned [here](https://github.com/all-contributors/all-contributors-bot/issues/15#issuecomment-453505986)?

[2019-01-16 17:05] spencermountain commented on #560
in earlier versions we inflected and conjugated all the words to heavily-normalized forms, (like contribution -> contribute) but it was too slow (understandably).

it's much easier to decide what you're looking for first, then find it. I'd blast-out all forms of contribute that you want, then do a .match()

no regex should be needed!

[2019-01-16 17:59] Berkmann18 commented on #560
Okay, because the projects I'm working might need to handle a flexible way in which someone would associate a person with a set of contribution types (some who may write it entirely or partially, in plural or in singular).

[2019-01-24 11:41] zzj0402 commented on #559
Don't seem like an issue here.
[code]

[2019-01-28 15:48] q-kirill commented on #559
Thanks @zzj0402 , the problem seems resolved in the latest 11.13.0 version.

[2019-01-28 15:48] #559 closed

[2019-01-28 16:25] sebastiankr opened #561 "infinite looping / freeze"
The following string 'crashes' nlp().
Background: This is from a table of contends in a scanned and OCR'ed document.

"2   DETAILED FINDINGS AND RECOMMENDATIONS......................................................7"

It works, when there is a space between the dots and the page number.

awesome lib!

[2019-01-28 19:54] spencermountain commented on #561
you found it!
thanks Sebastian.
this is a dupe of #511 and is a gross regex i wrote, then couldn't figure-out how to fix.
I'll close this, but maybe I should hotfix 511.
There's a big rewrite of some of this stuff, it's a few weeks away though
cheers!

[2019-01-28 19:54] #561 closed

[2019-02-02 22:07] ninesalt opened #562 "Cannot read "found" of undefined"
I'm trying to find the conjugation of the verbs in the below sentence but I'm getting an error saying:

[code]

Why is this happening?
PS: Node v8.12, compromise v11.13

[2019-02-04 19:34] spencermountain commented on #562
yikes! thanks @ninesalt  - been a long time since we've had a runtime error.
fixed in `11.13.1`

[2019-02-04 19:34] #562 closed

[2019-02-04 20:36] ninesalt commented on #562
Do you have an ETA on the release?

[2019-02-05 09:39] ninesalt opened #563 "Missing API selectors"
I've noticed the API doesn't have selectors for a lot of the available tags/POS. For example you cant do `nlp(sentence).prepositions().out()` , or conjunctions, etc. To find the POS without API selectors, I had to do it in a kind of dirty way by just getting all the tagdss, using `out('tags')` and then filtering based on what I want. So I think adding the missing selectors is pretty useful.

Is th

[2019-02-05 20:50] ninesalt commented on #563
Cool, I'd like to be involved. We should have a dev plan or something so you're not planning/doing everything yourself.

[2019-02-05 20:55] AurielleP opened #564 "Add option to respect Casing of text - match pattern 'CA' only would match 'CA' and not 'ca'"
Would be really helpful to add an additional option to respect true casing.

Meaning that i could add a pattern with a custom tag name (through a plugin or similar) such as:

`'FL': 'UsState'`

that would flag `Orlando, FL` as having a `#UsState` tag but would `not` flag `Found on the 2nd fl` as a having a `#UsState` tag

[2019-02-10 02:29] oaguy1 opened #565 "Coreference Detection"
Hello! I am looking into using [coreference resolution](https://nlp.stanford.edu/projects/coref.shtml) in a project I am working. There exist a [reasonably easy](https://onlinelibrary.wiley.com/doi/abs/10.1207/s15516709cog0301_4) (read: does not require a neural network and training) algorithm to do just this and I was thinking of adding it to this library. I read the contributing guide and wanted

[2019-02-10 02:33] oaguy1 commented on #565
A simpler explanation and sample implementation of the algorithm I mentioned can be found [here](https://github.com/cmward/hobbs).

[2019-02-11 13:59] spencermountain opened #567 "normalize titlecase for pronouns"
`nlp('i worked at google').normalize().text() //'I worked at Google.'`
https://github.com/spencermountain/compromise/blob/master/src/text/methods/normalize.js#L47
probably a breaking change, for v12

[2019-02-11 17:30] spencermountain commented on #565
YESSSSS
go for it!
any ideas about how you'd like to handle the api for it? I'd be happy to help.

something like this?
[code]
something like that?
there is a term-id property, (i think) that you could use, too.
anyways, yeah. sounds great. go for it!

[2019-02-11 17:45] spencermountain commented on #565
it may be desirable too, to actually fetch the reference word(s), so that people can do whatever they want to the results, like replace them or something.

The only tricky-part i can imagine is tracking-down the reference word(s), and packing them into a Text object, so that a person can do `doc.match('#Vegetable').nouns().references().match('#whatever').toUpperCase()`... and so on.
This could get

[2019-02-12 18:12] oaguy1 commented on #565
Glad you are excited! The algorithm I linked to can track down the the references of the pronouns in a manner that is right most of the time (80%).

The way I was thinking about approaching this was adding an additional tagging step where we looked at each of the pronouns and then use Hobbs’ algorithm to find the best guess at the antecedent. With that in mind, my initial plan for the API was some

[2019-02-12 21:51] spencermountain commented on #565
yeah cool!
to make it feel like the other methods, i'd do it like this
[code]
either way, happy to see this in-action, then we can shove it around after.

been thinking past few weeks about breaking-up compromise into more micro-libraries, like d3 did. If we end up doing that, this work will end-up in a named-entity-plugin, or something like that
(just a heads-up)
thanks, lemme know if I can help

[2019-02-22 01:36] oaguy1 commented on #565
Sounds good! I definitely want to try to keep the API as close to the rest of the library as possible. I am hacking on this when I have time, but still won't have much to share for a while. Once I have a good working MVP with tests I will make a PR and we can really play with it.

[2019-02-27 21:50] moberemk opened #568 "Unclear how to convert present tense verb to past participle"
So, I'm trying to figure out how to normalize user data to use as part of our interface. One example I'm having particular trouble with is one example, where the user would enter "take a shower" as their text.

Ideally, I want to convert this to a question ("Have you taken a shower?") but I'm not clear on how to convert "take" to its past participle "taken" in this context. Some practical examples

[2019-02-27 22:23] spencermountain commented on #568
hey mark, sounds like a neat project.
yeah, this is cool, and should be doable with compromise.

yeah - `toQuestion` is a little nutty. I remember that really doing my head in.
The good news is that we kind of conjugate participles already, it looks like we're missing [the "take" exception](https://github.com/spencermountain/compromise/blob/cd6910d3ac5a66cec53c30b77c4a2f094207837a/data/conjugation

[2019-02-28 16:34] moberemk commented on #568
Oh that's awesome! I'll definitely play around with it, though I do worry about if it's only applicable for sentences with that specific "[verb] [article] [noun]" or "[verb] [...phrase] [ noun]" patterns. Might need to write a guard for this to only be called in those cases to make sure it works reliably.

Appreciate the quick help with this! Does the change in name suggest that this is behavior t

[2019-02-28 16:38] spencermountain commented on #568
yeah, I was wondering last night why we don't have a `toParticle()` method, like the other conjugations. I guess it's because so-few verbs require it. I'm also not sure why 'take' didn't have that form.

if you can figure-out a way to improve `toQuestion`, please do a PR!

[2019-02-28 18:39] moberemk commented on #568
I actually might do that for "taken" since that's one gap that I'm running in to now. Is that kind of change just adding a new form in the conjugations file, around [here](https://github.com/spencermountain/compromise/blob/de152cb78fa6b17d86a2e32d6d3cdfddfa59944d/data/conjugations.js#L6)?

[2019-02-28 18:48] spencermountain commented on #568
yup!

[2019-03-02 16:07] h3rald opened #570 "fix lump() docs"
I tried to use the lump method to group together terms with the same tag, but I can't get it to work.

I even tried to run just the example in the wiki and on the site, and they don't seem to do anything. What am I missing?

[2019-03-04 15:10] spencermountain commented on #570
hi @h3rald i'm not sure i understand, can you provide an example?
Lump is really just meant to combine two neighbouring words into one. If you want a string with all nouns or something, I suggest doing `doc.match('#Noun').out('array').join(' ')`

[2019-03-04 22:41] h3rald commented on #570
I tried running something similar to the example you have on compromise.cool:

[code]

And it just didn't work as expected... didn't do anything in fact.

[2019-03-05 15:03] spencermountain commented on #570
good point, that looks like a bug.
thanks

[2019-03-06 15:08] h3rald commented on #570
Actually it looks like a documentation issue: I had a look at the tests and the method works perfectly, then I noticed that you need to specify a + (match one or more #Person)... so the example should actually be this:

[code]

[2019-03-06 15:22] spencermountain commented on #570
ah, thank you!
will leave this open so I fix the docs.
cheers

[2019-03-06 20:05] moberemk opened #571 "replace() function doesn't replace specified text"
As a continuation of the project I referenced in #568 I've been trying to improve handling for certain input types. For the current case, I'm trying to convert nouns that can also be verbs into past tense verbs, but the replace() function doesn't seem to work in this case when I would expect it to.

[code]

The current code that I've been using to test looks like this; not all examples are working

[2019-03-07 17:35] oaguy1 commented on #565
@spencermountain As part of the algorithm I am implementing, I am trying to start from an individual Term (an instance of a pronoun) and then move to the previous Term in the sentence to see if it matches some criteria. Once the beginning of the sentence is reached, the "previous" term would the last Term in the previous sentence. It would also be good to know if the previous term came from anothe

[2019-03-07 17:41] spencermountain commented on #565
hey David, yeah you may want to just use the internal arrays of sentences, and terms.
[code]
we don't have any support for paragraphs (right now)

[2019-03-08 01:41] oaguy1 commented on #565
That is helpful, thank you so much for responding so quickly.

I was thinking, if you only have sentences of terms, how do you feel about adding some sort of index to the Term objects, so they are aware of their position within the document? I could add this during the build process, an attribute named something like `refPosition` with a two item length array `[index of sentence, index of term]`.

[2019-03-08 14:28] spencermountain commented on #571
hey Mark, sorry, I've got a cold this week, and haven't had a chance to look through this issue.

if I understand, the only problem is `shower -> showered`?

can you simplify the issue for me?

`.replace()` is pretty buggy. That's part of the reason i've started a large v12 re-write.
sometimes I have better luck using `.replaceWith(match, string)`, or using the returned value.
cheers

[2019-03-08 14:42] spencermountain commented on #565
hey David, yeah this has been the hard-part of making compromise, that 'position within the document' changes considerably, and depends on where the user is zooming-in, cloning, etc.

I've started working on a major re-write, for v12, that you may be interested in, [over here](https://github.com/spencermountain/compromise/tree/linked-list). It uses a linked-list model, so references, and indexes a

[2019-03-08 16:41] oaguy1 commented on #565
That would be a great stop-gap between APIs and a good place to get the
algorithm down before (possibly) adding it to the full lib. If it would be
easier to implement the paper in the new API, I am happy to lend a hand to
speed that along, too.

Thank you for all the help so far! It is nice to have a positive
contribution experience on such a cool project.

On Fri, Mar 8, 2019 at 09:42 spencer kel

[2019-03-08 17:09] moberemk commented on #571
No worries about the delay man, I always appreciate your answers--no rush.

The core issue I'm running in to is that shower doesn't get replaced with "showered" in the text. You can run this script to test it; shower is the only case where it breaks, which is why I was focusing on it.

I'll give it a try with `replaceWith` after I get back from lunch, see if that makes a difference!

[2019-03-11 20:13] moberemk commented on #571
So I made the following edits to the code:

[code]

and those debug calls, strangely, return the following:

[code]

am I using the `replaceWith` function wrong here?

[2019-03-11 20:42] spencermountain commented on #571
oh hey, it's much simpler than i had suggested - 'shower' is being tagged as a noun, in the last example, that's why it isn't being replaced.

You can add it as a lexicon like this `nlp(action, {shower:'Infinitive'})`
and that will get the example working - but mistag the 'take a shower' example.

this is a gross solution, that I can't believe I just wrote:
[code]
cheers

[2019-03-11 20:58] moberemk commented on #571
Oh, interesting; that does raise two questions for me though.

1. I'm still not clear on why it changes between `debug()` calls, since it seems to modify the the word but then suddenly it changes in the next call. Does the `replaceWith` call not mutate the original object?
2. Instead of writing that `posttag` function, couldn't I change the bit where it tags the first noun of the sentence as a ver

[2019-03-11 22:23] spencermountain commented on #565
hey, i've added you to a basic version of this [here](https://github.com/nlp-compromise/compromise-coreference).
take it for a ride - feel free to commit directly to it, it's pretty-rough!
cheers

[2019-03-11 22:25] oaguy1 commented on #565
Awesome, thanks!

On Mon, Mar 11, 2019 at 18:23 spencer kelly <notifications@github.com>
wrote:

[2019-03-12 23:31] lawrencenull opened #572 "3 Tagging issues for .topics()"
I discovered this library Friday and have been playing with it over the weekend. It is a fantastic piece of programming, I have been trying it using Wikipedia snippets for entity parsing and noticed something.

_Example 1_
Elizabeth Woolridge Grant (born June 21, 1985), known professionally as Lana Del Rey, is an American singer, songwriter, record producer, poet, model, and ...

Lana Del Rey - Wi

[2019-03-13 21:18] spencermountain commented on #571
yeah, there's a serious issue with mutability, that effects `.replace`. I wouldn't be surprised if you've run into it.

2) yeah, of course you can tag things however you'd like!

gonna close this for now, am working on this replace issue for v12, but it's a while out, still
thanks

[2019-03-13 21:18] #571 closed

[2019-03-13 21:30] spencermountain commented on #572
whoa, yeah, good examples. we should definitely catch those issues:

1) `san bruno, california` - 'bruno' catches MaleName
2) missed `PayPal` as Organization
3) `Lana Del Ray` - should be #first, #last #last.

if you're playing around, and want to change the results, you can also add something like this:
[code]

[2019-03-14 00:01] torava opened #573 "NER threshold"
Some libraries like node-nlp allow defining detection threshold for NER. For instance spederman can be matched as spiderman. Is it possible in compromise because in some cases it can be too strict?

[2019-03-14 11:20] oaguy1 commented on #565
Also, have you considered a tree structure over a linked list? That seems
to be the data structure that many nlp libs use and makes adding additional
depths (paragraphs, etc) and exact document position more doable.

On Mon, Mar 11, 2019 at 18:25 David Hughes-Robinson <oaguy1@gmail.com>
wrote:

[2019-03-14 13:13] spencermountain commented on #573
hi @torava yes, we make the assumption that the text is always correct.
maybe this should be added to the docs somewhere.
`.topics()` will return only people+places+organizations.

[2019-03-14 13:13] #573 closed

[2019-03-14 13:14] spencermountain commented on #565
i'd love to hear more about this idea, how do you imagine it working?

[2019-03-14 13:51] oaguy1 commented on #565
Would love to discuss. I created a slack channel so we can go back and
forth without polluting this issue.

https://join.slack.com/t/compromisenlp/shared_invite/enQtNTc2ODQ1NTU4OTk0LTY2ODZkMWNhMzY0N2U2MTM5MTM0NTRmM2I1NDAwZmM0OWJkMTNlYjE0OTIyMDllZDZkNGE4Y2ZiZTIyYTg1Nzg

On Thu, Mar 14, 2019 at 09:14 spencer kelly <notifications@github.com>
wrote:

[2019-03-14 14:08] spencermountain commented on #565
wanna just join the [existing slack group](https://slackin-kyzvclgjlg.now.sh/)?

[2019-03-14 14:09] oaguy1 commented on #565
Yes! I will delete the group I created (should have searched first)

On Thu, Mar 14, 2019 at 10:08 spencer kelly <notifications@github.com>
wrote:

[2019-03-14 14:30] spencermountain commented on #570
fixed in docs on dev
thanks

[2019-03-14 14:30] #570 closed

[2019-03-14 15:43] moberemk commented on #571
Sounds good; if there's any way I could help improve the `replace()` function to speed along that release (maybe written up in an issue somewhere?) I'd be happy to take a look!

[2019-03-16 23:00] Jun711 opened #575 "Infinite looping with this chunk of text after version 11.9.0"
Thank you for the great nlp package, Spencer. I hope it stays awesome so I should report this issue that I found with the latest releases.

## Issue
When text from the attached text document pasted into nlp function, it seems to be running into an infinite loop with version 11.13 which I installed via npm. I pasted the same text onto the demo site. https://observablehq.com/@spencermountain/comprom

[2019-03-18 14:52] spencermountain commented on #575
hey @Jun711 thanks so much for filing this bug.
I'm afraid it's a [known issue](https://github.com/spencermountain/compromise/issues/511) with a badly-written regex, triggered by a sequence of periods after a word, without a space in between - like your example illustrates perfectly.

I've started a full-rewrite of the punctuation/whitespace parser for v12, so it will be fixed in that release (pro

[2019-03-18 14:52] #575 closed

[2019-03-19 23:58] zzj0402 commented on #555
Now it returns:
[code]

[2019-03-20 14:44] spencermountain commented on #555
hey @zzj0402 i'm not sure what that output is,
this looks good to me https://runkit.com/spencermountain/5c9251c1e7e3bc0014a2881d

[2019-03-25 08:59] baraklevy20 opened #576 "Root output does not work"
It seems like root output isn't working.
`nlp('He ate the eggs.').out('root')` prints `he ate the eggs`.

[2019-03-26 16:08] spencermountain commented on #576
hi @baraklevy20, what were you expecting?
thanks

[2019-03-27 13:47] ismailismail opened #577 "How to get tense of a sentence"
How can I get tense of given sentence? is it possible?

Examples:
I work in a bank
I don't work in a bank
["present","simple"]

Examples:
She's cooking
She's not cooking
Is she working
["present","progressive"]

Examples:
I cooked
I didn't cook
What did you cook?
["past","simple"]

[2019-03-27 14:10] spencermountain commented on #577
hey @ismailismail yeah you should be able to do this with a bit of work and some patience.
It's not a buiilt-in feature of compromise, but we can identify the tense of verbs, and you could figure-out the 'main verb' of a sentence, without too much trouble.
this should get you started:
https://runkit.com/spencermountain/5c9b83a5fed9150012f510b4
cheers

[2019-03-27 14:10] #577 closed

[2019-03-29 07:38] bmestanov opened #578 "Title-case adjective tagged as noun"
Hi, I noticed a behavior I think is strange. See examples:

[code]

Which is OK. But when the adjective is in title-case:

[code]

What seems odd to me is that the `toLowerCase` transformation does not change anything.

[code]

Thanks!

[2019-03-29 13:51] spencermountain commented on #578
thanks Bilyal!
that looks for sure like a bug.
will check it out.

[2019-03-29 15:58] raibosome opened #579 "Replace all verbs with infinitive"
Hi! Loving this library. What's the most elegant way to replace all verbs with their infinitives?

[2019-03-29 16:02] spencermountain commented on #579
hi Remy,
[code]
https://runkit.com/spencermountain/5c9e415be9aff200126b7cfd
cheers

[2019-03-29 16:02] #579 closed

[2019-03-29 17:35] raibosome opened #580 "Regex replace part of a match"
Hi, I'd like to remove part of a regex match. For the sentence `I am happy`, I hope to be able to do

[code]

keeping the adjective and removing the 'is' to get `I happy`. Is this possible, or is there a workaround?

For reference:

[code]

[2019-03-29 18:05] spencermountain commented on #580
hey remy, yes this is possible
https://runkit.com/spencermountain/5c9e5e04b47db80012544ad7

please read the documentation!

[2019-03-29 18:05] #580 closed

[2019-03-31 04:02] zzj0402 opened #581 "Client-side chrome extension compromise loading"
[code]

[code]
I am trying to integrate Compromise into my extension but the client-side loading script seems not working properly. Any clue?

[2019-04-01 08:24] scagood commented on #581
The issue here is that you're not waiting for the library to load 😄.

You would change your code like this:
[code]

I've just thrown together an example loading script here:
[code]

Usage (callback):
[code]

Usage (promises):
[code]

[2019-04-01 09:11] zzj0402 commented on #581
[code]

[2019-04-01 09:22] scagood commented on #581
Can you try adding the onerror event to see if there is something else going on?:
[code]

If that does not help can you try loading a specific version, for example:
[code]

[2019-04-01 09:32] scagood commented on #581
Wait a second this is a chrome extension. Right?
What point are you trying to inject this script, in a target web page or the isolated world (settings/context pages)?

[2019-04-01 09:47] zzj0402 commented on #581
It is for a chrome extension. I am not deliberately trying to make a point as you suggest. I just don't how to inject the library into a web page, not the isolated world. I tried the other asynchronous approach you kindly given, but it yields the same error.

[2019-04-01 09:48] zzj0402 commented on #581
I am trying to load the nlp engine on a webpage so that I can PoS tagging texts.

[2019-04-01 10:19] scagood commented on #581
`What point are you` means `When in the script are you` 😄

This means you're probably looking for something like this:
`BackgroundPage.js`:
[code]
`InjectedPage.js`:
[code]

[2019-04-01 10:21] scagood commented on #581
Either way this is not a compromise issue 🤔

[2019-04-01 14:49] spencermountain commented on #581
thank you Sebastian

[2019-04-01 14:49] #581 closed

[2019-04-07 07:55] remykarem opened #582 "Appending words to questions"
I am trying to do append words using `.append()` to sentences which are questions but I couldn't find anywhere in the docs or API that can do this.

Using `.insertAt()` works, but this does not move the question mark correctly.

[2019-04-07 15:34] spencermountain commented on #582
hi Remy, yes you're right - the `Sentence` class overwrites the `.append()/insert` methods with some extra love. I don't remember how well it does though.

[code]

[2019-04-09 07:26] raibosome commented on #582
Hey @spencermountain I figured a workaround for this.

[code]

Not so elegant but works for me for now.

[2019-04-09 11:20] scagood commented on #582
I'd guess that this works:
[code]

From https://observablehq.com/@spencermountain/compromise-api
(I'll note I have not tried this 👀)

[2019-04-10 07:10] raibosome commented on #582
Hi @scagood. This throws an error:

[code]

[2019-04-10 07:28] scagood commented on #582
[Somethings have been commented](https://github.com/spencermountain/compromise/commit/14d3bba2cf336cc678bb93b841745b390b07f069) out, I'll need to do some more investigation to work this out 🤔

[2019-04-10 16:06] spencermountain commented on #582
yeah, sorry. `isQuestion` returns a generic object, and not a Sentence object.
I think you'll have to call `sentences()` again afterwards (not a big deal)

`doc.sentences().isQuestion().sentences().append()`.

[2019-04-10 16:16] scagood commented on #582
@spencermountain that returns `Hey there to a question. Can I append a word to a question?`

I just did some testing and found this to work 🤔 but it's not to elegant
[code]

[2019-04-20 12:05] elliot-nelson commented on #499
This is a good description of what I came here to describe, so I'll just give it a plus one.

Where I see it is usually a sentence like `The maid should open closed doors` ("open closed" is parsed as "<Adjective> <PastTense Verb>", when I really want "<Verb> <Adjective>").

[2019-04-20 12:15] elliot-nelson opened #583 "Support for slashed verbs"
I've noticed that something funny happens with slashed (choice) verbs like "approve/deny" or "open/close".

For example: `nlp("The manager will approve/deny your request").debug()` returns the verbs I'd expect, but following up with `.verbs().toPresentTense().all().out()` returns the truncated string `The manager denies your request.`.  What I would hope to get back is `The manager approves/denies

[2019-04-22 18:15] spencermountain commented on #583
hey Elliot, this is a great point. Thank you.

Yeah, the issue is in the verb-phrase grouping. Phrases like `would not walk` are grouped together as one verb, when they're conjugated and things.
When there is a slash, they shouldn't be grouped together.
[code]
This should make the conjugation work properly, when fixed.

the verb-grouping stuff is [here](https://github.com/spencermountain/compromis

[2019-04-28 11:07] endeffects opened #584 "Subjects in Past and Present Tense"
I'd like to use your library for an auto suggestions where i have to transform past tense to present tense and vice versa for short texts.

Sample
create customer <-> customer created
update customer <-> customer updated

I tried your demo and got the following results:
create customer -> created customer
update customer -> updated customer

Is there any option to move the subject to the beginning

[2019-04-29 14:19] spencermountain commented on #584
hey @endeffects yeah, i think the demo is working as intended. Hmm, it's a funny problem though.
Take these, for example:
[code]

maybe we need a new form of past-tense, for directive sentences, or something like that. I'm not sure.

you can re-arrange the subject/verb, i'm not sure how complex your uses are, but you may run into some funny business moving things around.
[code]

[2019-04-29 16:43] endeffects commented on #584
Thanks alot for your help, i'll try this. But you are right, the complexity may raises:
Create new Customer Address <-> New Customer Address created.

Hopefully most of these more technically sentences are fitting the same rules.

[2019-05-01 00:10] zzj0402 opened #585 "Tagging error"
[code]
"test message"
returns

[code]
[code]

[2019-05-01 12:46] spencermountain commented on #585
thanks

[2019-05-03 15:03] charlesLoder commented on #583
I just discovered compromise and love the idea! I haven't contributed to open-source before so it may take me a bit, but I would to grab this if anyone isn't working on it.

[2019-05-03 15:51] spencermountain commented on #583
welcome @charlesLoder ! go for it!

yeah, this can be solved by adding some kind of check for a slash in that `find` method there.
Calling `.split()` in the right place there should do the trick just fine.

We don't have a clean way to search the whitespace-characters right now (i don't think!) - so I'd do something like this:
[code]

¯\_(ツ)_/¯

I've written a first-pr thing [here](https://github.

[2019-05-03 17:45] charlesLoder commented on #583
awesome. I'll get to it

[2019-05-04 02:00] zzj0402 commented on #585
Input:
["In statistical classification, including machine learning, two main approaches are called the generative approach and the discriminative approach."  ](https://en.wikipedia.org/wiki/Generative_model)

Tags mislabeled:
[code]

[2019-05-04 22:18] aagohary opened #586 "How is the NER trained?"
I am wondering how the NER model trained. How does the model look like at a high level and on which dataset was is trained?

Thanks!

[2019-05-05 12:47] spencermountain commented on #586
hey @aagohary please read [the docs](https://github.com/spencermountain/compromise/wiki/How-it-Works) first.
Happy to answer any questions after.
cheers

[2019-05-05 12:47] #586 closed

[2019-05-05 13:58] endeffects commented on #584
I had some good results using your sample.
But there are some conjugations i don't understand:

Include Item -> item included // works
Exclude Item -> exclude item // should be: item excluded

Include In Order -> in order included // works
Exclude From Order -> exclude from order // should be: from order excluded

Attach Memo -> memo attached // works
Edit Memo -> memo edit // should be: memo edit

[2019-05-06 15:02] spencermountain commented on #584
yeah, this will take some playing with to get right, i suspect.

for one, `exclude from order` is simply being mis-tagged - so that's an easy situation to fix:
[code]
hope that helps
cheers

[2019-05-07 01:56] playground opened #587 "Do you have an example usage of downward?"
[code]

[2019-05-07 12:40] spencermountain commented on #587
downward is a collection of all `isA` values. its just an array of strings.

you can see it collects all nested relations from [here](https://github.com/spencermountain/compromise/blob/master/src/tags/tags/nouns.js)
i'm not sure it's meant to be used externally.  You should just specify `isA` if you are creating a plugin
cheers

[2019-05-07 12:40] #587 closed

[2019-05-07 22:26] playground commented on #587
Thanks.

[2019-05-09 15:03] charlesLoder commented on #583
I added your suggested code:

[code]

But if I ran:

[code]

I got this error:

[code]

The problem seemed to be occurring at

[code]

When passing in `ts.world` the resulting `all[0].world` became `{reBuild: func(), w: World}` instead of just `{World}`. Passing in `this.world` instead of `ts.world` like `splitAfter()` remedies the issue, but I'm not sure if it may create more issues. The tests st

[2019-05-10 14:15] #583 closed

[2019-05-23 10:44] virustotalop opened #589 "Normalizing contractions removes ending punctuation next to it"
When normalizing this text

The output that is received is

Expected output

Sample code

[code]

This does not occur if contraction normalization is turned off.

[2019-05-23 14:19] spencermountain commented on #589
ah! good bug!
thank you.

[2019-05-24 04:24] virustotalop commented on #589
So I've looked into the bug further and I am able to reproduce a similar or the same bug with acronym and whitespace normalization.

Acronym normalization code
[code]

The output is
[code]

Whitespace normalization code
[code]

Whitespace normalization on
[code]

With whitespace normalization off
[code]

I haven't checked all normalization types yet but I do get the correct behavior from number no

[2019-05-27 21:49] georgelemental commented on #576
I'm having this problem as well. Verbs are not being changed to infinitive, and nouns are not being made singular. According to [the docs](https://observablehq.com/@spencermountain/compromise-output), @baraklevy20's example should output `he eat the egg` (`ate` to infinitive, `eggs` to singular), but this does not happen.

[2019-05-28 14:13] spencermountain commented on #576
thanks @georgelemental
i suggest using `nlp('he ate the eggs.').normalize().out('root')`.
i should probably update those docs. I think i've flipped and flopped a few times about what `.out('root')` should do.
cheers

[2019-05-28 14:16] spencermountain commented on #576
thanks @georgelemental looks like normalize isn't working as expected.
this should work, as you intended.

https://runkit.com/spencermountain/5ced4227a6784e001a835794
a fix for this should land in v12.
thanks

[2019-06-06 08:02] jechazelle opened #591 "Create custom entities / intent and extract it"
I discovered this library and read the doc : awesome ! 👍

I would like to know if it's possible to create a custom intent and custom entities, to extract it from the text please ?

For example, I would like to create a custom intent and custom entity :

After I create different value attach on the custom entity (BOOK) :

With the synonyms to each value :

Finaly, I search this entities on the text

[2019-06-06 08:20] scagood commented on #591
You could try using a plugin:
https://observablehq.com/@spencermountain/compromise-plugins

Then create custom tags for each of the expected 'intent strings' and Books.

If you're looking for something along the lines of machine learning:
You may want to consider looking into `Multi-Label Classifiers` for identifying the intent
And then implementing a `fuzzy search` style algorithm into the classi

[2019-06-17 01:03] thegoatherder opened #592 "How to match all conjugates of a verb"
This isn't an issue - just a general query. Perhaps you could update the docs with the answer?

https://stackoverflow.com/questions/56623676/how-to-match-a-verb-in-any-tense-in-compromise-js

[2019-06-17 21:56] spencermountain commented on #592
thanks Adam.
answered on stack-overflow

[2019-06-17 21:56] #592 closed

[2019-06-18 19:03] thegoatherder opened #593 ".has() does not behave as stated in wiki"
Wiki says:
[code]

has() returns a boolean, so we can't run .random() or .all() on it.

[code]
What is the correct way to get the output shown by the wiki? i.e. to find a sentence that matches some pattern and to output the whole sentence, not just the part of sentence matching the pattern?

[2019-06-20 16:33] thegoatherder opened #594 "Unexpected .match() behaviour"
Please see below 4 match queries. Only the first returns a result. The other 3 return no match. However, the debug view shows correct POS tagging without any plugins. Am I doing something wrong or is this a bug?

[code]

[2019-06-20 16:36] spencermountain commented on #594
hey Adam, yeah it's just the placement of the `/` characters.
https://runkit.com/spencermountain/5d0bb5b1fda884001a41ab32
They're only meant for surrounding individual match terms that reguire a regex.
cheers

[2019-06-20 16:36] #594 closed

[2019-06-20 16:44] thegoatherder commented on #594
Thanks, Spencer. Do you have a tip jar setup online somewhere please?

On Thu 20 Jun 2019 at 17:37, spencer kelly <notifications@github.com> wrote:

--

-----------------------------------------------------------
"Are you sleep walking through your waking life
      ...or wake walking through your dreams?"

[2019-06-20 18:45] spencermountain commented on #594
thanks adam, I may do the github one when it's available.
cheers

[2019-06-23 08:28] lostfictions opened #595 "Wrong conjugation for "eat""
hey there, thanks for this library! i noticed that the actor form of "eat" seems to be wrong:

[code]

i'm not sure why this is happening, since it seems to be defined correctly in `conjugations.js`:

https://github.com/spencermountain/compromise/blob/cee9735403f3036e1db74850dcd35c025dbd7209/data/conjugations.js#L126-L131

if i set the conjugation manually with `c.addConjugations({ eat: { Actor: '

[2019-06-23 09:17] lostfictions commented on #595
ditto for "boil":

[code]

even though it's got an explicit form defined:

https://github.com/spencermountain/compromise/blob/cee9735403f3036e1db74850dcd35c025dbd7209/data/conjugations.js#L404-L406

[2019-06-24 17:16] spencermountain commented on #595
thanks @lostfictions - you're right, it looks like the custom ones are being over-written.
All the `toActor` logic is [here](https://github.com/spencermountain/compromise/blob/master/src/subset/verbs/methods/conjugate/toActor.js).  I'm busy on v12, but would be happy to merge any changes to improve this weak part of verb conjugation.
cheers

[2019-06-25 17:36] spencermountain commented on #595
took a look at this for `v11.14.0`, but couldn't get it.
A few releases back we added `fastConjugate` for the lexicon buildup, which is, I think where the `Actor` conjugations go missing.

I'll make sure these are back in v12, where a lot of this is getting currently cleaned up.
in the mean-time, you should be able to fix these conjugations manually, with a custom plugin:

https://runkit.com/spenc

[2019-06-26 15:16] endeffects commented on #584
Thanks for your help. I'm still fighting with a couple of issues. I'm not sure if this can be done by just moving the concatination around :(

[code]

[code]

[2019-06-26 15:32] endeffects commented on #584
@spencermountain Is there any option to hire you to write such a plugin?

[2019-06-27 18:44] spencermountain commented on #584
sure. I may have some time this summer

spencermountain@gmail.com

[2019-06-27 18:45] spencermountain opened #598 "apostrophe regression in template-parser"
[code]

introduced by adding apostrophe [in this keyParser regex](https://github.com/spencermountain/wtf_wikipedia/blob/master/src%2Ftemplates%2F_parsers%2F02-keyMaker.js#L3)

[2019-07-02 15:11] fhoffa commented on #111
Now we are able to run this as a permanent public UDF:

`SELECT fhoffa.x.parse_number('5 million 3 hundred 25 point zero 1')`

- https://medium.com/@hoffa/new-in-bigquery-persistent-udfs-c9ea4100fd83

[2019-07-02 18:33] spencermountain commented on #111
captain marvel! haha!
thanks @fhoffa . This is so cool, you've made my day.

[2019-07-03 16:01] endeffects commented on #584
Thank you, i've sent you an email a couple of days ago.

[2019-07-12 07:03] janetlndavis opened #599 ""Her" is not recognized in its noun form"
Consider the following examples:

In the first example, "her" is possessive; in the second example, it is not.

NLTK distinguishes between them:
<pre>

[('it', 'PRP'), ('was', 'VBD'), ('her', 'PRP')]

[('her', 'PRP$'), ('book', 'NN')]
</pre>

Compromise doesn't distinguish between them; both are recognized as possessive nouns.

![Screen Shot 2019-07-11 at 11 58 50 PM](https://user-images.githubuse

[2019-07-12 16:03] spencermountain commented on #599
hey Janet, thank you. I like this idea.
We have a similar disambiguation for `'s`:  `spencer's house` vs `spencer's cool`. I agree compromise should handle this sort of case.

I'm not sure what the most clever way to disambuate this is.
i suppose we could do something like this...
[code]
any ideas are welcomed.

I'm heads-down on [v12 ](https://medium.com/@spencermountain/compromise-in-2019-e7d0ca

[2019-07-12 21:49] janetlndavis commented on #599
Spencer, thanks for the quick response!

After sleeping on it a little, I was also thinking about clever ```.match().tag()``` cases that might cover enough situations that it's not embarrassing, even if it's not 100% correct. From what I can tell, the other POS taggers that handle these test cases correctly are using ML techniques.

I would be happy to share what I come up with, though a pull requ

[2019-07-12 21:58] spencermountain commented on #599
thank you. I'd be happy to throw in anything you can find. This possessive stuff really confuses me.

[2019-07-14 04:09] ProfJanetDavis opened #600 "Case-preserving replacement option"
It would be handy if ```.replace()``` and ```.replaceWith()``` had an option to preserve case.

I wrote code something like this to accomplish that task using existing methods:

<pre>
      matches = doc.match(word);
      matches.match("#TitleCase").replaceWith(newword).toTitleCase();
      matches.match("#Acronym").replaceWith(newword).toUpperCase();
      matches.not("#TitleCase").not("#Acronym

[2019-07-15 15:21] turbobuilt opened #601 "Conjugation() doesn't return proper tense"
[code]
Outputs
[code]
Should output something about past.

[2019-07-16 16:20] spencermountain commented on #600
i agree!

[2019-07-16 16:44] spencermountain commented on #601
holy, i just looked and `was` has been missing this tag since at least January 😰.

thank you. There's some 4-thousand tests. It's wild that this has happened.

fixed in `11.14.1`.

[2019-07-16 16:44] #601 closed

[2019-07-16 16:58] turbobuilt commented on #601
Yeah, I was kind of surprised myself!  But it happens to the best of us.  Thanks for fixing it!

[2019-07-18 11:50] sheikirfanbasha opened #603 "Need help in optimization"
Hi,

Thanks for this great library.

I have a use case related to multiple domains where I will have to do `nlp.clone()` multiple times in order not to overlap lexicon information related to one domain with another.

Currently, each `nlp.clone()` call is taking approx. 160ms. So, for 40 domains it is taking approximately 6 seconds. Any better way of doing this?

[code]

[2019-07-18 13:01] spencermountain commented on #603
hey @sheikirfanbasha thanks, that's an interesting problem.
I think you're doing everything right.

The `nlp.clone()` is [a bit of a mess](https://github.com/spencermountain/compromise/blob/master/src/index.js#L73) - but the main task is to run a [deep-clone on the World object](https://github.com/spencermountain/compromise/blob/master/src/world/index.js#L49). All of the linguistic data is on that

[2019-07-18 13:02] spencermountain commented on #603
oh, you could clone them in web-workers. I forget about that.

[2019-07-19 10:05] sheikirfanbasha commented on #603
@spencermountain Thanks for the prompt reply! I used your suggestion of setting the world values directly and then running `.tagger()`.  Performance is much better now! Thank you!

[2019-07-19 10:05] #603 closed

[2019-07-19 13:55] spencermountain commented on #603
do you do something like this?
[code]
that's awesome.

[2019-07-19 23:08] ProfJanetDavis commented on #599
Here's my working theory. It seems feasible to distinguish the uses of "her" and "his" as follows:
1. "His" or "her" is a determiner when it is followed by a noun, adjective, or numeric value.
2. "Her" is otherwise a pronoun used as the object of a verb phrase.
3. "His" is otherwise a possessive noun, short for "belonging to him."

See also:
* https://www.answers.com/Q/5_example_of_sentences_using

[2019-07-20 04:27] sheikirfanbasha commented on #603
@spencermountain Yes. Replaced `nlp.clone()` with below code

[code]

[2019-07-20 05:53] dqnykamp opened #605 "toPlural removes punctuation after nouns"
var doc=nlp("cat, boy, and chair");
    console.log(doc.nouns().toPlural().all().out())

Outputs

    cats boy, and chairs

Pluralizing cat to cats removed the comma after it.  But, for a word like boy (which for some reason isn't pluralized), the comma is retained.

[2019-07-21 17:37] spencermountain commented on #605
hey thanks Duane, that definetly looks like a bug.

Let me know if this is a priority. I'm half-way through [v12](https://medium.com/@spencermountain/compromise-in-2019-e7d0ca703320) and this includes a full re-write of our punctuation logic, so it should be fixed in the next major version.

cheers

[2019-07-21 18:02] spencermountain commented on #599
ah! nice work.
To be honest the plugin scheme never really panned-out. I'm happy to add this into v12.

yeah, right now anything tagged as `#Possessive` also becomes a noun. I'm happy to decouple this, so that we can have: (?)
1. **#Determiner, #Possessive**  - `'his book'`
2. **#Adjective, #Possessive** - `'basket is his'`
3. **#Pronoun, #Possessive** - `'belongs to her'`

would that work?

[2019-07-21 18:14] spencermountain commented on #599
also, isn't it crazy how asymmetrical the his/her are? This has never occurred to me.

i've created [some tests](https://github.com/spencermountain/compromise/blob/linked-list/tests/tagger/pronoun.ignore.js) (all failing) for these cases - let me know if I'm wrong about the expected behaviour - i'm not very good at this stuff!
thanks

[2019-07-21 21:45] ProfJanetDavis commented on #599
That isn't quite right. "Her" is not actually possessive when it's used alone; rather it's the object form of the pronoun, analogous to "him" and "them." But you did catch a mistake I made - in "the basket is his", you're right, "his" is functioning as an adjective, like "red" in "the basket is red."

Here's a full set of test cases for third person pronouns that I think is correct:
1. #Determiner

[2019-07-21 21:48] ProfJanetDavis commented on #599
Also, thank you for telling me the plug-ins haven't worked out. I'm sure you just saved me a lot of time finding that out on my own. I would be very grateful if you resolved this issue in v12.

[2019-07-22 01:21] dqnykamp commented on #605
We can work around it for now.

[2019-07-26 18:49] track0x1 opened #606 "Out('array') should output original text"
I am calling `out('array')` but the text is being stripped of important characters.

Should we update:
https://github.com/spencermountain/compromise/blob/3c0e8ee697cc25d26685b698bd90d84b39d6d1f1/src/text/methods/out/index.js#L64
To be `ts.out('text')` instead of `ts.out('normal')`?

For example:
[code]

[2019-07-26 20:07] spencermountain commented on #606
hey tom, yeah, `.out('array')` is weird, and the .out() methods are all being improved in v12.
for now, you can use `.data()` or any of the other [out methods](https://observablehq.com/@spencermountain/compromise-output?collection=@spencermountain/nlp-compromise)
cheers

[2019-07-26 20:07] #606 closed

[2019-07-29 20:15] track0x1 opened #607 "NumberRange has extra whitespace"
[code]

is splitting out into

[code]

Where you see the output is showing `4-5` as one unit, followed by two hyphen characters, where the last should be showing `5`.

[2019-07-29 21:58] track0x1 opened #608 "Does not support complex unit suffixes"
https://github.com/spencermountain/compromise/blob/3c0e8ee697cc25d26685b698bd90d84b39d6d1f1/src/tagger/steps/06-suffix_step.js#L18

When processing a number with a suffix longer than 2 characters, compromise does not provide any tagging to the number.

For example:
**This works:**
[code]

**Actual**:
[code]

**Expected**:
[code]

[2019-07-30 04:52] AlexanderKidd opened #609 "Better Replacement Of Subsets Of Text"
First off, really glad that this library is around!

I had to write some ugly regex/manual token splitting of an article of text in order to remove acronyms/abbreviations:

     nlpText = nlp(scrapedText.replace(/\.-/g, '. '));
     abbrList = nlpText.match('(#Acronym|#Abbreviation)').text();

     abbrList.split(' ').forEach(function(token, index, arr) {
       if(token) {
        var re = new Re

[2019-07-30 06:03] daedalus28 opened #610 "`nlp(x).nouns().articles()` does not support `.out`"
I'm the process of putting together an example of what a functional `compromise-fp` API could look like (followup from #407) here: https://runkit.com/daedalus28/compromise-fp and I've noticed an inconsistency in the API.

All other noun methods seem to support `out`, e.g.

[code]

`articles` behaves differently, so you need to do this:

[code]

instead of just:

[code]

[2019-07-30 06:11] daedalus28 commented on #610
Side note - my hope is that the `nlpTransform` approach in that runkit might be a simple, clean way we could have a compromise-fp set up with a configuration blob similar to how lodash/fp works :smile:

[2019-07-30 15:03] spencermountain commented on #610
hey Samuel! This is really neat.
Is this the model, you'd like to see?
[code]
i think I understand the proposal more now.
Is the idea that it avoids all state dangling around, at all times? That sounds pretty clean.
I think the reason I've favoured having a big object being passed-around is that parsing/tokenizing/tagging is so labourious, and I've tried to require doing it only once per input.

o

[2019-07-30 15:04] spencermountain commented on #610
oh, if you haven't seen it yet, [api.json](https://github.com/spencermountain/compromise/blob/master/docs/api.json) describes each method, and (should!) tell you whether they return a 'Text' object, or not. That may help.

[2019-07-30 15:20] spencermountain commented on #609
hi Alexander, thank you for this. Your timing is great.

yeah, `replace()` is borked. I made some bad data-model decisions a few years ago, and this is the reason for the [big refactor](https://medium.com/@spencermountain/compromise-in-2019-e7d0ca703320) that's taking place now.

I say your timing is good, because grabbing abbreviations from the lexicon (which can be configured) has been on and of

[2019-07-30 15:25] spencermountain commented on #609
ugh. and I was having such a good day before seeing this! ;)

no but really, these are the kind of problems I need to see. There's the compromise api, and its functions, and there are features that people want at the periphery - and there's no clean way to extend it another yard. Then the issue becomes getting the data out of compromise, doing things yourself, and getting it back in. That stuff su

[2019-07-30 15:39] spencermountain commented on #608
ah, nice one!
yeah, good find.
um, is 4 enough? I figure if there's a number followed by 6 letters, it's not an abbreviated unit any more.
Yeah, I'll fix this in [v12](https://github.com/spencermountain/compromise/tree/linked-list), which is a few weeks away.

In the mean-time, you may be able to fix it with a `.match().tag()`, like this:
[code]
cheers

[2019-07-30 15:43] spencermountain commented on #607
hey Tom, thanks. I think this is just a confusion with the output of `.debug()`. The '-' just means no-text, and the expected behaviour of numberRanges is that they produce terms with implicit text, like contractions do.
I think it should still work as expected, with `.out('text')` and so-forth.
If I'm wrong, feel free to re-open this.
cheers

[2019-07-30 16:13] track0x1 commented on #607
hi @spencermountain
yes, when outputting a value like that it ends up distorting the format.

for example:
[code]

[2019-07-30 16:53] spencermountain commented on #607
thanks

[2019-07-30 23:31] zzj0402 opened #611 "TypeScript Support"
[code]
support importing feature.

[code]

[2019-07-31 00:14] AlexanderKidd commented on #609
The plugins idea seems like it will work well.  I think the way it is follows SOLID (especially open to extension but closed to modification).

Maybe some `import` function to ingest new words and keep them in the global `nlp` instance?  I see Issue #505 would like synonyms, so eventually people will probably want full dictionary/thesaurus support.  But I totally get it, you would start to build a

[2019-07-31 14:12] spencermountain commented on #611
hi 张梓径, this will be available in v12.
it should be a few weeks.
cheers

[2019-08-01 00:54] daedalus28 commented on #610
That's great - so it sounds like v12 will fix the issue here 👍

The idea for a functional API would still be actual methods but they can hopefully just be curried versions of `nlpTransform`. I imagine the library itself would look something more like this, modeled after how it's done by [lodash/fp](https://github.com/lodash/lodash/blob/4.17.5-post/fp/_mapping.js):

`compromise-fp/config.js`
This c

[2019-08-07 02:16] tommy-dev opened #612 "Custom bundling to reduce size"
Thanks for this library, it is amazing. However, a big blocker to use it is the bundle size. You can see here https://bundlephobia.com/result?p=compromise@11.14.2 it still takes a long time to load on 3G.

I assume most devs use only a small selection of the features. For example, I just want to use the pluralize and gerund features (e.g. pause -> pausing).

Suggestion is to add a custom bundling

[2019-08-07 12:40] spencermountain commented on #612
hey tommy, i agree! v12 is 30% smaller, and publishes esmodules.
it's about a month away still.

compromise doesn't tree-shake well, because the tagger is the bulk of it, and must run before we can do anything else.
working on it!
will let you know when v12 is released
cheers

[2019-08-13 17:25] ProfJanetDavis opened #614 "Parenthesis and brackets should be parsed as whitespace, not as word characters"
These test cases should clearly result in matches, and they don't:
<pre>
nlp('Dear [him or her]').match('him').out('text');
nlp('Dear [him or her]').match('her').out('text');
</pre>

This test case should match the word "He" only, but the match text also includes the leading parenthesis:
<pre>
nlp('(He didn\'t say anything.)').match('He').out('text');
</pre>

Similarly, in this example the opening

[2019-08-13 18:08] spencermountain commented on #614
hi Janet, ya this is exactly what i'm working on, today, on v12.

it's much cleaner there.

i think match/replace works properly now over there, but the things i haven't gotten my head around are the outcomes with `.out('text')`.  It really feels like it's breaking-down.

[code]

ugh.

yeah, v12 should be released in september. Your given examples will work. I'm really in the weeds though, regardi

[2019-08-13 18:09] spencermountain commented on #614
haha, sorry, i know that has nothing to do with your issue. It's just on my brain, today. If you, or anyone has some thoughts about it, it would be welcome.

[2019-08-13 20:45] ProfJanetDavis commented on #614
No worries.

I think the expected behavior might be clearest when using match with replace. Do you have real use cases of people using ```match().text()``` for anything other than debugging?

Looking at the examples you give:
1. ```'five'``` is the output I would expect. Here's a similar example which I think is correct according to your model, but it would still strike me as strange:
<pre>
doc.ma

[2019-08-20 20:36] JaredReisinger opened #615 "captures adjacent to start/end anchors do not work"
Just ran across this and wanted to get it documented before I try to track down the source of the problem.  In a nutshell, a capturing match (`[]`) that's adjacent to a start (`^`) or end (`$`) anchor does not seem to work.  Here's a simple test case:

[code]

Given the last two variations, it's pretty clear that it's the adjacency of the anchor to the capture that's causing the problem, not the m

[2019-08-20 21:33] JaredReisinger commented on #615
Heh... after digging into https://github.com/spencermountain/compromise/blob/master/src/terms/match/lib/syntax.js, I see what's going on... the capturing syntax (`[]`) is handled _before_ the anchors... so while `^[one]...` doesn't work, `[^one]...` does.  Not quite what I'd expect, but I can make that work.

So, for the record, the corrected (and working) matches are:

[code]

[2019-08-20 21:33] #615 closed

[2019-08-23 16:42] spencermountain commented on #615
thanks @JaredReisinger yep, this, and a bunch of similar gotchas, are fixed already in [v12](https://github.com/spencermountain/compromise/tree/linked-list).

thanks for taking the time to dig into this. It should be documented in more detail somewhere.
I was thinking of breaking it, to make things more regex-aligned, so it would all become more intuitive, then got scared-off by this idea. If you

[2019-08-25 15:17] vroyibg opened #616 "Many verbs at Past Tense are tagged as Noun"
For example "linked", "impoverished", "pounced" ...

[2019-08-25 21:23] spencermountain commented on #616
thanks Hải, I'll check it out.

[2019-08-30 08:44] papandreou opened #619 "Missing tags for released versions"
Hi, thanks for all your work on this library!

In an app I'm working on we use an automated tool to keep dependencies up to date (depfu). It always has trouble working out which commits in the compromise repo are actually included in a given version bump, just now between 11.14.2 and 11.14.3. Seems like that's because a bunch of tags are missing:

[code]

Would it be possible to get those tags pus

[2019-08-30 19:52] spencermountain commented on #619
hey @papandreou thanks for that.
Yeah, i've never used, or understood github releases, and have always used `npm`.

I don't know the best way to get them to work together, or how hard it would be to release all of those historical ones.

it's always just seemed like more work, to be honest.
I could change my mind, if there's a good reason that I'm missing.
 cheers

[2019-08-30 20:09] papandreou commented on #619
I don't mean github releases, I just mean that the [git tags](https://git-scm.com/book/en/v2/Git-Basics-Tagging) for the releases haven't been pushed to github.

If you've used `npm version` as part of doing the releases, you might still have the tags in your local clone. In that case `git push origin --tags` should correct it :)

[2019-08-30 20:27] spencermountain commented on #619
ah, yeah i just ran `git push origin --tags` and it said Everything's up-to-date. Does that mean the info is gone?

going forward, would it be as simple `npm publish && git tag vx.x.x`?

[2019-08-30 22:41] papandreou commented on #619
That works, if you remember to `git push origin --tags` afterwards. Personally I prefer to create a separate release commit with `npm version patch` (or `minor` or `major`) -- that also creates the vx,y,z tag. And then `npm publish && git push origin --tags`.

Looks like some of those few `vx.y.z` and `x.y.z` tags that do exist don't point at exactly the right commit where the version was bumped.

[2019-09-01 12:28] spencermountain commented on #619
Wow! Thank you.
I'm away for the long weekend, and will run this in Tuesday. Thank you for
your help!

On Fri., Aug. 30, 2019, 6:41 p.m. Andreas Lind, <notifications@github.com>
wrote:

[2019-09-02 01:12] zeke commented on #619
[np](https://ghub.io/np) is a great tool for publishing. You run `np major`, `np minor`, or `np patch` and it take care of running tests, creating a git tag, creating a GitHub Release™, bumping package.json, and publishing to the npm registry.

You can also automate your publishes using [semantic-release](https://ghub.io/semantic-release) which is really cool but requires a bit of ceremony to set

[2019-09-04 22:17] spencermountain commented on #619
hey @papandreou i ran this and it seemed to work, there's 185 releases on github now.
happy to reopen if there are some more to do.

thanks zeke!

[2019-09-04 22:17] #619 closed

[2019-09-04 23:48] DaiZack opened #620 "Is it possible to add sentiment analysis?"
Is it possible to add sentiment analysis?

[2019-09-05 13:33] spencermountain commented on #620
hi Zack, it would be possible, but is not on [the roadmap](https://medium.com/@spencermountain/compromise-in-2019-e7d0ca703320) for this year.
You could integrate compromise with another tool, with this functionality, in a cool way.
If you figure out a good solution, let me know.
cheers

[2019-09-05 13:33] #620 closed

[2019-09-05 21:54] ProfJanetDavis commented on #600
And I discovered my quick fix doesn't quite work, because it doesn't deal with preserving the single capital letter at the beginning of a sentence. Any suggestions?

[2019-09-09 13:30] ProfJanetDavis opened #621 "#Noun bug: 'is' is not a noun"
I'm trying to use a match pattern where the verb "is" is incorrectly matched as a noun.

Screenshot from Observable:
![Screen Shot 2019-09-09 at 2 29 23 PM](https://user-images.githubusercontent.com/19829843/64534900-3d1fae00-d30e-11e9-99c1-89dc611f4332.png)

This is related to my other issue, #599.

[2019-09-09 13:40] ProfJanetDavis opened #622 "Semicolon should be equivalent to period"
A semicolon ends a complete sentence and should be treated like a period when tagging.

Here's my surprising finding, replicated on Observable:
![Screen Shot 2019-09-09 at 2 36 03 PM](https://user-images.githubusercontent.com/19829843/64535504-58d78400-d30f-11e9-9029-5f939c80565c.png)
The match above is surprising because "mine" starts a new syntactically complete sentence. It is not syntactically

[2019-09-09 14:49] spencermountain commented on #622
hey Janet, yeah i see your point.
i recommend calling `.clauses()` before .match.
that should do the trick.

it's tricky, I don't want to split the sentences on semicolons, and I don't want to not make the match, because of the semicolon. I tend do use .clauses() before a match, maybe too frequently.

maybe there should be like, `.safeMatch()` or another parameter, something.

[2019-09-09 14:51] spencermountain commented on #621
hey Janet, i'm not sure I understand your issue. If you call `.debug()` you can see the current tags, it appears to be tagged correctly:
![image](https://user-images.githubusercontent.com/399657/64541415-cffd2000-d2ef-11e9-844e-9d667ac23936.png)
cheers

[2019-09-09 15:08] ProfJanetDavis commented on #621
Then maybe `match()` is not working correctly? Here's another example - "borrow" is not a noun as far as I know.

![Screen Shot 2019-09-09 at 4 06 13 PM](https://user-images.githubusercontent.com/19829843/64542689-eae58980-d31b-11e9-98bf-27827b64e860.png)

If this is expected `match()` behavior, then there's something I really don't understand about it.

[2019-09-09 15:11] spencermountain commented on #621
maybe you've gotten twisted-up using that observables site.
![image](https://user-images.githubusercontent.com/399657/64543010-7fd38d00-d2f2-11e9-93ac-4a590cc52fc9.png)

[2019-09-09 15:29] ProfJanetDavis commented on #621
I'm sorry, I'm really confused by your responses. In the first screenshot you posted, "is" is tagged as a Noun. In the second, "have" is tagged as a Noun. I'm quite certain they are both verbs. Can you clarify?

[2019-09-09 15:34] spencermountain commented on #621
ahh, sorry you're right.
lemme give you a proper response later this afternoon

[2019-09-09 15:36] ProfJanetDavis commented on #621
Okay, thanks! BTW, I really appreciate how responsive you've been.

[2019-09-09 19:37] ProfJanetDavis commented on #622
Thanks for the advice. Unfortunately, calling `.clauses()` before `.match()` seems to break all of my subsequent calls to `replaceWith()`.  Is there something obvious I'm missing?

I have a big refactoring planned, so maybe I'll revisit this issue as part of that, or after v12 is released.

In the meantime, I resolved my issue using the native Javascript `split()` to split on semicolons before cal

[2019-09-09 20:07] ProfJanetDavis commented on #622
Thanks for the advice. Unfortunately, calling `.clauses()` before `.match()` seems to break all of my subsequent calls to `replaceWith()`.  Is there something obvious I'm missing?

I've implemented a workaround with `String.split()`, but oh man, is it a hack. It would be nice to have the option to treat semicolons - and dashes! - like periods.

[2019-09-09 20:10] ProfJanetDavis commented on #622
This reference might be relevant: https://writingcenter.unc.edu/tips-and-tools/semi-colons-colons-and-dashes/

[2019-09-10 20:07] spencermountain commented on #621
ah, you're right. I found the [bad-expression here](https://github.com/spencermountain/compromise/blob/master/src/tagger/steps/23-corrections.js#L142). Good find!

you can always get insight into what's going wrong with `nlp.verbose()`.

[code]

i commented it out, and the example `'his fines'` no-longer work properly.
So it may take a little playing-with
Thanks!

[2019-09-14 17:02] lauralampariello commented on #553
Hi everyone, I would like to know if there is a tokenization function in this library.
Thanks in advance.

[2019-09-17 13:47] spencermountain commented on #553
hey @lauralampariello i think this should help you
https://runkit.com/spencermountain/5d80e3953b6228001a95d2ab

[2019-10-04 01:04] thegoatherder opened #623 "How to get all tags in compromise + plugin?"
I want to list all tags: #Verb, #Noun, #Preposition, etc etc etc
Plus, all tags introduced by plugin

To get an output like:
[code]
Have searched API but can't find the method or property that outputs this. Any ideas?

[2019-10-09 03:40] jkhaui opened #624 "Include ability to recognise long numbers separated by commas"
Hey,

Great library! Currently, I'm using the method `nlp(numbersMatch).values().toText().all().out();` to automatically recognise numbers in text and convert them to words. It works really well.

One exception is numbers with commas, such as `1,540` or `6,000,000`. Compromise doesn't recognise these as numbers. Is it possible to add support for numbers with commas in a future release? I'd be happ

[2019-10-09 04:07] jkhaui commented on #624
Sorry, I realised Compromise already does this! The problem was with some other RegEx in my code, nothing to do with this library. Apologies again

[2019-10-09 04:07] #624 closed

[2019-10-16 03:03] GuySartorelli opened #625 "Conditional tagging through plugins"
Is there currently a way to have conditional tags through plugins? If not, I think that would be a really powerful feature to add.

For example, I am setting up tags to help me identify different types of queries (both that are and are _not_ phrased as questions).
So in this below conceptual example, I want to define 'placed' as a `#LocationQuery`, but only if the sentence in which it is found is

[2019-10-16 03:24] GuySartorelli opened #626 "Plugin that doesn't override defaults?"
Hey,

At the moment if I add an existing word in a plugin, it will always override the default tags. If I want to keep them, I have to go and find out what nlp already tags it as, then add my new tag to that list and THEN add it to the plugin.

Is there a way (maybe a second parameter to `nlp.plugin()` e.g. `nlp.plugin(thePlugin, false)` ) to keep the existing tags whilst adding new tags through a

[2019-10-16 12:27] spencermountain commented on #626
hey @GuySartorelli you're right, there's no way to diff the current words, without doing it manually.
you can get the current words of the lexicon like this:
[code]
cheers

[2019-10-16 12:27] #626 closed

[2019-10-16 12:32] spencermountain commented on #625
hi @GuySartorelli it's an interesting idea. You can always implement this sort of thing using `match().tag()` sequences - that's how that sort of logic is handled in the tagger itself.

'except' logic can be handled like this:
[code]
that sort of thing.

i steer you towards doing that, because the plugin scheme is changing in v12. Using a sequence of Match/if/ifNo/tag statements is how I recommend

[2019-10-16 12:32] #625 closed

[2019-10-24 06:42] kwasimensah opened #627 "full-sentence whitespace in .json text"
nlp("I love apples. Yes I do.").match("apples").replaceWith("peaches").all().out("text") returns:

"I love peaches.Yes I do."

It would ideally output:

"I love peaches. Yes I do."

compomise version: 11.14.3

[2019-10-24 13:09] spencermountain commented on #627
hi @kwasimensah - good eye.
This should be fixed in the next release, which is expected in a few weeks.
cheers

[2019-10-25 21:41] kwasimensah opened #628 "replacements don't keep case information"
compromise("Apple is a very famous company.").match("apple").replaceWith("peach").all().out()

Returns:
"peach is a very famous company."

Ideally it returns:
"Peach is a very famous company."

Compromise version: 11.14.3

[2019-10-26 01:12] kwasimensah opened #629 "All elements returned by splitOn return true from found"
var compromise = require("compromise")

var apples_match = compromise("Apples are the best apples you can eat with apples.").splitOn("apples")

for(var i = 0; i < apples_match.length; ++i){
console.log(apples_match.get(i).found)
}

What Happens:
All elements return true.

Ideally:
Parts that don't have "apples" return false

Version: 11.14.3

I'm up for taking a stab at these bugs if they're not r

[2019-10-28 13:14] spencermountain commented on #628
hi kwasimensah, yeah you're right about this. it simply inserts the given text.
it would be cool to transfer case information. Remember that either string could be multiple-terms, and titlecase means different things at different times.

will have to think about this some more.
cheers

[2019-10-28 13:15] spencermountain commented on #629
ya, you can do this:
[code]
cheers

[2019-10-28 13:15] #629 closed

[2019-11-04 20:36] spencermountain commented on #254
hey max, you got a spare second to help me setup typescript typings for v12?

All the typings are working for the main library, but i've got a bunch of plugins that modify the prototype, and add new methods.
I've love to be able to add typings for the plugins, but haven't figured out a way.

so far, they look [like this](https://github.com/spencermountain/compromise/blob/linked-list/plugins/dates/

[2019-11-04 23:18] WorldMaker commented on #254
Sure, I'd be happy to help.

Plugins like that are indeed a little tricky/complex. Typescript documentation refers to it as "[declaration merging](https://www.typescriptlang.org/docs/handbook/declaration-merging.html)". Often the easiest pattern try to "merge" all the plugins into a shared interface and have the main library implement/extend the empty version of that interface for them to merge in

[2019-11-05 13:59] spencermountain commented on #254
thank you!

[2019-11-05 15:36] spencermountain opened #630 "some screenshots for new readme page"
hr1
![hr1](https://user-images.githubusercontent.com/399657/68221632-b9094000-ffb7-11e9-99e0-b48edd6cdf8a.png)

2
![hr2](https://user-images.githubusercontent.com/399657/68221724-e35afd80-ffb7-11e9-9f7e-43540f2bb205.png)

3
![hr3](https://user-images.githubusercontent.com/399657/68221731-e8b84800-ffb7-11e9-8453-6395e0e903fa.png)

4
![hr4](https://user-images.githubusercontent.com/399657/68221746-e

[2019-11-05 15:36] #630 closed

[2019-11-05 15:45] spencermountain commented on #630
12-shrink
![hr12-shrink](https://user-images.githubusercontent.com/399657/68222691-6597f180-ffb9-11e9-8a32-a7f38aa8bded.png)

[2019-11-05 18:28] spencermountain commented on #630
speed:
![speed-chart](https://user-images.githubusercontent.com/399657/68234798-0abdc480-ffd0-11e9-9ac5-8875d185a631.png)

zipf:
![zipf-chart](https://user-images.githubusercontent.com/399657/68234805-0d201e80-ffd0-11e9-8dc6-f7a600352555.png)

size:
![size-chart](https://user-images.githubusercontent.com/399657/68234819-14dfc300-ffd0-11e9-8b30-cb8545707b29.png)

[2019-11-21 05:11] SammyJoeOsborne opened #631 "Not es5 compatible since 11.14.0"
With 11.14.0 through 11.14.3, dist/compromise.js and dist/compromise.min.js contain the use of const and the fat arrow syntax which is not compatible with es5.

For those needing a working copy, it appears the last es5 compatible build was 11.13.2

[2019-11-21 17:59] spencermountain commented on #631
ah, thanks @SammyJoeOsborne .  Sorry about that.

[Version 12](https://github.com/spencermountain/compromise/tree/linked-list) is getting released in a few days, and has a proper babel-rollup workflow. That should be the quickest solution.

[2019-11-21 18:00] spencermountain commented on #631
i can hotfix before sunday, if anyone needs it.

[2019-11-25 10:50] Komal1101 opened #633 "Give percent = NAN and count as string on the constructor word in the file."
Run the code
var compromise = require("compromise");
                let doc = compromise(`if  constructor !  null
      {
        ViewBase currentObject    ViewBase  constructor.Invoke new object 2 `).nouns().out('topk');
                console.log(doc);

[2019-11-25 15:35] spencermountain commented on #633
hey Komal, I'll admit, i'm very confused by this issue. Are you trying to parse the code as a string?
are you trying to change the compromise constructor?
Your example doesn't seem to be syntactically valid. I'm pretty lost
cheers

[2019-11-28 17:52] fmacpro opened #635 "Where is compromise-entities?"
Hey,

first off just wanted to say wow what a release. Impressed with the amount of work thats gone into this. Maybe i'm jumping the gun a bit here but I thought I'd give the new version a try and it seems compromise-entities plugin hasn't been published yet?

[2019-11-28 19:32] spencermountain commented on #635
thanks Frank! Yeah, it's a relief to merge that branch in.
compromise-entities was combined into the main lib last-minute. You can run people, organizations, places and topics from the main import.
i've updated the readme on dev, will release later today.
cheers

[2019-11-28 19:32] #635 closed

[2019-11-28 19:33] spencermountain commented on #631
fixed in v12, thanks for your patience.

[2019-11-28 19:33] #631 closed

[2019-11-28 20:29] Jun711 opened #636 "Normalize Numbers not turning seven to 7"
I noticed that normalize function doesn't turn `seven` to `7` on [demo page](https://observablehq.com/@spencermountain/compromise-normalization)

<img width="1007" alt="Screen Shot 2019-11-28 at 12 27 46 PM" src="https://user-images.githubusercontent.com/6880939/69830621-8af3d600-11da-11ea-9479-487c11e01807.png">
<img width="1009" alt="Screen Shot 2019-11-28 at 12 27 13 PM" src="https://user-image

[2019-11-29 15:01] spencermountain commented on #636
thanks @Jun711 you're right.
I'll update the doc, and the changelog.
Number-parsing has been moved into it's own [separate plugin](https://observablehq.com/@spencermountain/compromise-numbers) to save some filesize.

after installing, you can get the same effect with a `.numbers().toNumber()` command.
cheers

[2019-11-29 15:01] #636 closed

[2019-11-29 20:11] spencermountain commented on #628
hey @kwasimensah , this is the default behaviour now in `12.1.0`:
[code]

you can configure this as an options param, as detailed [here](https://observablehq.com/@spencermountain/compromise-insert)

thanks for your patience, cheers

[2019-11-29 20:11] #628 closed

[2019-11-29 23:32] Jun711 opened #638 "em dash seems to be replaced with minus"
with compromise v12.0.0, `em dash` seems to be replaced with `minus`.

This is how it was used.
[code]

[2019-11-29 23:32] juliandm commented on #611
Yes please!

[2019-12-02 01:03] DimaMayd opened #639 "Uncaught TypeError: nlp.plugin is not a function"
After the final **compromise.min.js** update (v12.1.0) the function nlp.plugin() doesn't work.

E.g.:
[code]
Such simple code - and it doesn't seem to work so far. Had to roll back to 11.14.3 at least to not experience any difficulties.

Any idea?

Btw, you had an awesome project description a month ago. What happened to it?

[2019-12-02 05:41] changhz commented on #639
Same happened to me. Trying to extend a plugin:
[code]
Environment: browser
Version: 12.1.0

[2019-12-02 09:22] Coord opened #640 "[Bug] Compromise library hangs indefinitely when initialized on this particular text below"
The below text seems to hit a particular edge case in the library. It hangs indefinitely, and eventually cause the Node process to seg fault with bus error: 10.

Here is the repro:

const nlp = require('compromise');
nlp("Tasoulas, Evangelos; Hammer, Hugo Lewi; Haugerud, Hårek; Yazidi, Anis; Bratterud, Alfred; Feng, Boning\n\n(2017).                  The Concept of Workload Delay as a Quality-of-S

[2019-12-02 13:49] aMadReason commented on #639
you'll need to re-write any custom plugins to work with the latest version: https://observablehq.com/@spencermountain/compromise-plugins?collection=@spencermountain/nlp-compromise

It's not actually a big problem, you just need to wrap you plugin in a function and set the custom worlds using the methods outlined in the docs.

I ended up having to do this in some of my code where i'm using a boat l

[2019-12-02 14:05] spencermountain commented on #639
thank you @aMadReason that's precisely how I'd do it too.

Yeah, sorry about the breaking change to the plugin system. I think you'll find the new scheme makes a lot more sense in most purposes. Internally, we've been able to rebuild big chunks of the code-base using it.

I'm going to work on improving the documentation for this stuff this week. @DimaMayd you can see an example of using `.extend()

[2019-12-02 14:08] spencermountain commented on #640
hi Andy, thanks for this issue.
I haven't been able to reproduce the time-out, you can see it running here:
https://runkit.com/spencermountain/5de51aacb0402b001a4635ff
can you help me isolate it?
thanks

[2019-12-02 14:12] spencermountain commented on #611
hey, this should work now, in `^12.0.0`. I'm not a typescript-pro, but I've got a typefile [here](https://github.com/spencermountain/compromise/blob/master/types/index.d.ts) and it is linked in the package.json. I've tried it out in a cursory way, but I'd love some help, or some confirmation that it works.
Plz lemme know how it goes!
thanks

[2019-12-02 14:13] spencermountain commented on #638
ah! (very!) good eye.
thank you. I'll take a look at this this week.

[2019-12-02 14:40] spencermountain commented on #623
hey Adam, in v12 you can accomplish this like so:
[code]
i've added this to [the docs](https://observablehq.com/@spencermountain/compromise-tags)
cheers

[2019-12-02 14:40] #623 closed

[2019-12-02 15:05] spencermountain commented on #612
![image](https://user-images.githubusercontent.com/399657/69969746-feebf200-14ea-11ea-9f13-632ae9e6de6e.png)
v12 is also marked as `sideEffects:false`, which as I understand, will help webpack et al rip more parts off of it.
let me know how it goes

[2019-12-02 15:05] #612 closed

[2019-12-02 15:06] #611 closed

[2019-12-02 16:36] spencermountain commented on #605
hey Duane, got a fix for this in `12.2.0`, which I'll release later this afternoon
[code]
thanks for your patience

[2019-12-02 16:36] #605 closed

[2019-12-02 16:38] spencermountain commented on #600
hey Janet, this works now, as of `12.1.0`
by default replace and replaceWith preserve case (best they can), and there is also an option to preserve existing tags
[docs here](https://observablehq.com/@spencermountain/compromise-insert)
cheers

[2019-12-02 16:38] #600 closed

[2019-12-02 16:40] spencermountain commented on #610
hey Samuel, `.articles()` has been removed from v12, as you're right they were odd.
article information can now be found in `.nouns().json()`, which seems like a better place.
cheers

[2019-12-02 16:40] #610 closed

[2019-12-02 16:43] spencermountain commented on #576
hey, this works now in v12:
[code]
(note the change to [.text()](https://observablehq.com/@spencermountain/compromise-text) )
thanks.

[2019-12-02 16:43] #576 closed

[2019-12-02 16:46] spencermountain commented on #557
hey Jeungmin, this has been refactored in v12, and seems to make a little more sense:
[code]
thanks for your patience.

[2019-12-02 16:46] #557 closed

[2019-12-02 16:49] spencermountain commented on #535
this can now be achieved like this:
[code]

[2019-12-02 16:49] #535 closed

[2019-12-02 16:49] spencermountain commented on #525
using `Object.assign(Doc.prototype, methods)` pattern in v12
cheers

[2019-12-02 16:49] #525 closed

[2019-12-02 16:55] spencermountain commented on #511
hey Julia, thanks for your patience on this one. Finally got it fixed in `12.0.0`.
[code]
😅

[2019-12-02 16:55] #511 closed

[2019-12-02 17:02] spencermountain commented on #542
hey Sankarshan, we have a more reasonable response for this in v12, but it is still not perfect. `It's` is meant to be `its`, and the tagger is looking for a contraction `it is length is good`

this version works as expected:
[code]
cheers

[2019-12-02 17:02] #542 closed

[2019-12-02 17:04] spencermountain commented on #449
ya, this automated expansion of the lexicon has been completely rolled-back now in v12, and the docs have been update. Thanks for spotting the error.
cheers

[2019-12-02 17:04] #449 closed

[2019-12-02 17:34] Coord commented on #640
Thanks for the fast response. Something in the text seems to get lost when the text is pasted on Github or Runkit, and it ends up working. Here is the raw text to try: https://pastebin.com/sR3JXnmZ

[2019-12-02 18:16] ProfJanetDavis commented on #600
Awesome! I'm so excited for v12. Thanks again for all your work on
Compromise.

On Mon, Dec 2, 2019 at 8:38 AM spencer kelly <notifications@github.com>
wrote:

--
Janet Davis (she/her or they/them)
Associate Professor and Microsoft Chair of Computer Science, Whitman
College
509-527-5758, http://cs.whitman.edu/~davisj/
Schedule an appointment: http://meetme.so/JanetDavis

[2019-12-03 01:05] changhz commented on #639
Turns out it needs to add 'default' after requiring the module
[code]

I also extended the original type definitions from the module 'compromise' to writing type definitions for 'compromise-numbers' in order to work with TypeScript

[2019-12-04 14:48] spencermountain commented on #639
ahh @changhz thank you. I could really use some help setting those type definitions up! I haven't been able to figure-out how the plugin scheme can work with typescript, too. That would be really helpful.

that's interesting with the `.default` issue. You must be importing the esmodule version, from webpack config or something? When I run basic node, i haven't had to use .default. I'd be happy to

[2019-12-04 19:46] spencermountain commented on #640
hey @Coord i just tried that text, and still no timeout.
Can you try to isolate it?
thanks

[2019-12-04 20:13] RexChiu opened #641 "Mismatch between v12 release notes and source code. (compromise-entities)"
The v12 release notes states that there is a breaking change of `.people()` and `.places()` being moved out to their own plugin `compromise-entities`.

However I see a commit that reverts that change in v12: https://github.com/spencermountain/compromise/commit/4b6af0d708d23af087314b867ba029a71575da1f

Which one is correct?

[2019-12-04 21:11] spencermountain commented on #641
ah, thanks @RexChiu - the wiki is wrong.
fixed it!
cheers

[2019-12-04 21:11] #641 closed

[2019-12-04 21:18] spencermountain commented on #638
hey @Jun711 this is fixed now in `12.2.0`
cheers

[2019-12-04 21:19] spencermountain commented on #502
hey Michael, i've updated the website and docs.
thanks/

[2019-12-04 21:19] #502 closed

[2019-12-04 21:23] spencermountain commented on #488
hey, this is now possible in `12.2.0`, would love some eyes on it
https://runkit.com/spencermountain/5de8231a937ebe00199b3069
let me know if you see any issues!

[2019-12-04 21:23] #488 closed

[2019-12-04 21:25] spencermountain commented on #545
hey @compromizer - this works now in `v12.2.0`

https://runkit.com/spencermountain/5de8240a6bec1a001a8b5904
cheers

[2019-12-04 21:25] #545 closed

[2019-12-04 21:28] spencermountain commented on #388
hey, there is now a `.subjects()` method in [compromise-sentences](https://observablehq.com/@spencermountain/compromise-sentences). I'm not sure how well it is working, and would love some eyes on it.

WIll keep this open.

[2019-12-04 21:33] spencermountain commented on #257
hey, in v12 there's a more sensible way to configure per-parse lexicon information directly.
Every doc has a [world](https://observablehq.com/@spencermountain/compromise-world) object, which can be set directly.
It may take some fussing-with, but for my purposes i've been able to avoid `nlp.clone()` and require-reload, by using our new [plugin setup](https://observablehq.com/@spencermountain/compr

[2019-12-04 21:33] #257 closed

[2019-12-04 21:35] #633 closed

[2019-12-04 21:37] #591 closed

[2019-12-04 21:43] spencermountain commented on #582
hey, this seems to work now, in `v12.2.0`. You'll have to import the [compromise-sentences](https://observablehq.com/@spencermountain/compromise-sentences) lib, to do it properly.

Here's a demo
https://runkit.com/spencermountain/5de82834937ebe00199b35ab
cheers

[2019-12-04 21:43] #582 closed

[2019-12-04 21:43] #638 closed

[2019-12-04 21:49] spencermountain commented on #614
hey Janet, think I got these examples working:
https://runkit.com/spencermountain/5de829179a5c59001b7bbbc1

if you're looking for other behaviour, you may be interested in [configuring the .text() method](https://observablehq.com/@spencermountain/compromise-text)

let me know,
cheers

[2019-12-04 21:49] #614 closed

[2019-12-04 21:54] aviv commented on #488
thanks @spencermountain !

[2019-12-05 01:45] Jun711 commented on #627
@spencermountain
This doesn't seem to happen in version 11.12.5.

[code]

[2019-12-05 16:29] Drache93 opened #643 "Changes to nlp clone still affects original nlp"
Hi I'm trying to use multiple instances of nlp each with different plugins `nlp.clone().extend()`. However, since the `world` variable is global, any changes effect all nlp instances.

This can be seen by updating the following test and adding a copy of the first check to the end.

https://github.com/spencermountain/compromise/blob/51f1f158e6fcab14cdbf14f182b0c41f94e513e7/tests/plugin/addWords.tes

[2019-12-05 19:03] spencermountain commented on #643
hey Dominic, you're right. this is a little awkward right now.
This should improve in subsequent versions.
i think the solution i'd use right now would look something like this:
[code]

urgh. I dunno. That looks silly.
I've got a headache this afternoon, but will return to this when i can think more clearly.

[2019-12-06 00:45] ProfJanetDavis commented on #614
Awesome, thanks!

On Wed, Dec 4, 2019 at 1:49 PM spencer kelly <notifications@github.com>
wrote:

--
Janet Davis (she/her or they/them)
Associate Professor and Microsoft Chair of Computer Science, Whitman
College
509-527-5758, http://cs.whitman.edu/~davisj/
Schedule an appointment: http://meetme.so/JanetDavis

[2019-12-06 01:14] ohtangza commented on #557
@spencermountain Checked your message! Looks good now!

cc: @ghsdh3409

[2019-12-06 06:05] joshcanfield opened #644 "Expanding "ain't" returns "ai not""
The example in the docs implies that it should return "are not"

[code]

[2019-12-06 09:36] Drache93 commented on #643
Oooh, I was thinking about swapping in worlds before matching, but I wasn't sure how to access it.

Update: oldDoc.world is read only :D

[2019-12-06 14:45] spencermountain commented on #644
yikes. thank you!

[2019-12-06 14:47] spencermountain commented on #643
ahh, i'm sorry. I'll make it writable now.
Then in the new year, i'll make this all less stupid.

[2019-12-06 15:21] spencermountain commented on #627
hey, yup and this is fixed now in 12.2.0 -
https://runkit.com/spencermountain/5dea71e9cf41210019671ac3
thanks for your patience

[2019-12-06 15:28] spencermountain commented on #589
hey this situation has seems to have been considerably improved as of v12.
can you take a look?

[code]
there's been some changes to normalization, documented [here](https://observablehq.com/@spencermountain/compromise-normalization) - notably number-parsing has been moved to a [seperate plugin](https://observablehq.com/@spencermountain/compromise-numbers)

by the way, i *really* love your Anonymi

[2019-12-06 15:42] changhz commented on #639
@spencermountain you are probably right on the ```.default``` issue. My project was initialised with ```npx create-react-app my-app --template typescript```.

by the way, this is how i extended the original type definitions within my project to make the plugin ```compromise-numbers``` work with typescript (in which i also fixed the wrong return type that the method ```.has()``` was returning:
[cod

[2019-12-06 15:45] Drache93 commented on #643
That's awesome, thanks! Will give it a go when it's up.

[2019-12-06 16:10] spencermountain commented on #639
thank you Honchung i really appreciate this.
I think we're close - i've added those types [here](https://github.com/spencermountain/compromise/blob/dev/plugins/numbers/types/types.d.ts), and added it to the package-json.

What's the process for adding the nlp-numbers types, so typescript knows they're there?
i've tried it [here](https://github.com/spencermountain/compromise/blob/dev/types/types.te

[2019-12-06 19:00] spencermountain commented on #644
fixed in `12.2.1`
thanks 👍

[2019-12-06 19:00] #644 closed

[2019-12-06 19:00] spencermountain commented on #643
`Doc.world` should be writable now. Sorry for the fuss

[2019-12-07 19:51] Drache93 commented on #643
Thanks @spencermountain ! Works great!
End result:

[code]

As long as I don't do any async stuff :D

Thanks for help, enjoy the holidays! And Happy New Year in advance!

[2019-12-08 00:32] changhz commented on #639
Hi Spencer, thank you for your appreciation and for making those changes.

To answer your question:

Since ```nlp-numbers``` isn't a constructor function like ```nlp```, we can't say
[code]

The reality is rather like
[code]

Therefore, in the type definitions of ```nlp-numbers```, the function ```nlpNumbers``` shouldn't exist. And it is righteous to include the method ```numbers() -> Numbers``` i

[2019-12-09 22:52] Jun711 commented on #627
@spencermountain I have a question.
I think with version 11.12.5, it doesn't remove the space at the end of a sentence but with version 12, it trim spaces of a sentences?

[code]

[2019-12-15 20:52] broskees opened #646 "syntax tree / dependency parsing"
Hi, saw this in the readme:

I looked for about 10 minutes for an issue related to this and didn't find one. So please excuse me if I missed it and there is a better place to be placing this.

I was curious if anything has been done in with this front, and if not, my thoughts were that this topic can be the beginning of a discussion related to this.

[2019-12-15 21:50] Arcyvilk opened #647 "Various words incorrectly recognized as nouns when starting with uppercase"
I'm trying to extract all names from the text using the ``ProperNoun`` tag but I'm consistently getting words which should not be classified as one.

Those include words like "Strange", "Irresponsibly", "As", "Was", "Light" etc.
Examples of those from ``.debug()``:

![image](https://user-images.githubusercontent.com/12732348/70869840-1d42fa80-1f8d-11ea-8775-346577d7443a.png)

It can be solved by l

[2019-12-16 21:30] JaredReisinger opened #648 "start-anchor matching may have a bug (in v12)"
Migrating our code to v12 (which is awesome, by the way!), and I'm running into a matching problem.  I've found a super-simple repro case, and will try to provide a PR if I can find the issue in the code... but I want to document it here first.

Take the example:
[code]

The only difference is the addition of the start-anchor (`^`) requirement in the second match... and since the string/document _

[2019-12-16 22:31] JaredReisinger opened #649 "Can't easily run tests on case-sensitive file-system"
There are some mismatches between the cases of file/directory names and references to them in "require" statements.  This is often fine on macOS or Windows, but does not work with case-sensitive file-systems (like ext4 in Linux or inside WSL on Windows).

(I have a forthcoming PR with some simple `git mv` renames that should take care of it... I just want to be able to run all the tests successful

[2019-12-16 23:39] JaredReisinger commented on #648
I've discovered that the ultimate "failure" is coming from https://github.com/spencermountain/compromise/blob/master/src/Term/methods/_doesMatch.js#L15-L17, from where the greedy-loop capture is checking the second `a` in the Doc (Phrase)... because it's the term at index 1, it claims to not match as a "start" item.

The interesting question is "where is the right place to fix this?"  I'm reluctan

[2019-12-17 00:41] JaredReisinger commented on #648
So, yay, I have a fix that only broke the .verbs().adbvers() test, but I think the underlying code for that may have also suffered from this bug, and the Verbs.adverbs() method was _maybe_ not quite right before.... but will be with my PR (🤞).

@spencermountain : One thing I noticed in climbing through the Phrase tryHere/tryMatch code (https://github.com/spencermountain/compromise/blob/master/src/

[2019-12-17 01:04] Arcyvilk opened #652 "Names not recognized as ProperNoun when they are at the start of the text"
Names don't seem to be recognized as ``ProperNoun`` if they are the first word in the entire sample text. However, the same names are properly tagged as ``ProperNoun`` when in any other position in text - even if they open a sentence, if it's not a first sentence in text.

Example:
[code]

![image](https://user-images.githubusercontent.com/12732348/70955433-2a391a00-2071-11ea-9a5d-e0a42881d38a.png

[2019-12-17 06:22] DimaMayd opened #653 "doc.json() is not a function"
Can't figure out how to save or output the file via this function. Seems like the problem of compatibility, though I am so sleepy that I do not know what to do.

`nlp(`Wayne's World, party-time, excellent!! 🎸`).json({offset:true})[0]`
This line, just like in documentation, won't work.

Help!

[2019-12-17 08:27] DimaMayd commented on #639
Why 'compromise-numbers' exactly? Do you mean it's required, even though I don't use numbers in my program?

[2019-12-18 16:57] spencermountain commented on #627
thanks @Jun711

[2019-12-18 17:06] spencermountain commented on #646
hey @broskees i'd love some help with this. I'm not sure I understand the problem very well.

in the compromise-sentences plugin, we have very early stabs at this, which need a lot of work.

The process so far:
* First split by 'clause', which mostly just commas
* grab the ['main clause'](https://github.com/spencermountain/compromise/blob/master/plugins/sentences/src/mainClause.js) which is a kind

[2019-12-18 17:12] spencermountain commented on #647
hey thanks @Arcyvilk , can you make sure you're on v12?
it seems to work as expected here:
https://runkit.com/spencermountain/5dfa5d8ebf9a60001a676fde

cheers

[2019-12-18 17:16] spencermountain commented on #652
thanks @Arcyvilk you're right.
The tagger is more careful about using titlecase as a signal, when it's the first word of a sentence.

fwiw, we should have viktor as a recognized firstname anyways.
maybe we can figure out a way to be more aggressive about this.
cheers

[2019-12-18 17:19] spencermountain commented on #653
hey @DimaMayd are you running v12? This changed a couple weeks ago, and the documentation has been updated

here's an example of it working, cheers
https://runkit.com/spencermountain/5dfa5f4475cce3001921e650

[2019-12-18 17:19] #653 closed

[2019-12-18 17:21] spencermountain commented on #639
thank you @changhz !

@DimaMayd you only need to include the plugin if you're using the `.numbers()` functions.

[2019-12-18 19:39] #649 closed

[2019-12-18 19:41] Drache93 commented on #546
Bump...I was looking at something similar. I created/parse a syntax like this `flight from [0: #city] to [1: #city]`, and convert it into `flight from [#city] to #city` + `flight from #city to [#city]`.

It's a start if anyone is still interested, works for me. Named would be nice. I'm doing it this way so I know the order of the terms to then use later as arguments in a function (to generate outp

[2019-12-18 19:49] #648 closed

[2019-12-18 21:45] spencermountain commented on #546
hey @Drache93 that's really neat. I'd love to see it, if it's available.
You two are right, i am always doing this:
[code]
the `[]` syntax is already taken for [capture groups](https://observablehq.com/@spencermountain/compromise-match-syntax), which is admittedly an awkward choice...

hmmm.

if our string-syntax is already too-dense, maybe we should surface and add support for this in a json synt

[2019-12-18 21:51] Drache93 opened #654 "Capture group doesn't work for .+ or *"
Quick one since we're all ready for the holidays!
Happy to go into more detail when people are free.

Capture groups seem to capture everything BEFORE your target, if using `.+` or `*`. Using OR `(#Noun|#Verb)+` works fine.

Quick console example:

[code]

Last two examples are correct and expected behaviour of the first 2.

[2019-12-18 21:57] Drache93 commented on #546
Hmm that's pretty interesting. I'd be tempted to leave the `normal` as a pure string, and require spaces to defined:

[code]

[2019-12-18 22:48] Arcyvilk commented on #647
I'm using version 12.2.1.

I did some more tests and it seems it might be related to #652 . When the word "Pretty" is the first word of the entire text, it's properly recognized as ``Adjective``. If it's still the first word in the sentence, but its sentence is not the first sentence of the entire text, it's assigned tags `Noun` and `ProperNoun`.

I reproduced it here: https://runkit.com/arcyvilk/

[2019-12-19 02:32] DimaMayd commented on #653
The problem is I get the following error:
`nlp(...).json is not a function. `

I use browserify to run the program, though the error happens even when I create local server and run my code on it.

bundle.js essentially is the code from my main file, converted via the browserify extension to support nodejs in the browser:
**main.js:**
[code]

![image](https://user-images.githubusercontent.com/36950

[2019-12-19 15:04] spencermountain commented on #647
ah, thank you. Will check it out.

[2019-12-19 15:34] spencermountain commented on #654
ah, thank you.
Looking into the issue, i guess I see what [this comment](https://github.com/spencermountain/compromise/blob/dev/src/Phrase/match/03-tryMatch.js#L75) is for ;).

um, maybe I could ask your advice on something similar that I got stuck on -
It may be the same issue:
[code]

I think your examples are the same as #2, right?
this stuff does my head in.
thanks

[2019-12-19 16:30] spencermountain commented on #640
let me know if you can find it, thanks.

[2019-12-19 16:30] #640 closed

[2019-12-19 22:04] Drache93 commented on #654
Yeh was wondering about those comments :D Will take a look at the above tomorrow!

[2019-12-19 22:13] broskees commented on #646
I'd love to; boilerplate code would be extremely helpful.

I understand the issue on some fundamental level. However, I've been doing a great bit of learning more about it for a project I'm currently involved with. So, rather than let that all go to waste, maybe I can get it out in some code and not only achieve the goal I'm going for but make a contribution.

Let me know what you come up with. I'

[2019-12-20 07:47] changhz opened #656 "[type definitions] Document.has() should return boolean instead of Document"
https://github.com/spencermountain/compromise/blob/master/types/index.d.ts#L69

[2019-12-20 10:48] Drache93 commented on #639
One option I was looking at was to use the returned value from `.extend`.
If plugins return a world, we can use that type to enhance the NLP type.

[code]
![image](https://user-images.githubusercontent.com/11555071/71249762-d1d67680-2315-11ea-95f5-5a534eb90746.png)

Best part is by inferring the current world type stored on the NLP type, we can keep adding to it with more extends.

![image](https:

[2019-12-20 11:31] Drache93 commented on #654
You might be able to shed some light here...

[code]

Before the result actually get's returned as a doc, the match gets run quite a number of times, with differing result, I'm printing out the sliced terms and the current regs:

[code]

Second last line get's us into here https://github.com/spencermountain/compromise/blob/dev/src/Phrase/match/03-tryMatch.js#L97 which is where things go wrong. I d

[2019-12-20 14:24] spencermountain commented on #654
yeah, for cleaner logs i either run `nlp.tokenize()` or i comment-out [this line](https://github.com/spencermountain/compromise/blob/master/src/02-tagger/index.js#L20) to reduce the number of match statements run by the tagger.

if you're looking at a pr today/tomorrow, use the dev branch. I've got a bunch of fixes there

[2019-12-20 16:29] Drache93 commented on #654
Ah that's fair, I'll take another look. Thanks, not in any rush this year!

[2019-12-20 22:44] Jun711 commented on #627
@spencermountain Thanks for replying.
I think either way is fine. I just wanted to know if you will keep spaces at the end of input text.
With version 11.12.5, it seems to keep but with version 12, it seems to remove.

By reopening this issue, are you changing it to keep spaces at the end of input text?

[2019-12-22 20:59] spencermountain commented on #656
thanks. will add it to 12.3 in the next few days.

[2019-12-30 06:52] issuefiler opened #657 "Not every dot is a period for a sentence."
https://github.com/spencermountain/compromise/blob/5163649736d4ef1657a1e198b4c776457a851892/src/01-tokenizer/index.js#L45

https://github.com/spencermountain/compromise/blob/5163649736d4ef1657a1e198b4c776457a851892/builds/compromise.mjs#L3103

-----

[code]

throws a `TypeError: Cannot read property 'id' of undefined`.

[2020-01-02 19:23] spencermountain commented on #646
ok thanks @broskees i'll create a repo for us to experiment on this with

[2020-01-02 19:29] spencermountain commented on #657
i'm glad you found this. I have it fixed on dev, and I was surprised nobody else saw it.
I just didn't wanna release it over the holidays.
Will try and release `12.3` in the next few days.
cheers

[2020-01-02 20:37] spencermountain commented on #646
hey @broskees i've created a repo with some rough proof-of-concept [here](https://github.com/nlp-compromise/dependency)

Feel free to take it for a spin. You'll need to install compromise as a peerDependency, like
`npm i --no-save compromise`

then if you run `node ./scratch.js` you'll see a basic parsing and response of a sentence.

I built-up a weird `Tree` and `Node` class structure, though I h

[2020-01-03 17:44] SankarshanDudhate opened #658 "out('tags') outputs numerical value's tags first"
`var s = nlp('comes 19 after 18');
for( key in s.out('tags')[0] )  console.log( s.out('tags')[0][key] );`

This outputs
`[ 'Cardinal', 'Value', 'NumericValue' ]
[ 'Cardinal', 'Value', 'NumericValue' ]
[ 'PresentTense', 'Verb' ]
[ 'Preposition' ]`

Clearly the order is different. Why so?

P.S. I have also noticed that out('tags') works differently now. In my old code, I used to use out('tags')[i] t

[2020-01-04 13:07] Gardamuse opened #659 "Sentences prepend does not repair titlecasing"
Using the same example as in `compromise/plugins/sentences/tests/misc.test.js`, this:
[code]
Outputs `so i think He is cool.`

I would expect it to output `So i think he is cool.`

This is using compromise 12.2.1 and compromise-sentences 0.0.3 from npm.

[2020-01-04 15:23] Gardamuse commented on #659
Sentences prepend does work correctly.

Turns out I was just using the built-in prepend function rather than the sentences plugin one. I hadn't realized I needed to run `nlp.extend(sentences)` with the sentences plugin to actually use it.

[2020-01-04 15:23] #659 closed

[2020-01-05 16:47] SankarshanDudhate opened #660 "Gerund falsely tagged as noun"
Hi there... I remember there was once an issue about gerunds not being tagged as nouns. Now, they're sometimes falsely tagged as nouns.

![Screenshot (177)](https://user-images.githubusercontent.com/18144503/71783128-3da02b00-3008-11ea-9927-887457207e2c.png)

As far as I have noticed, if gerunds are followed by either a Copula or modal, they're tagged as nouns. There might be other patterns too. I

[2020-01-05 16:56] spencermountain commented on #658
hey @SankarshanDudhate yes, the order in a javascript object is not to be relied on, and there is no meaning to the order in `.out('tags')`.

You may want to [check out](https://observablehq.com/@spencermountain/compromise-json) `.json({bestTag:true})`
cheers!

[2020-01-05 16:56] #658 closed

[2020-01-05 16:57] spencermountain commented on #660
ah, thanks. Good find.

[2020-01-07 15:29] Drache93 commented on #657
Just a note on this one, setting the travis build to include current LTS node actually results in this error being thrown during build:

https://travis-ci.org/spencermountain/compromise/jobs/633820174?utm_medium=notification&utm_source=github_status

[2020-01-10 15:34] spencermountain commented on #369
holy, this is a really useful list. Going through some more for `12.3.0`
thanks again.

[2020-01-10 17:05] Drache93 commented on #643
@spencermountain Tried a little experiment with this:

[code]

Instance wrapper for nlp - probably massively breaking...
Basically all new instances use a clone of the "global world" meaning you can still share plugins etc. but also make local changes separately

[2020-01-10 19:21] spencermountain commented on #369
remaining:
[code]

[2020-01-10 19:50] spencermountain commented on #585
fixed in `12.3.0`.
thanks

[2020-01-10 19:50] #585 closed

[2020-01-10 19:50] spencermountain commented on #369
think I got em all, let me know if you see any others
thanks

[2020-01-10 19:50] #369 closed

[2020-01-10 19:51] spencermountain commented on #657
got this fixed in `12.3.0`, thanks for your patience!

[2020-01-10 19:51] #657 closed

[2020-01-10 19:59] #656 closed

[2020-01-10 20:01] spencermountain commented on #647
think it's fixed on `12.3.0`
lemme know if it still comes up.
thanks

[2020-01-10 20:01] #647 closed

[2020-01-10 21:49] broskees commented on #646
Hey @spencermountain I'll do my best to give this a whirl this weekend (overall this is probably a bigger tackle than just some time this weekend, but I'll chip away at it). I'll let you know what I come up with.

[2020-01-10 22:53] spencermountain commented on #643
I LIKE THAT!!

[2020-01-14 15:09] spencermountain commented on #643
apologies, maybe the coffee hasn't kicked-in yet.

is it possible to get one `nlp` where marko is a place, and one where it's a person now? I haven't been able to figure it out yet.

[code]
That's a huge improvement, if that's possible.
cheers

[2020-01-14 15:57] Drache93 commented on #643
That's the idea! Worked in the tests:

[code]

[2020-01-14 16:57] spencermountain commented on #643
ah, thank you.
yeah, this is looking great.

I guess we don't really need `nlp.clone` anymore - it doesn't (and never did) produce an independent copy. I can remove it in the next major release.

any feelings on alternate names instead of `.instance()`?
Do you have any feelings about `.original()`??  `.default()`?
Been paging through my thesaurus and that's the best I've come up with.

[2020-01-14 17:33] Drache93 commented on #643
Haha :D `.new` feels weird in JS. Also it's not original or default considering it's still uses the global world (could always add a Boolean for totally fresh)

Shame clone is used :D `copy()`?

[2020-01-14 18:09] Drache93 commented on #643
Could export the instance function as a contractor and use it as `new NLP()`? Think that's do able...

[2020-01-14 18:20] spencermountain commented on #643
right, hmm...

You're free to change `.clone()` in any way - that would be best, if it deep-copied whatever dirty state the library is at. I'm not sure if that's an easy change or not.

I'm thinking too about memory-usage - if we had to keep a fresh copy of World around, that may double our memory usage.
Although that doesn't seem to be a problem anywhere, these days.

[2020-01-14 18:27] Drache93 commented on #643
True, but we'd only do it because a person specifically chose to make a fresh instance, so their choosing to using more memory :D.

Maybe we just fix clone to create a fresh instance with cloned world? Breaking change if people are using it currently with the assumption changes go backwards. So no global world, and no new worlds. Just selective cloning. Again can always have a Boolean for empty cl

[2020-01-14 18:28] spencermountain commented on #643
👌

[2020-01-16 09:27] virustotalop commented on #589
@spencermountain
Based on the output that you gave it seems that the bug is resolved. I don't have a proper environment to test the output but everything seems fixed to me, I'll make sure to make a report if I run into the bug in the future. Also thank you for the words of encouragement related to my AnoymizingText library, I wrote the project as my senior capstone project for the University that

[2020-01-16 09:27] #589 closed

[2020-01-16 19:57] #643 closed

[2020-01-17 15:59] Drache93 commented on #654
Will take another look at this next!

[2020-01-17 18:40] spencermountain commented on #654
hey @Drache93 I just discovered the `.export()` format bungles any sentence with a contraction. It's kind of bad. I should have caught this before now.

It'll require a breaking change -  the good news though, is that it's an opportunity to change anything you'd like in this release - so free license to you.
Take a crack at anything you want.

[2020-01-17 18:45] spencermountain opened #669 ".export() and .load() mishandle contractions"
the `.export()` -> `.load()` pathway has a major issue, since v12.

any sentence with a contraction (`I'm`, `they're`, etc) will be mis-tagged once it's loaded with `.load()`.

It is not recommended to use `.export()` until `v13` is released (ETA next week).

If you are not using `.export()`, you do not have a problem.

Apologies to any early-adopters of `.export()`. Existing documents will need t

[2020-01-17 19:59] Drache93 commented on #654
Ah bad luck! Haha that's a dangerous idea! 😂

Would you be up for selecting and or creating some good issues for next version that are big enough? Might as well get other breaking changes and/or just major stuff too! Ooh, I wonder if a hook into the HTML output might be good for creating react content...

[2020-01-20 00:16] kelvinhammond opened #671 "dates() fails to parse "next week""
`dates()` fails to parse `"next week"` properly.
It parses it but does not create a date for this.

This library can parse dates well (as does your spacetime library) including `next week`.
https://github.com/wanasit/chrono

Thank you for creating this library. I appreciate your work.

[2020-01-20 09:55] Drache93 opened #672 "Performance"
Performance is obviously great :D But just wanted to start a discussion.

* I noticed a lot of time is spent on the corrections,
![image](https://user-images.githubusercontent.com/11555071/72716425-0e420000-3b6a-11ea-95f6-66156c3f79c9.png)

* UnTag is called surprisingly often (6th place in nlp, and 1st place in `lookups`) - I'm probably wrong, but is this called because compromise changes its min

[2020-01-20 10:14] Drache93 commented on #622
Hey @ProfJanetDavis ! Could you give an example of how you're using the `replaceWith`? Would be great to debug any issues with it.

[2020-01-20 13:50] spencermountain commented on #671
Thanks Kevin. yeah compromise-date is pretty weak right now. Getting it stronger is one of my new-years resolutions. In december my goal was to simply get it 'out the door' for v12, but I have decided to dedicate significant time to it this year.
Thanks for your patience

[2020-01-20 14:43] spencermountain commented on #672
Hey, this is a great observation. You may be on to something.

You're right, `./corrections` accounts for >3/4 of the parsing time. It's definitely the place to look at improving performance.

You may have seen this, in `./world/tags` theres a messy tag-conflict concept, (called **notA** ). At runtime, each tag is given a list of tags it is in conflict with:
[code]
Anyways, each time a term gets a

[2020-01-20 14:50] spencermountain commented on #672
ok last thing -
if you look at `nlp().world.tags.Auxiliary.notA`, for example, you'll see it is exhaustive, and has redundant tags `['Person', 'LastName']`.

v11 had just `['Person']`, but then recursed through the notA data for Person, etc.

That may be faster, that may be slower. I have no idea.

I guess what i'm saying is there may be _conceptual_ wins to make here, if you can find them.
Someth

[2020-01-20 14:50] spencermountain commented on #672
ok last thing -
if you look at `nlp().world.tags.Auxiliary.notA`, for example, you'll see it is exhaustive, and has redundant tags `['Person', 'LastName']`.

v11 had just `['Person']`, but then recursed through the notA data for Person, etc.

That may be faster, that may be slower. I have no idea.

I guess what i'm saying is there may be _conceptual_ wins to make here, if you can find them.
Someth

[2020-01-20 15:28] Drache93 commented on #672
haha thanks 😂 Sounds like fun!
I would imagine top 3 sounds fair, if we can avoid running it, probably should. I think I'll take a look at your 3rd point especially, we can probably do more to prepare the tags ahead of time to avoid tooo much processing, just need to keep the prep very concise...

I was looking a little and published my test branch I started: `feature/672/perf`
Basically wget the

[2020-01-20 17:02] Drache93 commented on #672
I'll make a PR to play with results....

[2020-01-20 17:24] spencermountain commented on #672
yeah, the conflicts are inferred from 'descendant' tags - 'LastName' collects all the assumptions of 'Person' (in `./words/tags/inference`) - that works.

but to be honest, I can't remember if the _'incoming conflicts'_ are inferred as well. Maybe they should be. I reckon any conflict ought to be symmetric, like Person != Place.

[2020-01-20 18:17] Drache93 commented on #672
Yeh that would make sense, haven't had a chance to look yet. But that might be a good place to start, store the conflicts in a map so we can skip some steps

[2020-01-20 18:18] #654 closed

[2020-01-20 18:23] kelvinhammond opened #675 "Failure to parse .* with optional word"
The following fails to parse correctly.
[code]

[2020-01-20 18:35] spencermountain commented on #675
hey, sorry about that @kelvinhammond we must have moved date tagging too aggresively over to the date plugin.

this should fix it:
[code]
will add these words back to the default lex for 12.3
cheers

[2020-01-20 23:10] kelvinhammond commented on #675
Thanks for the quick fix.